<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/attica-6.1.0.tar.xz">attica-6.1.0</a></td>
   <td align="right">67kB</td>
   <td><tt>8b3dcac9a6753a9d0f780782c30f369ded3f531c478e95ca1c195384ad7db5a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/baloo-6.1.0.tar.xz">baloo-6.1.0</a></td>
   <td align="right">312kB</td>
   <td><tt>54d821c4dc12191b3f1aeb5e753c1078c8bb46f1515d020467705d7f7c59ccaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/bluez-qt-6.1.0.tar.xz">bluez-qt-6.1.0</a></td>
   <td align="right">114kB</td>
   <td><tt>f9424ef15e07f8174f06911af4616a06dd88addda975f954f96eaaa871cd8ebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/breeze-icons-6.1.0.tar.xz">breeze-icons-6.1.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b1ba802d0d0dbd0ecd786cbdfaaf545f2dd3c217966b894b9321a2a18426a16a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/extra-cmake-modules-6.1.0.tar.xz">extra-cmake-modules-6.1.0</a></td>
   <td align="right">333kB</td>
   <td><tt>76c9edf00807e6cf8d4ae35f5195b4bc3fe94648d976fef532bf7f97d86388bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/frameworkintegration-6.1.0.tar.xz">frameworkintegration-6.1.0</a></td>
   <td align="right">53kB</td>
   <td><tt>47bb38a778b94405bd9e251be774ba910c2b85cd6a4512ba1f6e9b6f879144e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kapidox-6.1.0.tar.xz">kapidox-6.1.0</a></td>
   <td align="right">194kB</td>
   <td><tt>b129f169fa2993aca898e72619d3dbafa3b07e89bff4bd3cba7361dd04bc5c15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/karchive-6.1.0.tar.xz">karchive-6.1.0</a></td>
   <td align="right">1007kB</td>
   <td><tt>576c7133cfb994b530bd7377030b926bda227aa2ae420d5d8538f2681926f82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kauth-6.1.0.tar.xz">kauth-6.1.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>47e7804020805098cc9ab370b6c539991bb028041faaf5a619ab7cb2b992f08b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kbookmarks-6.1.0.tar.xz">kbookmarks-6.1.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b763563217c1e3e84834b4b7779891c4512e8fd27cb2b53af00a2ab7612d4747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kcalendarcore-6.1.0.tar.xz">kcalendarcore-6.1.0</a></td>
   <td align="right">255kB</td>
   <td><tt>1cffef32a4076b79c26705e12043fcb76cbbfcaef8c120ef40b858cc44a2139b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kcmutils-6.1.0.tar.xz">kcmutils-6.1.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3d179b9a8ae6636ea3351e5be0414a34991a7a1f514ea492d248b68315ec2a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kcodecs-6.1.0.tar.xz">kcodecs-6.1.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f1f0075955b2dd613b5c5f7999844ea1f9e0a09ff3f2cb230653ae9cbd843816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kcolorscheme-6.1.0.tar.xz">kcolorscheme-6.1.0</a></td>
   <td align="right">43kB</td>
   <td><tt>c30aa87f3a606807c4068dab0080392bdca49f8fbef18553e1a7de0f7c5b036a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kcompletion-6.1.0.tar.xz">kcompletion-6.1.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>e1e0bebe1edd88bea08bb0f47846d23624e34486df9c3a3380697fc4118449c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kconfig-6.1.0.tar.xz">kconfig-6.1.0</a></td>
   <td align="right">286kB</td>
   <td><tt>2fda5f25beac5260a70f3f629144b5c229bf352cae208893ed44a9732c6dcaf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kconfigwidgets-6.1.0.tar.xz">kconfigwidgets-6.1.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0b252b2e796ff6f05e94ab92130fe739e4fe698c223230be936b579e9df9d171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kcontacts-6.1.0.tar.xz">kcontacts-6.1.0</a></td>
   <td align="right">202kB</td>
   <td><tt>bed0be5b8302cf4d749120234c98d0dc629da04a0123694138681a022184264e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kcoreaddons-6.1.0.tar.xz">kcoreaddons-6.1.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7608ef9a2483b28a3af82a3024054cdb3c58cf1fdfbd791a02f70efc80ea3343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kcrash-6.1.0.tar.xz">kcrash-6.1.0</a></td>
   <td align="right">28kB</td>
   <td><tt>727f82e9767c2f647b7ee6bd79d51ebd40691271320dcb7835a30cf8806479ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kdav-6.1.0.tar.xz">kdav-6.1.0</a></td>
   <td align="right">66kB</td>
   <td><tt>6444d3ea581d514fb82af942d092b0bc0613a1aca2fa2313a90002d148594c2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kdbusaddons-6.1.0.tar.xz">kdbusaddons-6.1.0</a></td>
   <td align="right">45kB</td>
   <td><tt>b423a4ca1fcab973b9454386efbaf5dc2c642d21ee9125d73b8fc67f80463541</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kdeclarative-6.1.0.tar.xz">kdeclarative-6.1.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f94138d62e17355812f37613aa936fad2e5140fe4f09a9e42e4d9bfa9881c702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kded-6.1.0.tar.xz">kded-6.1.0</a></td>
   <td align="right">31kB</td>
   <td><tt>b18d0ef236995c19da926e5ba3f248689850ffde660eb86b18ab68e87b119ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kdesu-6.1.0.tar.xz">kdesu-6.1.0</a></td>
   <td align="right">55kB</td>
   <td><tt>a6a397e08ccd3537dc9b1329e8cc1f05ca6acf3d9c18396e4118e51446ba827e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kdnssd-6.1.0.tar.xz">kdnssd-6.1.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3b981f7a69f265ed331346f56d4030d31bbdf1d936f62c276c7e333b3b67b712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kdoctools-6.1.0.tar.xz">kdoctools-6.1.0</a></td>
   <td align="right">449kB</td>
   <td><tt>240254adbb52184a571072068bf504bbc3579eb9811983c6a3795563260ef3b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kfilemetadata-6.1.0.tar.xz">kfilemetadata-6.1.0</a></td>
   <td align="right">578kB</td>
   <td><tt>d52a782c54eae5da32912ca876f1975fb7e4bffe1cb1e17226d83614ab3bb1ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kglobalaccel-6.1.0.tar.xz">kglobalaccel-6.1.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>885b13d3888eebe585589dc288e3826044ab5bf3b8e2a749b9070d93d32f64f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kguiaddons-6.1.0.tar.xz">kguiaddons-6.1.0</a></td>
   <td align="right">80kB</td>
   <td><tt>08d88452ae4bcdc073891499d9b414129cdc5982bd3bad88726dbef28ee5ac53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kholidays-6.1.0.tar.xz">kholidays-6.1.0</a></td>
   <td align="right">248kB</td>
   <td><tt>83661559ab5770cd561902eeb81be5171922435b539d97f4bc17277da4b9730a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/ki18n-6.1.0.tar.xz">ki18n-6.1.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>163219f1b5c9dea7aaea6ddc4a0d28a8b9e1884d239cf5633e684c2148517648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kiconthemes-6.1.0.tar.xz">kiconthemes-6.1.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>79ce77701d4194796e2c255008f19071460aa03ff208a2117fc4e4c9310c3402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kidletime-6.1.0.tar.xz">kidletime-6.1.0</a></td>
   <td align="right">30kB</td>
   <td><tt>c8d85c129fd2e9520bec3aa9670449b4ea2cf092060a54fdb24cba63475faf3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kimageformats-6.1.0.tar.xz">kimageformats-6.1.0</a></td>
   <td align="right">15MB</td>
   <td><tt>b033fa058ab4c9657e1bcd682a89ca94a5b881e7904dddee6aab4a14bafcc95e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kio-6.1.0.tar.xz">kio-6.1.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>47cb00258ca38f9c1ee2aa7929f5b12bc7d99cb580da560ada71050fa089ffd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kirigami-6.1.0.tar.xz">kirigami-6.1.0</a></td>
   <td align="right">461kB</td>
   <td><tt>2a5438186b6cf8847a579c030fed3778638e5fb4e5eb54f71dc2602da4607196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kitemmodels-6.1.0.tar.xz">kitemmodels-6.1.0</a></td>
   <td align="right">389kB</td>
   <td><tt>5167d32af69bf00f6c9531c89513d54bffe16edd34a9e948efb49e9235e3e302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kitemviews-6.1.0.tar.xz">kitemviews-6.1.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e9e86c2aa49278c38959b1804fe1c6c2057f3e9be896091f898fb81692b20a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kjobwidgets-6.1.0.tar.xz">kjobwidgets-6.1.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ac79ddb48b38527a605a9564485ad370cbcfdb406b95e0f9255d55256454fdb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/knewstuff-6.1.0.tar.xz">knewstuff-6.1.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>1c6a076410538084021cff1eeb02be2f34280284717a34290d42b11dfe3b3d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/knotifications-6.1.0.tar.xz">knotifications-6.1.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>02f36f4bc1d2d1094e1b0203a34e037cec78303c6aad9d69f9ac8c7388acfcab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/knotifyconfig-6.1.0.tar.xz">knotifyconfig-6.1.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>dfe85a45500470a306df3176f665af2589521ef5090612e7a82ec618e061fe87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kpackage-6.1.0.tar.xz">kpackage-6.1.0</a></td>
   <td align="right">175kB</td>
   <td><tt>ed75912b416580a4f9acdbedee31e590b197e157cda1dea13ad28751116b52af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kparts-6.1.0.tar.xz">kparts-6.1.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>dfca27e3d4fe7fa7038cbad3d3a0a955c570bd73b5bc0aceb3900e071495101d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kpeople-6.1.0.tar.xz">kpeople-6.1.0</a></td>
   <td align="right">65kB</td>
   <td><tt>a5fa2e2e67b1a9ad65ec95a95201af28e20dc462e9d31007034ad4da578e1d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kplotting-6.1.0.tar.xz">kplotting-6.1.0</a></td>
   <td align="right">33kB</td>
   <td><tt>bb21319725b20382a44a9be2d70c76a5eb58e6c80cf28b6f314f49e9cb73b1fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kpty-6.1.0.tar.xz">kpty-6.1.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>df226cd90ba6f773560404c799562b2764ad39d4f41f15105f2ed9f9b2cf59df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kquickcharts-6.1.0.tar.xz">kquickcharts-6.1.0</a></td>
   <td align="right">107kB</td>
   <td><tt>761b5738ff1a1bb1fe68f0427e2888e25c901b6fad4401676386e27a06e3a4c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/krunner-6.1.0.tar.xz">krunner-6.1.0</a></td>
   <td align="right">127kB</td>
   <td><tt>faa21f990d9886659ed44c753ccf8d77ceb07df94e84c01893f93b08e06760d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kservice-6.1.0.tar.xz">kservice-6.1.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ee2ee7fde2c47955890876f890a0d16792f29b0cc74fd296ccab153d8b5ce781</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kstatusnotifieritem-6.1.0.tar.xz">kstatusnotifieritem-6.1.0</a></td>
   <td align="right">46kB</td>
   <td><tt>93e2c9caa70d4cce8059aa6cb81e5b161d405701db184ddff81303fa24fdef14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/ksvg-6.1.0.tar.xz">ksvg-6.1.0</a></td>
   <td align="right">87kB</td>
   <td><tt>286a8e1ec8678d761960a3cd2b4c0e9dc837ef5e9b6396bc8d76b0feb71b6b5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/ktexteditor-6.1.0.tar.xz">ktexteditor-6.1.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3ba18f41ef5e57fe868dc295d01852d31b1590c0be893ac97ceed9229b09a9df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/ktexttemplate-6.1.0.tar.xz">ktexttemplate-6.1.0</a></td>
   <td align="right">827kB</td>
   <td><tt>2226f9472add196afd5b8b75b953a42d8249316437ed060d024462777e2df371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/ktextwidgets-6.1.0.tar.xz">ktextwidgets-6.1.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>72cd44721c9209cc17bf3e8e1dccba823bcbe8156aa370205c5ce1ff746b6553</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kunitconversion-6.1.0.tar.xz">kunitconversion-6.1.0</a></td>
   <td align="right">888kB</td>
   <td><tt>df6de6f2d41b3943b31ccec051013cb0d4fc6e9979a8e5232e6436e390b331ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kuserfeedback-6.1.0.tar.xz">kuserfeedback-6.1.0</a></td>
   <td align="right">248kB</td>
   <td><tt>cdfa46fd02773f25820d5a8017d6ca9746d1054cf44e3ae33fff691eb266bc5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kwallet-6.1.0.tar.xz">kwallet-6.1.0</a></td>
   <td align="right">343kB</td>
   <td><tt>cf92adbbdfe7643a4e0f93a8d229626fb859fe903d0b4b5841ad114175b84613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kwidgetsaddons-6.1.0.tar.xz">kwidgetsaddons-6.1.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>81225d7ec2d6ea738ded55fe41978deb639c3f77a2daad0eb2e5423aa046e4ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kwindowsystem-6.1.0.tar.xz">kwindowsystem-6.1.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>8c07543883aaa38b01508f06b4439559d890770006f8e9f6e8e769c5d4226595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/kxmlgui-6.1.0.tar.xz">kxmlgui-6.1.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>825ba02aadcabc1ce13a5583295c8b1036c2f14bd1fa46b26431edc44cc6cf0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/modemmanager-qt-6.1.0.tar.xz">modemmanager-qt-6.1.0</a></td>
   <td align="right">120kB</td>
   <td><tt>853baef5bd810c8a64d4c60f748ef1842b7368e6a952a2f93cd48d85eb5f4970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/networkmanager-qt-6.1.0.tar.xz">networkmanager-qt-6.1.0</a></td>
   <td align="right">195kB</td>
   <td><tt>6e4979b5f889afcff4f8c7417e283c1db9e4df36ca0628bb3ebef09b62abd302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/prison-6.1.0.tar.xz">prison-6.1.0</a></td>
   <td align="right">54kB</td>
   <td><tt>1708710769af1953e7f3cca150d43bdb96208564f894779eb397b67cf5261ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/purpose-6.1.0.tar.xz">purpose-6.1.0</a></td>
   <td align="right">171kB</td>
   <td><tt>4612fff4ce512796422f4bde3efa8f5ff63f96b8b7d92e48f87f96c89e21198e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/qqc2-desktop-style-6.1.0.tar.xz">qqc2-desktop-style-6.1.0</a></td>
   <td align="right">82kB</td>
   <td><tt>e91d9abcf9169eca357e7dc8b7fc504a3b7e5eff324feaa6ffecc8091e1622d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/solid-6.1.0.tar.xz">solid-6.1.0</a></td>
   <td align="right">299kB</td>
   <td><tt>074a984b58ef51017ee767548bfce0ca00bb710e88a4ab00bc9020a46cfa4262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/sonnet-6.1.0.tar.xz">sonnet-6.1.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c13ceb4826ac4fd027bb08524aa73393cd8aa0c6719af8b6314d0bd180a2ebfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/syndication-6.1.0.tar.xz">syndication-6.1.0</a></td>
   <td align="right">556kB</td>
   <td><tt>09d5394a2e3024c1188be7b690347b79fc2141a6d1b833bc5b494bdcc32f9683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/syntax-highlighting-6.1.0.tar.xz">syntax-highlighting-6.1.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>1e7449052b0e3e97d615d6157e5647958e9bb98fa5d8f9c5d694829c5d67cab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.1/threadweaver-6.1.0.tar.xz">threadweaver-6.1.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dda5d5508d61707eb4cbd044f371e34480ff2f44381adc4cd1b703cf4e458dc8</tt></td>
</tr>

</table>
