<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/aura-browser-5.27.2.tar.xz">aura-browser-5.27.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5957165142b17c60255eb652c68f121038b5d0fe0490e8ec8e5cb4d5c7fe2166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/bluedevil-5.27.2.tar.xz">bluedevil-5.27.2</a></td>
   <td align="right">355kB</td>
   <td><tt>0180bbf551892ff572c3103e58aa5470771c338d76ec1f331bd0471c3dc1766c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/breeze-5.27.2.tar.xz">breeze-5.27.2</a></td>
   <td align="right">83MB</td>
   <td><tt>145d0ac48a41d0589827b5ce5a3f4e653d1d39a67c645935d02ada62254559aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/breeze-grub-5.27.2.tar.xz">breeze-grub-5.27.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e41d4cd00ce465993f7554a8434741fa286f88c4c6e9807e50eb6e4ffd2628bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/breeze-gtk-5.27.2.tar.xz">breeze-gtk-5.27.2</a></td>
   <td align="right">39kB</td>
   <td><tt>c18dfa50359efc266ea9e30bf5141dc1f2c295bc87c8a52aa065a55f99586502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/breeze-plymouth-5.27.2.tar.xz">breeze-plymouth-5.27.2</a></td>
   <td align="right">108kB</td>
   <td><tt>bd121068e20b6b92c2b825962a0b11c84cd7597a79fd43e85c6ffe2b2b9073fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/discover-5.27.2.tar.xz">discover-5.27.2</a></td>
   <td align="right">837kB</td>
   <td><tt>2c1ba279ec15f88472e6d2e13ce10054ba9fad628428f41bdb10f2cd58a8962d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/drkonqi-5.27.2.tar.xz">drkonqi-5.27.2</a></td>
   <td align="right">833kB</td>
   <td><tt>a674ed7a9c1e65ebda5abd8714a7435d9a7cf7094bf200738f0d50d5f1f9923b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/flatpak-kcm-5.27.2.2.tar.xz">flatpak-kcm-5.27.2.2</a></td>
   <td align="right">199kB</td>
   <td><tt>14a69a0fdc2274749c3420acee6c1e712415bb98d02bc5189fd1e510be4f015b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kactivitymanagerd-5.27.2.tar.xz">kactivitymanagerd-5.27.2</a></td>
   <td align="right">121kB</td>
   <td><tt>3dee273247aa16e2145134142e7aa476417c4da46b1269261bc2e15026f622da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kde-cli-tools-5.27.2.tar.xz">kde-cli-tools-5.27.2</a></td>
   <td align="right">641kB</td>
   <td><tt>d5b57baad1e2f12923b4cf25f8559b6592adf21b8f2b9ec536b2fb74a24836a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kdecoration-5.27.2.tar.xz">kdecoration-5.27.2</a></td>
   <td align="right">51kB</td>
   <td><tt>b5ed3f4a3dbfbef0d20a82ae50236998f050d9b59a279ae5f1d848697a0fba75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kde-gtk-config-5.27.2.tar.xz">kde-gtk-config-5.27.2</a></td>
   <td align="right">73kB</td>
   <td><tt>ca2dfe01e4d9ef65dccb369a77bf7acaeb02bc8866a70a3ec23b2905cdfe98d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kdeplasma-addons-5.27.2.tar.xz">kdeplasma-addons-5.27.2</a></td>
   <td align="right">797kB</td>
   <td><tt>29346e2d0d71248e58cdbe3e11ce995e2b42bbeb5c88095b2955a619b87520bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kgamma5-5.27.2.tar.xz">kgamma5-5.27.2</a></td>
   <td align="right">84kB</td>
   <td><tt>4f0c06a9f383396b9bf4cefdb5bcfccd3bbf9b91df4fc2db0e98f86a8d68b90d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/khotkeys-5.27.2.tar.xz">khotkeys-5.27.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>17bb29a85444b812b3928699f821e66f9196a59fee6280709a9d3664fa31db09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kinfocenter-5.27.2.tar.xz">kinfocenter-5.27.2</a></td>
   <td align="right">991kB</td>
   <td><tt>bc563cc49acc12476834d8d1555b5e8265a9237060a3af95a426c8ccb0eb20ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kmenuedit-5.27.2.tar.xz">kmenuedit-5.27.2</a></td>
   <td align="right">904kB</td>
   <td><tt>2775f781aaedf087a4dc05a96ee047b4320f4a717cd95f9d4d77e521fa21c1ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kpipewire-5.27.2.tar.xz">kpipewire-5.27.2</a></td>
   <td align="right">56kB</td>
   <td><tt>0976f0fd8ee501f5632b60142f8b554034ebd55a9a41359c467b44aa12e125f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kscreen-5.27.2.tar.xz">kscreen-5.27.2</a></td>
   <td align="right">179kB</td>
   <td><tt>1c89cfd26f7fd1a60beae5f31c7f40b3eb6b7c5d3a612eec75d9f7affb29d275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kscreenlocker-5.27.2.tar.xz">kscreenlocker-5.27.2</a></td>
   <td align="right">155kB</td>
   <td><tt>3a1056323a9451a02b46c0dd3db07b766d0dc5e2d74300a008ee9b274dce0319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/ksshaskpass-5.27.2.tar.xz">ksshaskpass-5.27.2</a></td>
   <td align="right">27kB</td>
   <td><tt>d9950967aba7442c982a0ab2e5d0369baf60bdcfcefd2c3252a9fa863f8156c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/ksystemstats-5.27.2.tar.xz">ksystemstats-5.27.2</a></td>
   <td align="right">111kB</td>
   <td><tt>f92ec4a042d14cfd61828a1d07cf0ee3b74c4db5e3fb7a1ffaecf80189eba3f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kwallet-pam-5.27.2.tar.xz">kwallet-pam-5.27.2</a></td>
   <td align="right">22kB</td>
   <td><tt>68e57e785eb356557e5ae312ea43743149c047b121bfd33da8a8de3537ab7912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kwayland-integration-5.27.2.tar.xz">kwayland-integration-5.27.2</a></td>
   <td align="right">25kB</td>
   <td><tt>962b528324a3199f440514264daca6ccf312f07e1e4ea8d995bd0bff60cc1c03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kwin-5.27.2.tar.xz">kwin-5.27.2</a></td>
   <td align="right">7.2MB</td>
   <td><tt>d0b2ec260cdc2299015357755a5096715358ccbdad683b6b39f63fd07dea56f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/kwrited-5.27.2.tar.xz">kwrited-5.27.2</a></td>
   <td align="right">22kB</td>
   <td><tt>9cc6607bd65fbe7115c36c039351bc2aa5548c96676c7f70442814d9c8334b8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/layer-shell-qt-5.27.2.tar.xz">layer-shell-qt-5.27.2</a></td>
   <td align="right">17kB</td>
   <td><tt>3aa880cf1b2cd83bedba86bd212a85517ed6e76a62d688b46bc9f132001608ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/libkscreen-5.27.2.tar.xz">libkscreen-5.27.2</a></td>
   <td align="right">111kB</td>
   <td><tt>6b7281763a21a40321897164c61384382396784e6853de2e69430da5fbb429cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/libksysguard-5.27.2.tar.xz">libksysguard-5.27.2</a></td>
   <td align="right">849kB</td>
   <td><tt>d6ba78569cff361254625375c4aebe9bed4fe4982e3b1d6570060b75c0737a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/milou-5.27.2.tar.xz">milou-5.27.2</a></td>
   <td align="right">55kB</td>
   <td><tt>53c3552772fe20f45bd3a2674930e66f507a02069f876edb95c30fde1bb6bae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/oxygen-5.27.2.tar.xz">oxygen-5.27.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>664422b147e9e0cdb768858f9bc5ec3bf98e3482effe5b89931a283bb51fe03f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/oxygen-sounds-5.27.2.tar.xz">oxygen-sounds-5.27.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>13b6fa3e0705dc6810212d6ab33a4547f8a6ee39f650480b5c123a041a6b196c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plank-player-5.27.2.tar.xz">plank-player-5.27.2</a></td>
   <td align="right">154kB</td>
   <td><tt>e791d9985913a4a2fa6318b35685639a8647bf705d297caa8493543d066a7afe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-bigscreen-5.27.2.tar.xz">plasma-bigscreen-5.27.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>328956002a0b97026bae351326c9836f4e81d52e2f2e392926537f8a34e2e6aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-browser-integration-5.27.2.tar.xz">plasma-browser-integration-5.27.2</a></td>
   <td align="right">206kB</td>
   <td><tt>7c394237eb7c69bba0f72fc68bc5c48936ee61bcb0aa86c7393e5ed4b4344432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-desktop-5.27.2.tar.xz">plasma-desktop-5.27.2</a></td>
   <td align="right">13MB</td>
   <td><tt>658b292a4ed3b81c674962c23b85d25ef7b675e1db28340b87d182a660625137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-disks-5.27.2.tar.xz">plasma-disks-5.27.2</a></td>
   <td align="right">90kB</td>
   <td><tt>23d66a0e33042accefdc7a1ac646bea33edfe541acd0377635d66aca568a5755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-firewall-5.27.2.tar.xz">plasma-firewall-5.27.2</a></td>
   <td align="right">353kB</td>
   <td><tt>61bb930461c8699045d0528160b4a15c30ac11468ed4000573b9efc42627266e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-integration-5.27.2.tar.xz">plasma-integration-5.27.2</a></td>
   <td align="right">88kB</td>
   <td><tt>da4f0c9e3294aee41fd55b1008698b6e981b65eb88d1fa6ccfb94e2f1c714088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-mobile-5.27.2.tar.xz">plasma-mobile-5.27.2</a></td>
   <td align="right">3.2MB</td>
   <td><tt>f8b1ebe3c54d8bbea97188504addafe902ade952966c053740fb43ef42a40c6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-nano-5.27.2.tar.xz">plasma-nano-5.27.2</a></td>
   <td align="right">72kB</td>
   <td><tt>dd86f46bdbf33411b88b8676bcebce54cd9e1968dbe14490f67b3a23c5bb67d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-nm-5.27.2.tar.xz">plasma-nm-5.27.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7b247027e3c56eddd00f4ef10288c95fa2c15d567c0de21634666f9fbb3d9096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-pa-5.27.2.tar.xz">plasma-pa-5.27.2</a></td>
   <td align="right">158kB</td>
   <td><tt>f3d8d37fac0f06fb979cd249db95a34c9bc207244f63e894676b76c3c1f6bc46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-remotecontrollers-5.27.2.tar.xz">plasma-remotecontrollers-5.27.2</a></td>
   <td align="right">76kB</td>
   <td><tt>fe3081a2d990c35d6f21e879ef3b886ef176fb3e70516bb56f7f82e8cc2750ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-sdk-5.27.2.tar.xz">plasma-sdk-5.27.2</a></td>
   <td align="right">312kB</td>
   <td><tt>ae1e2bb6fe1a14ef70adbb411635b78df7f2bad6990ab16aa95e12849483c8dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-systemmonitor-5.27.2.tar.xz">plasma-systemmonitor-5.27.2</a></td>
   <td align="right">167kB</td>
   <td><tt>86e266ae5214e15123fcb3d3243839817eb6d42d78c2a0f6b766783e9dec89ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-tests-5.27.2.tar.xz">plasma-tests-5.27.2</a></td>
   <td align="right">1kB</td>
   <td><tt>63b5a3b9b5ce866e8c424bdaf643bd9b5272a04150a0c1f995a72d1a1859b860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-thunderbolt-5.27.2.tar.xz">plasma-thunderbolt-5.27.2</a></td>
   <td align="right">70kB</td>
   <td><tt>cdd9120fb9ed021588e7e7e89b86e008b8209acd6c7c7acce8deb6357a27b42a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-vault-5.27.2.tar.xz">plasma-vault-5.27.2</a></td>
   <td align="right">182kB</td>
   <td><tt>47a02da96e4095babf348412c22e897302a5af673fef08e9de7199216a951d43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-welcome-5.27.2.tar.xz">plasma-welcome-5.27.2</a></td>
   <td align="right">799kB</td>
   <td><tt>f68d7e8fc95b09c0c469607eb3708495fb4c7f109defd1d9094f2869b185e819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-workspace-5.27.2.tar.xz">plasma-workspace-5.27.2</a></td>
   <td align="right">17MB</td>
   <td><tt>f10cc2f8bf1f01b77f51ff8d8aabf8655a929fd38a1232ad2f9c2e18c55d14a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plasma-workspace-wallpapers-5.27.2.tar.xz">plasma-workspace-wallpapers-5.27.2</a></td>
   <td align="right">89MB</td>
   <td><tt>c6ffc5eefe8d414a73f2226e33fec01246142310b93345c7cfe083b48cee95f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/plymouth-kcm-5.27.2.tar.xz">plymouth-kcm-5.27.2</a></td>
   <td align="right">44kB</td>
   <td><tt>c6b555fc80af1e5681d4149c899286fb682be15aec26698296a8725c25fa7dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/polkit-kde-agent-1-5.27.2.tar.xz">polkit-kde-agent-1-5.27.2</a></td>
   <td align="right">51kB</td>
   <td><tt>2456598e8ede9cd5cfe61cd8fd30c5637111c034e069673bed9f8200b36de75f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/powerdevil-5.27.2.tar.xz">powerdevil-5.27.2</a></td>
   <td align="right">766kB</td>
   <td><tt>3d74c855bc318b716e34efcaf851e194d15ad6dc44eb5615dfb5d110277799ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/qqc2-breeze-style-5.27.2.tar.xz">qqc2-breeze-style-5.27.2</a></td>
   <td align="right">64kB</td>
   <td><tt>bc506ee984f4eda998917597d8340fb64a4b016189fb11fd53f181ac89f14d48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/sddm-kcm-5.27.2.tar.xz">sddm-kcm-5.27.2</a></td>
   <td align="right">89kB</td>
   <td><tt>7a0ffcc851a801443195cedab211dab6cfdb363b4286f22f55e74763ca8fccd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/systemsettings-5.27.2.tar.xz">systemsettings-5.27.2</a></td>
   <td align="right">218kB</td>
   <td><tt>cdeeae41db4aac380b5149431d674ebbf6f15f208c540ac91f94444d2f0ab2e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.2/xdg-desktop-portal-kde-5.27.2.tar.xz">xdg-desktop-portal-kde-5.27.2</a></td>
   <td align="right">134kB</td>
   <td><tt>97d0dad0a616867308b625d43dec71a8e97f6aa0d6d44bb5ae75953320aa3217</tt></td>
</tr>

</table>
