<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/bluedevil-5.23.2.tar.xz">bluedevil-5.23.2</a></td>
   <td align="right">166kB</td>
   <td><tt>cb161132ea7290d37f2267fc00ca2a11e259eaf6ced1f63761dfd45d52430f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/breeze-5.23.2.tar.xz">breeze-5.23.2</a></td>
   <td align="right">70MB</td>
   <td><tt>4b0f10cd78d7136a33c9209f00cdbabbb7cd4ca614d5cacc99265dc7190756ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/breeze-grub-5.23.2.tar.xz">breeze-grub-5.23.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>34ff1be1371adcd4642e7587b28836e6f9b78d8c3655403361b23b0f0d647e7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/breeze-gtk-5.23.2.tar.xz">breeze-gtk-5.23.2</a></td>
   <td align="right">46kB</td>
   <td><tt>91156d7e5fa1afaa088f4c462eb9b8c7e04dabaf4cbaa226e93ef8facc17daab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/breeze-plymouth-5.23.2.tar.xz">breeze-plymouth-5.23.2</a></td>
   <td align="right">108kB</td>
   <td><tt>b4aaf2650a6678ea747cb65044e69b98269a4a5aa5b6cc8950e94667f388f9d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/discover-5.23.2.tar.xz">discover-5.23.2</a></td>
   <td align="right">7.8MB</td>
   <td><tt>9e0de4a567d3f05cffa2ed7158eedf2729623d4e74772859120d1e6670c6c014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/drkonqi-5.23.2.tar.xz">drkonqi-5.23.2</a></td>
   <td align="right">774kB</td>
   <td><tt>2eb515ffc6ceb5addcae6aafacaf245ed9b6416b2751a1ab5c9ad91b454f8f46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kactivitymanagerd-5.23.2.tar.xz">kactivitymanagerd-5.23.2</a></td>
   <td align="right">101kB</td>
   <td><tt>b0897976f800398d1d30a741c05aae5b126b59b201528d674e33fda938af8bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kde-cli-tools-5.23.2.tar.xz">kde-cli-tools-5.23.2</a></td>
   <td align="right">616kB</td>
   <td><tt>87f290593bd7e8b003ea5812ba5f73bc2153e4a42b3400a041ffd6f14ebaf0fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kdecoration-5.23.2.tar.xz">kdecoration-5.23.2</a></td>
   <td align="right">46kB</td>
   <td><tt>d328bb66614b953cd6b7db66d40352b18a932f0a79cf8cf10c875a276d7e665c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kde-gtk-config-5.23.2.tar.xz">kde-gtk-config-5.23.2</a></td>
   <td align="right">69kB</td>
   <td><tt>a609b498cd1715243d909826c41229c9b09783af1412d3754b5cd8f62da69c2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kdeplasma-addons-5.23.2.tar.xz">kdeplasma-addons-5.23.2</a></td>
   <td align="right">613kB</td>
   <td><tt>e6c4e223cea82b42eff96a17cbcabaac764c8d3c80c31d7c35587081eb840b4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kgamma5-5.23.2.tar.xz">kgamma5-5.23.2</a></td>
   <td align="right">81kB</td>
   <td><tt>66898131de21dd498141996ef6b765a302f5b7c4cac1a7efccbcae6eb3611799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/khotkeys-5.23.2.tar.xz">khotkeys-5.23.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2b26a5fb9161a00854fe98688209b507e81b10c78c493274f8a524c60cb9a2dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kinfocenter-5.23.2.tar.xz">kinfocenter-5.23.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d5db1219657322130d11b7499bb3bab20eb75d7ad6e386d52ccb2163417bed2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kmenuedit-5.23.2.tar.xz">kmenuedit-5.23.2</a></td>
   <td align="right">879kB</td>
   <td><tt>3d40f12f191e3c80fad1f778760b62e3ec5284eb8299851187b2597adb2f22cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kscreen-5.23.2.tar.xz">kscreen-5.23.2</a></td>
   <td align="right">129kB</td>
   <td><tt>9b100ba19b51a51f4c4084f7c17f175f3f21beec6c662c6f1d75ed127df380f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kscreenlocker-5.23.2.tar.xz">kscreenlocker-5.23.2</a></td>
   <td align="right">114kB</td>
   <td><tt>e609dcdbf8191fea98facd9659b3681061f46b7d0bfc3b0a545eed7f5e91d8f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/ksshaskpass-5.23.2.tar.xz">ksshaskpass-5.23.2</a></td>
   <td align="right">23kB</td>
   <td><tt>3454fce2b83ecba09052348949f0a48493206a7fb7dc3c9380307b0bcf2f8bc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/ksystemstats-5.23.2.tar.xz">ksystemstats-5.23.2</a></td>
   <td align="right">88kB</td>
   <td><tt>24dae0ae39f9c52672c2754233de4ea721b7798930a05c215909ac92f1963154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kwallet-pam-5.23.2.tar.xz">kwallet-pam-5.23.2</a></td>
   <td align="right">19kB</td>
   <td><tt>dfece4e4e6313bec1cc6a00e34d46f0765b05e24549706ed9a78ea6f16bbad80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kwayland-integration-5.23.2.tar.xz">kwayland-integration-5.23.2</a></td>
   <td align="right">23kB</td>
   <td><tt>748584ddb87b62e7e39edab041474af789f8e57814e29f859c3b592f57a19039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kwayland-server-5.23.2.tar.xz">kwayland-server-5.23.2</a></td>
   <td align="right">212kB</td>
   <td><tt>32383464649e8e95cbe377551d0ab5fa593b74c7739bb9e601d9bf942a048c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kwin-5.23.2.tar.xz">kwin-5.23.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>ffba7dac42cbcab86392a9482f6b39f4bdc61ce153a236d9af1c4c3a521ef8ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/kwrited-5.23.2.tar.xz">kwrited-5.23.2</a></td>
   <td align="right">20kB</td>
   <td><tt>a4bd2d821583a5dce053c45daf2f85d38a5048593d1b614609bb2cffdfc0eab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/layer-shell-qt-5.23.2.tar.xz">layer-shell-qt-5.23.2</a></td>
   <td align="right">17kB</td>
   <td><tt>8fc29b2cd8c7f4ff2ce2fb9de495673e0778af2125e63aa1c1d295775e98895f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/libkscreen-5.23.2.tar.xz">libkscreen-5.23.2</a></td>
   <td align="right">95kB</td>
   <td><tt>4e9bcbebaf6fa8b7a7f9b860c08184120b53ab28c7c45320743406a078e214ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/libksysguard-5.23.2.tar.xz">libksysguard-5.23.2</a></td>
   <td align="right">751kB</td>
   <td><tt>f8fabf6af590e92146d1449e96a66ea7e5b7c249699ec0fe0e612f91c78ccbce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/milou-5.23.2.tar.xz">milou-5.23.2</a></td>
   <td align="right">46kB</td>
   <td><tt>bfc501695a9a8583e0c66f3922fecf10b6ac6bf10007a8b4d0d9cbb59661505b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/oxygen-5.23.2.tar.xz">oxygen-5.23.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>970559c7a07fb840be571491d14515d3c9b2c2106164df0f6a8affc6df8a4bcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-browser-integration-5.23.2.tar.xz">plasma-browser-integration-5.23.2</a></td>
   <td align="right">214kB</td>
   <td><tt>efd5956d826740f68e3f49d4bdfb464891bb59c3e3f0fbcf736814cc2446ee23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-desktop-5.23.2.1.tar.xz">plasma-desktop-5.23.2.1</a></td>
   <td align="right">15MB</td>
   <td><tt>8f69e465cf98413008514ead445a90ac2a49fcfecd6cda9842071020fb325934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-disks-5.23.2.tar.xz">plasma-disks-5.23.2</a></td>
   <td align="right">85kB</td>
   <td><tt>7c8e8fde93f0ba4d860f7c4b814ac6daccceeae6ec38b1ec095b49b2cb081b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-firewall-5.23.2.tar.xz">plasma-firewall-5.23.2</a></td>
   <td align="right">335kB</td>
   <td><tt>df4a4431d4318a27cbc73ab471954d62f001ed78d76062fa5d1a5a75fa971fc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-integration-5.23.2.tar.xz">plasma-integration-5.23.2</a></td>
   <td align="right">81kB</td>
   <td><tt>c8ef1d5c5580c39f0b5b09358e5b85d58daaa80e5d62afaad60113c8ddb4d084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-nano-5.23.2.tar.xz">plasma-nano-5.23.2</a></td>
   <td align="right">64kB</td>
   <td><tt>78e0ac973e172ade4068fb8216b1c73f2209e47f78a6e0fab3d23c47392e0d84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-nm-5.23.2.tar.xz">plasma-nm-5.23.2</a></td>
   <td align="right">898kB</td>
   <td><tt>a08be797fbf00585651d541f25c2b31966a659a603ddbf65218032566afbf05e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-pa-5.23.2.tar.xz">plasma-pa-5.23.2</a></td>
   <td align="right">126kB</td>
   <td><tt>564ff9f88fa223cd2fbcfb87effd6e93d4fd9be715c1c09149f4a071b783c315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-phone-components-5.23.2.tar.xz">plasma-phone-components-5.23.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f3054b16cba9e2698aa0bd0fead91aac1c593528a8f250b843e69cb187eed3e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-sdk-5.23.2.tar.xz">plasma-sdk-5.23.2</a></td>
   <td align="right">269kB</td>
   <td><tt>3ac08707454804e6a400897d5cd68e8570d88a07246fcc00aaf7f369fabe7810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-systemmonitor-5.23.2.tar.xz">plasma-systemmonitor-5.23.2</a></td>
   <td align="right">141kB</td>
   <td><tt>07bf1ad2231550ee431f1fd2eee96b35f1f87095e2e3b13d3c7d1a0209525b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-tests-5.23.2.tar.xz">plasma-tests-5.23.2</a></td>
   <td align="right">1kB</td>
   <td><tt>638e4f5be3d525909e5caf250d01176044e2ed401d614fa9ce99f6b7d358152d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-thunderbolt-5.23.2.tar.xz">plasma-thunderbolt-5.23.2</a></td>
   <td align="right">63kB</td>
   <td><tt>8c3399bc14c5a73eafc76edb8c2aa6907910bc6eaf2ea19476ca0ebc4054058e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-vault-5.23.2.tar.xz">plasma-vault-5.23.2</a></td>
   <td align="right">172kB</td>
   <td><tt>4e4300bdf38d340a1f7f79056143f9fe7c69bd0a65b593a969babbe1a7f53135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-workspace-5.23.2.tar.xz">plasma-workspace-5.23.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>dbd261cecaafeb0b230ead6eaceedd4601f90c8f5844b811d6941a5d28933b72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plasma-workspace-wallpapers-5.23.2.tar.xz">plasma-workspace-wallpapers-5.23.2</a></td>
   <td align="right">54MB</td>
   <td><tt>e9052ec5323bfa3f2aea7634cfeece3f4ac61f9865cbb401ffb47e3441a84a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/plymouth-kcm-5.23.2.tar.xz">plymouth-kcm-5.23.2</a></td>
   <td align="right">38kB</td>
   <td><tt>171f4c8630ba6cff9b1e81f719948aa6f649875fdeca19057965db4c4b13efe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/polkit-kde-agent-1-5.23.2.tar.xz">polkit-kde-agent-1-5.23.2</a></td>
   <td align="right">46kB</td>
   <td><tt>4001b9ebfe4ef83847d1a1f187042fc12ae92a4851e7f153f512f2cba8f38dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/powerdevil-5.23.2.tar.xz">powerdevil-5.23.2</a></td>
   <td align="right">614kB</td>
   <td><tt>b1d7816c8214e3632effa602ee667c90b8a3e54ed71a0722a1b1eb871485d638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/qqc2-breeze-style-5.23.2.tar.xz">qqc2-breeze-style-5.23.2</a></td>
   <td align="right">65kB</td>
   <td><tt>fe4d3e0340e336de4ac299c3fef7b5be1bf512ff4ea49e776110db789bdf7725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/sddm-kcm-5.23.2.tar.xz">sddm-kcm-5.23.2</a></td>
   <td align="right">75kB</td>
   <td><tt>d0836035594ca006bc60d4410fbf1ca1224a15b8707b5281e2196e53bcc70977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/systemsettings-5.23.2.tar.xz">systemsettings-5.23.2</a></td>
   <td align="right">198kB</td>
   <td><tt>1169814a7a0d8a8c9d6117fd889787160141fc21b6ad1a3b2ee5720be412226f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.2/xdg-desktop-portal-kde-5.23.2.tar.xz">xdg-desktop-portal-kde-5.23.2</a></td>
   <td align="right">87kB</td>
   <td><tt>ceb28535915d34e6a367d2b821a1482824f5c2aca5cbbca28b4cb6cdf412204a</tt></td>
</tr>

</table>
