<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/bluedevil-5.10.1.tar.xz">bluedevil-5.10.1</a></td>
   <td align="right">141kB</td>
   <td><tt>45133340ec2dfd06d9787c8935c0f26daf45cdf781e98e00304989d8ba8e256f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/breeze-5.10.1.tar.xz">breeze-5.10.1</a></td>
   <td align="right">16MB</td>
   <td><tt>c42c7597e33d5c0f633fc4bab096633e9827e9dd3006fd63aa743186dee6cd16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/breeze-grub-5.10.1.tar.xz">breeze-grub-5.10.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>a7f48f87e4cb657437cb744fe30f4f7dd08b6c68382e17b49bfc10d38f222c70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/breeze-gtk-5.10.1.tar.xz">breeze-gtk-5.10.1</a></td>
   <td align="right">206kB</td>
   <td><tt>53dd5e5a6178a9d1fc1aca1644dd88ae8423299981f1f00bd0fefd3a0f705bab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/breeze-plymouth-5.10.1.tar.xz">breeze-plymouth-5.10.1</a></td>
   <td align="right">102kB</td>
   <td><tt>31a56d551c21c0be5c84a595189ed779928a150d40a4d563a890f56f2b78ca3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/discover-5.10.1.tar.xz">discover-5.10.1</a></td>
   <td align="right">9.2MB</td>
   <td><tt>06447330f9d9152576dc5e1588b52d3409a605e99271d16dcaba4750c12f29e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kactivitymanagerd-5.10.1.tar.xz">kactivitymanagerd-5.10.1</a></td>
   <td align="right">82kB</td>
   <td><tt>cc522b85309071348bc8f9724d3de378ab1e9822416a9f046e1d3d0afdb9e10b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kde-cli-tools-5.10.1.tar.xz">kde-cli-tools-5.10.1</a></td>
   <td align="right">492kB</td>
   <td><tt>d46ca37d30fca23759513e77f947d9a85bafcff991755a496dba8b60f183b3a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kdecoration-5.10.1.tar.xz">kdecoration-5.10.1</a></td>
   <td align="right">34kB</td>
   <td><tt>250db707d3c533c03e7dc40e8312fd54db578a743b595d760ab3a5e1a4ef43db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kde-gtk-config-5.10.1.tar.xz">kde-gtk-config-5.10.1</a></td>
   <td align="right">148kB</td>
   <td><tt>896f88a31a2d02adf3a28dea0976ff90b91c9ec4cf4956c9b653338cf9cd1920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kdeplasma-addons-5.10.1.tar.xz">kdeplasma-addons-5.10.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>51a98bc52467b9a57365e4392a75b87220b34c36ba24334e79d5690f146d21b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kgamma5-5.10.1.tar.xz">kgamma5-5.10.1</a></td>
   <td align="right">59kB</td>
   <td><tt>1cf7337229aa0c0c2b3f8cbe8105904d2168f2550b0b72c6ca6b85bed41a3fe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/khotkeys-5.10.1.tar.xz">khotkeys-5.10.1</a></td>
   <td align="right">684kB</td>
   <td><tt>6c6460616b3df0873699b9e92e827d2d52bc1395f444437a4c8bf333ebba1d5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kinfocenter-5.10.1.tar.xz">kinfocenter-5.10.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8745f5599df59226267930014ae0c11d4315d25d118b86e38427f0496f40720b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kmenuedit-5.10.1.tar.xz">kmenuedit-5.10.1</a></td>
   <td align="right">635kB</td>
   <td><tt>2f7e0cbc8b3c0f2e493894fdc429bd993d706c874fc7a139301c17a0c35efb4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kscreen-5.10.1.tar.xz">kscreen-5.10.1</a></td>
   <td align="right">112kB</td>
   <td><tt>fdf7f8025571ce84c64e7fc74a981adb24736600cd93ea52dd9a069e9a9ef446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kscreenlocker-5.10.1.tar.xz">kscreenlocker-5.10.1</a></td>
   <td align="right">108kB</td>
   <td><tt>1eac0781b79c163df83b366d9541d2e783062ed89c904377e8f5fdbe9b085859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/ksshaskpass-5.10.1.tar.xz">ksshaskpass-5.10.1</a></td>
   <td align="right">19kB</td>
   <td><tt>6c891de0b2b4ea27ec4c396d0f4e1f34ea2384adb6421a4667924d28fad7bd07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/ksysguard-5.10.1.tar.xz">ksysguard-5.10.1</a></td>
   <td align="right">477kB</td>
   <td><tt>70072f1459c658685d3540555e5b1f702f5a4e4b8810f68d4c5b80b293734c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kwallet-pam-5.10.1.tar.xz">kwallet-pam-5.10.1</a></td>
   <td align="right">17kB</td>
   <td><tt>267db5af7e0f13033cf79bbb7fc476c7654bafce7e5a6c654f1e9d0a43383708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kwayland-integration-5.10.1.tar.xz">kwayland-integration-5.10.1</a></td>
   <td align="right">18kB</td>
   <td><tt>86256419e7fbfe95830d565bd8f1d203ffea59c8d59f5d8806fd56f3b59fc426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kwin-5.10.1.tar.xz">kwin-5.10.1</a></td>
   <td align="right">4.4MB</td>
   <td><tt>71ff197794984abba829b990af6ac1aabc7b2c8473dd04d8078b7b449a8a4a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/kwrited-5.10.1.tar.xz">kwrited-5.10.1</a></td>
   <td align="right">19kB</td>
   <td><tt>387932de744a8e829d5feba55a189ec248c16f4e5b8bcab3372354054e844dbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/libkscreen-5.10.1.tar.xz">libkscreen-5.10.1</a></td>
   <td align="right">91kB</td>
   <td><tt>4b64ba7c6815ef026f7e13663ef890a162d0dd2c5f25abd5031717d5e04d35a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/libksysguard-5.10.1.tar.xz">libksysguard-5.10.1</a></td>
   <td align="right">551kB</td>
   <td><tt>f4a33fc92d9d2aaf865772e30776fe6286b29f5fdfaf68f14c222bbc155358b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/milou-5.10.1.tar.xz">milou-5.10.1</a></td>
   <td align="right">54kB</td>
   <td><tt>cfab8f3d6e845d30a2dfc77223ce7ed66698d3718d8d6d3df3d254575f74f18d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/oxygen-5.10.1.tar.xz">oxygen-5.10.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a9e872a59d42476933c055839d11b272c6b8c38a7f12d092871c5be1e007f029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/plasma-desktop-5.10.1.tar.xz">plasma-desktop-5.10.1</a></td>
   <td align="right">5.8MB</td>
   <td><tt>b6a6a54010c134e0ee2af975dde0941392c83004d894c00033f743d3331ed9d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/plasma-integration-5.10.1.tar.xz">plasma-integration-5.10.1</a></td>
   <td align="right">50kB</td>
   <td><tt>7b1318a470d075e97c1faf7870dfc0c8297862ae96ed65b11aa2791558b58316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/plasma-nm-5.10.1.tar.xz">plasma-nm-5.10.1</a></td>
   <td align="right">676kB</td>
   <td><tt>0a5af2bc44fc44e29b1916f32b0b7aea35d00ed75da321183a8c7e83de20cb77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/plasma-pa-5.10.1.tar.xz">plasma-pa-5.10.1</a></td>
   <td align="right">77kB</td>
   <td><tt>6a2fcf214a837bcfff6c6fa321e587f8f017f0a695a8f731286f1a5282395371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/plasma-sdk-5.10.1.tar.xz">plasma-sdk-5.10.1</a></td>
   <td align="right">239kB</td>
   <td><tt>aea5a6aa375c066f47bedc937d9b48248701707baae25eb662f69703b1acd5af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/plasma-tests-5.10.1.tar.xz">plasma-tests-5.10.1</a></td>
   <td align="right">1kB</td>
   <td><tt>a21b45079361bfe921d5cdffa01f4fbed7931c273c4996cd1e2ed8483706d8d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/plasma-workspace-5.10.1.tar.xz">plasma-workspace-5.10.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>4c19f65d4f23719b8ec81e8fb43c74859ff206895c0c071d5b2c23470656cdae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/plasma-workspace-wallpapers-5.10.1.tar.xz">plasma-workspace-wallpapers-5.10.1</a></td>
   <td align="right">43MB</td>
   <td><tt>e74a759a4851a9044787b41c089762f137e2b9b45b8a18a64ac423aab67ca068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/plymouth-kcm-5.10.1.tar.xz">plymouth-kcm-5.10.1</a></td>
   <td align="right">30kB</td>
   <td><tt>7a9ab26f031ee0fdae3d851cb98b6e2f376584e62136c6d936cde930d06c88d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/polkit-kde-agent-1-5.10.1.tar.xz">polkit-kde-agent-1-5.10.1</a></td>
   <td align="right">40kB</td>
   <td><tt>0beee586a742df665a3d82b2f6c5b2894f657dc4d72334efdb61289bf01d8d78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/powerdevil-5.10.1.tar.xz">powerdevil-5.10.1</a></td>
   <td align="right">352kB</td>
   <td><tt>77395169237e85de4faaf55fcaa6d5cad4d536a0f8eeff5bf42e002f069b484e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/sddm-kcm-5.10.1.tar.xz">sddm-kcm-5.10.1</a></td>
   <td align="right">56kB</td>
   <td><tt>d69954a1988f181a52ee00ea6104cab8f5573c83c092fc55b140bbaeef8321a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/systemsettings-5.10.1.tar.xz">systemsettings-5.10.1</a></td>
   <td align="right">151kB</td>
   <td><tt>b7d3bd74a339d70ea43bafee2d90787f0151dcc8b4629995ed5bcc8ec57ceacf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/user-manager-5.10.1.tar.xz">user-manager-5.10.1</a></td>
   <td align="right">531kB</td>
   <td><tt>4abce606985d834bfa6163eab2fedee7a0f679369b78a39745d8c95cf598b100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.1/xdg-desktop-portal-kde-5.10.1.tar.xz">xdg-desktop-portal-kde-5.10.1</a></td>
   <td align="right">27kB</td>
   <td><tt>1ff47181ab0543bcf824c3198addfd1e975f7d08f56e4e9b348c49a420ad098d</tt></td>
</tr>

</table>
