<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/aura-browser-5.27.12.tar.xz">aura-browser-5.27.12</a></td>
   <td align="right">2.9MB</td>
   <td><tt>bdfd792d60b7232ac54c13bc13aac41714d5d39a8d00a833e7c35e44b5afca2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/bluedevil-5.27.12.tar.xz">bluedevil-5.27.12</a></td>
   <td align="right">359kB</td>
   <td><tt>76a124b39f573682aa1e64ec09bac9d41e5662ab1d7e1de21688a0eebf18ec22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/breeze-5.27.12.tar.xz">breeze-5.27.12</a></td>
   <td align="right">83MB</td>
   <td><tt>b20443f360164a070416b642215e71ac4df89f544f27805907e7fc074e18fb6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/breeze-grub-5.27.12.tar.xz">breeze-grub-5.27.12</a></td>
   <td align="right">3.0MB</td>
   <td><tt>90716739720b693665a3e62e8d44745bbd29a35c55e57b1f2fe9f6a7a1bd9e1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/breeze-gtk-5.27.12.tar.xz">breeze-gtk-5.27.12</a></td>
   <td align="right">39kB</td>
   <td><tt>97126844ee94d83ae8304982090c2882254968bb09dd81ff05b2f3167f8b7669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/breeze-plymouth-5.27.12.tar.xz">breeze-plymouth-5.27.12</a></td>
   <td align="right">108kB</td>
   <td><tt>9bc561c1682913d0439e31bef1e86fa500c2d55bb8bf5b523f3011c7ed1ec693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/discover-5.27.12.tar.xz">discover-5.27.12</a></td>
   <td align="right">870kB</td>
   <td><tt>4f5b3f6918b2b6a3eab3a83f8e58a97fcd2d4b5ac73d0af0e4d32696dd16a25f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/drkonqi-5.27.12.tar.xz">drkonqi-5.27.12</a></td>
   <td align="right">848kB</td>
   <td><tt>a96131dbbe88471965a6d0efa1c1f6c01b96582c0631919e990c1cbd38d5977a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/flatpak-kcm-5.27.12.tar.xz">flatpak-kcm-5.27.12</a></td>
   <td align="right">231kB</td>
   <td><tt>11b2cd7f2bc385f125cd6925d0b5ff33370bd11999b34e96cbcfb2d3f6461783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kactivitymanagerd-5.27.12.tar.xz">kactivitymanagerd-5.27.12</a></td>
   <td align="right">124kB</td>
   <td><tt>1161138ccae929de011283a69fc57e8643ddab583ce21b0b98bc94bcf5494214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kde-cli-tools-5.27.12.tar.xz">kde-cli-tools-5.27.12</a></td>
   <td align="right">656kB</td>
   <td><tt>34eee66a6440e6e55317aee469e0e266c6515dcbf6783ae437f3efe03f0884c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kde-gtk-config-5.27.12.tar.xz">kde-gtk-config-5.27.12</a></td>
   <td align="right">75kB</td>
   <td><tt>842563287488280c312a4eedf1b6478114b13918c22e67a9c5ee7252c56186cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kdecoration-5.27.12.tar.xz">kdecoration-5.27.12</a></td>
   <td align="right">52kB</td>
   <td><tt>867e2169d6e8b8755d4a22f2d48bcf39413e7d9872eab878871fd7a0b03747ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kdeplasma-addons-5.27.12.tar.xz">kdeplasma-addons-5.27.12</a></td>
   <td align="right">817kB</td>
   <td><tt>fe0761c3aebc938a83ada6080b388999b30f67c7ef41821e4fce434846dbca38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kgamma-5.27.12.tar.xz">kgamma-5.27.12</a></td>
   <td align="right">87kB</td>
   <td><tt>d4554747467e627d2525431798808aed93e24fc9f5d8f936032e543524d2cddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/khotkeys-5.27.12.tar.xz">khotkeys-5.27.12</a></td>
   <td align="right">1.8MB</td>
   <td><tt>fe07156b5b0aa29489d1c75d056c439d0adc386b30c41648294c7afe19eb2938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kinfocenter-5.27.12.tar.xz">kinfocenter-5.27.12</a></td>
   <td align="right">995kB</td>
   <td><tt>f430022a33f4367af146ed36f14831f1fc25c07993b068423962530b5fd0815e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kmenuedit-5.27.12.tar.xz">kmenuedit-5.27.12</a></td>
   <td align="right">910kB</td>
   <td><tt>bcb45f19782e65eda267452a0453d8f8be2b80cc303bac5bf1ec2f54096ed5d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kpipewire-5.27.12.tar.xz">kpipewire-5.27.12</a></td>
   <td align="right">59kB</td>
   <td><tt>87d4b38002b039f356a69f0b43163c7f9a03288e29ab725673466dfc26a69c63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kscreen-5.27.12.tar.xz">kscreen-5.27.12</a></td>
   <td align="right">182kB</td>
   <td><tt>67d544109374df719d517f7d37d2d661dd80aa712c2ce565eefd99e897ee33c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kscreenlocker-5.27.12.tar.xz">kscreenlocker-5.27.12</a></td>
   <td align="right">158kB</td>
   <td><tt>dba5021350541f44809bc1d3b9e7546e46f13a1dcbc0d3e2ed25a8d395aff1b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/ksshaskpass-5.27.12.tar.xz">ksshaskpass-5.27.12</a></td>
   <td align="right">27kB</td>
   <td><tt>6bda11fe7735949a210871f56691e497920ed0d90fe0f9ac7338f58a7bc926ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/ksystemstats-5.27.12.tar.xz">ksystemstats-5.27.12</a></td>
   <td align="right">117kB</td>
   <td><tt>4351da135d6f8c2ac726dedab74879eef786643ce0dfe1bf85a150e5b7a0fa87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kwallet-pam-5.27.12.tar.xz">kwallet-pam-5.27.12</a></td>
   <td align="right">22kB</td>
   <td><tt>4f7ac4d43d72b557fed6659d29990f0004db2ac690caf4adbc2c9347f0a041a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kwayland-integration-5.27.12.tar.xz">kwayland-integration-5.27.12</a></td>
   <td align="right">25kB</td>
   <td><tt>390b4f26281d36977d4613553f93da075c55546273bfbab378e386c79a86401b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kwin-5.27.12.tar.xz">kwin-5.27.12</a></td>
   <td align="right">7.2MB</td>
   <td><tt>e9b14eab8538b8386e23757446382a2f1be505e5ccabe336020f9a13b14160b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/kwrited-5.27.12.tar.xz">kwrited-5.27.12</a></td>
   <td align="right">22kB</td>
   <td><tt>674f508704120cbbc6bfda2c133388dfe25f99386a9226501918c59d4b38bfcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/layer-shell-qt-5.27.12.tar.xz">layer-shell-qt-5.27.12</a></td>
   <td align="right">18kB</td>
   <td><tt>b4cd869ef80bdbe8cad170377f8f73be4fc15f822bfec4bb180364eb9f275c9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/libkscreen-5.27.12.tar.xz">libkscreen-5.27.12</a></td>
   <td align="right">113kB</td>
   <td><tt>ae64e87b8f69b065f18623981c2defcb9c33a5294b3343f29d293f247051fa44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/libksysguard-5.27.12.tar.xz">libksysguard-5.27.12</a></td>
   <td align="right">875kB</td>
   <td><tt>7b69e4e519c647d1a33782b902bde75f5e6bd0fa6aad202ec8af09735c8722b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/milou-5.27.12.tar.xz">milou-5.27.12</a></td>
   <td align="right">57kB</td>
   <td><tt>b0f2ea9941913a6365235cae5268d0fa5f325c25e5ca9adde37055322e8b0a7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/oxygen-5.27.12.tar.xz">oxygen-5.27.12</a></td>
   <td align="right">2.6MB</td>
   <td><tt>45ccaf1e06d1b37c42d61c84e27b1b103539f5e2e46bbfe122d375550b86f987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/oxygen-sounds-5.27.12.tar.xz">oxygen-sounds-5.27.12</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d7ce6f5a747a3df07d868128e8cad4606f0199db761e2df4cf3e821ef70d6e4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plank-player-5.27.12.tar.xz">plank-player-5.27.12</a></td>
   <td align="right">156kB</td>
   <td><tt>ac14a9abd67e7a5c2d72cc134a19ebab675168a2d8c4b1c7def88d6cfe0fd9cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-bigscreen-5.27.12.tar.xz">plasma-bigscreen-5.27.12</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1b66e614f4a7f792f73ba8e2b2ab2f3bd3a5af371b8fe0eef9aff6285190c8cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-browser-integration-5.27.12.tar.xz">plasma-browser-integration-5.27.12</a></td>
   <td align="right">210kB</td>
   <td><tt>972b7252a1ee2c8d5ae8945b2dd84d14ba87325be7652b3de4305675cc055437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-desktop-5.27.12.tar.xz">plasma-desktop-5.27.12</a></td>
   <td align="right">14MB</td>
   <td><tt>c045876e401c37fc63254a5582e92e53d89ac317bb1a9c362f65c438581dd700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-disks-5.27.12.tar.xz">plasma-disks-5.27.12</a></td>
   <td align="right">94kB</td>
   <td><tt>79a165d805bfb703ef43b678f1687581b377ad634869dbbcc242b2f2a121c373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-firewall-5.27.12.tar.xz">plasma-firewall-5.27.12</a></td>
   <td align="right">356kB</td>
   <td><tt>dad436dd2f2d32dcc9551bc3921c7ee923d389e727284d2717c8073223b04b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-integration-5.27.12.tar.xz">plasma-integration-5.27.12</a></td>
   <td align="right">87kB</td>
   <td><tt>a77aa5b20918798e6a8eaf98d631218843ac0c41546bdb69cfb144b68e9e1109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-mobile-5.27.12.tar.xz">plasma-mobile-5.27.12</a></td>
   <td align="right">3.2MB</td>
   <td><tt>f5d2f7b68eb2875b118f89e8e1832e07a7b58ded29d08d4babbed7c7c1ad6f58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-nano-5.27.12.tar.xz">plasma-nano-5.27.12</a></td>
   <td align="right">73kB</td>
   <td><tt>d9e9d56c639895fd363c12681fff1a0f882bc18deaae4a03f0d408e6f22faae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-nm-5.27.12.tar.xz">plasma-nm-5.27.12</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5167dc9704502559d30d232fb55710af78b04d3de9a7ab3fc2dab19850753264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-pa-5.27.12.tar.xz">plasma-pa-5.27.12</a></td>
   <td align="right">162kB</td>
   <td><tt>c730cf3c2b4737844f536aacb30253c4a37cefc7aebbac88041a8ce8888985d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-remotecontrollers-5.27.12.tar.xz">plasma-remotecontrollers-5.27.12</a></td>
   <td align="right">82kB</td>
   <td><tt>3b1aefc4d6bb8215db54c53d5efa8a34f0e38477925511b1e6e342a9edace9d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-sdk-5.27.12.1.tar.xz">plasma-sdk-5.27.12.1</a></td>
   <td align="right">318kB</td>
   <td><tt>c36d94bf3f15ba00c27847d492cd58410ad4e03cd8be2b0c06d71e371c30dd1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-systemmonitor-5.27.12.tar.xz">plasma-systemmonitor-5.27.12</a></td>
   <td align="right">172kB</td>
   <td><tt>41e070edab9670979adcab2140a732304d0552df6ffa26e8f7b6ad810d93a9aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-thunderbolt-5.27.12.tar.xz">plasma-thunderbolt-5.27.12</a></td>
   <td align="right">72kB</td>
   <td><tt>579340eb4fa2847c0e5329c6b26c903fcd42e73e7e03f882fbfc993a261d4de4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-vault-5.27.12.tar.xz">plasma-vault-5.27.12</a></td>
   <td align="right">185kB</td>
   <td><tt>e083adb99f18706d4754f6a0652f916022b073ad0f3461f826b595e40ee7587c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-welcome-5.27.12.tar.xz">plasma-welcome-5.27.12</a></td>
   <td align="right">828kB</td>
   <td><tt>1943989fb929021f204bf4945095c03f302b6551044d2346b5c880f193651381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-workspace-5.27.12.tar.xz">plasma-workspace-5.27.12</a></td>
   <td align="right">18MB</td>
   <td><tt>4f74a707739faef4bac0e2b833de6e092a995adfe153ed758f6ce6c4ba1708c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plasma-workspace-wallpapers-5.27.12.tar.xz">plasma-workspace-wallpapers-5.27.12</a></td>
   <td align="right">89MB</td>
   <td><tt>bde6e46b28620a6f41a566796ff61e0877c8df2bec99fafbe5d4acb4bf1eb38b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/plymouth-kcm-5.27.12.tar.xz">plymouth-kcm-5.27.12</a></td>
   <td align="right">45kB</td>
   <td><tt>b4c32e07cce21ec0e1eadf2270db8f37fdae58b526647eebe43d04383ecbaee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/polkit-kde-agent-1-5.27.12.tar.xz">polkit-kde-agent-1-5.27.12</a></td>
   <td align="right">51kB</td>
   <td><tt>667724e44e51bab2fa38d514407257df7c4ddde2eac6e973110db37caf7b9252</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/powerdevil-5.27.12.tar.xz">powerdevil-5.27.12</a></td>
   <td align="right">774kB</td>
   <td><tt>b1106e602729c24d109d8de0b0035e9e96801bd505f6b9e6c122962a7ca036f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/qqc2-breeze-style-5.27.12.tar.xz">qqc2-breeze-style-5.27.12</a></td>
   <td align="right">64kB</td>
   <td><tt>01014083b745a02d0e25aa6a79db53d72f3c7ddc188af2385413c74e68bfad43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/sddm-kcm-5.27.12.tar.xz">sddm-kcm-5.27.12</a></td>
   <td align="right">93kB</td>
   <td><tt>6ef1a9eeb688fe1c1d13072795dc5c3a0c92265e0025b43bee82ebdd52a6e30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/systemsettings-5.27.12.tar.xz">systemsettings-5.27.12</a></td>
   <td align="right">225kB</td>
   <td><tt>15fee6d08c87d2b32fc34c824654506a753a7539d3501a834a5e6beff66982d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.12/xdg-desktop-portal-kde-5.27.12.tar.xz">xdg-desktop-portal-kde-5.27.12</a></td>
   <td align="right">142kB</td>
   <td><tt>73d88d32f1fabcb8c965ad24c25a6340d31944061de3490848e0709f87251d87</tt></td>
</tr>

</table>
