<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/akonadi-22.12.3.tar.xz">akonadi-22.12.3</a></td>
   <td align="right">1622kB</td>
   <td><tt>b2eb6b043503566f510dde39b39fec241d6118d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/akonadi-calendar-22.12.3.tar.xz">akonadi-calendar-22.12.3</a></td>
   <td align="right">400kB</td>
   <td><tt>823a08578ef9f590bcd173fbf3e2a0f73e958632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/akonadi-calendar-tools-22.12.3.tar.xz">akonadi-calendar-tools-22.12.3</a></td>
   <td align="right">248kB</td>
   <td><tt>0198280a822fcdc085cd48912c25681f4ce7ca28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/akonadiconsole-22.12.3.tar.xz">akonadiconsole-22.12.3</a></td>
   <td align="right">195kB</td>
   <td><tt>8afa320b11a37bf4b5594aa83dd3074ed9bb328d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/akonadi-contacts-22.12.3.tar.xz">akonadi-contacts-22.12.3</a></td>
   <td align="right">429kB</td>
   <td><tt>10d67ffff080e5b4385ee83e28f59140f8676a0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/akonadi-import-wizard-22.12.3.tar.xz">akonadi-import-wizard-22.12.3</a></td>
   <td align="right">502kB</td>
   <td><tt>336488315113572c67c4540d71838074eea281ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/akonadi-mime-22.12.3.tar.xz">akonadi-mime-22.12.3</a></td>
   <td align="right">150kB</td>
   <td><tt>8962d692856692098160f0fe5e9853ac677d2246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/akonadi-notes-22.12.3.tar.xz">akonadi-notes-22.12.3</a></td>
   <td align="right">27kB</td>
   <td><tt>48f49e825ed92aad4f38a7add16522765209b85b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/akonadi-search-22.12.3.tar.xz">akonadi-search-22.12.3</a></td>
   <td align="right">99kB</td>
   <td><tt>f72892fc3aee4771878dfcc43fbc2a96b2faafdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/akregator-22.12.3.tar.xz">akregator-22.12.3</a></td>
   <td align="right">2269kB</td>
   <td><tt>c29cedc9c2f27fdf09c3d07e3c72d6b73206c8c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/analitza-22.12.3.tar.xz">analitza-22.12.3</a></td>
   <td align="right">344kB</td>
   <td><tt>aeec8c8d9601a85d95ca8b049a5a6bdd2254f64d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ark-22.12.3.tar.xz">ark-22.12.3</a></td>
   <td align="right">2807kB</td>
   <td><tt>43283ad464acf0a081b4188eca15669a3fa17227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/artikulate-22.12.3.tar.xz">artikulate-22.12.3</a></td>
   <td align="right">1068kB</td>
   <td><tt>60df73f1d5bb69aee7633fe4e7edf4aafd03b789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/audiocd-kio-22.12.3.tar.xz">audiocd-kio-22.12.3</a></td>
   <td align="right">548kB</td>
   <td><tt>51d34ca32ddd039bcc3dfec67227f30220b8bccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/baloo-widgets-22.12.3.tar.xz">baloo-widgets-22.12.3</a></td>
   <td align="right">268kB</td>
   <td><tt>ef9b96d9d76dac4f0f34ea8e303df43cb00c89ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/blinken-22.12.3.tar.xz">blinken-22.12.3</a></td>
   <td align="right">2659kB</td>
   <td><tt>43b16fe76ce6f0d5d63adac410c91a129f22d136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/bomber-22.12.3.tar.xz">bomber-22.12.3</a></td>
   <td align="right">818kB</td>
   <td><tt>fcf2790575cfac60333df3048d4c8f74a9eef695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/bovo-22.12.3.tar.xz">bovo-22.12.3</a></td>
   <td align="right">209kB</td>
   <td><tt>c54b37fa453007d8584dc1e7a5e70590a83ca190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/calendarsupport-22.12.3.tar.xz">calendarsupport-22.12.3</a></td>
   <td align="right">964kB</td>
   <td><tt>7e4eb1d7185d38a352fda3c68ca5c2c52d4734b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/cantor-22.12.3.tar.xz">cantor-22.12.3</a></td>
   <td align="right">9034kB</td>
   <td><tt>c91d525322a5e852f5c67eb69cef666abf280a74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/cervisia-22.12.3.tar.xz">cervisia-22.12.3</a></td>
   <td align="right">1898kB</td>
   <td><tt>0ade6a34208251d4bb82bc84b4051ab2bc45f9ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/colord-kde-22.12.3.tar.xz">colord-kde-22.12.3</a></td>
   <td align="right">109kB</td>
   <td><tt>c518e3b409ac0e5d685a7b1986813d28f10a2738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/dolphin-22.12.3.tar.xz">dolphin-22.12.3</a></td>
   <td align="right">5559kB</td>
   <td><tt>1a96b9468c3052ee59277e43ea5b59fa0fc2ffef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/dolphin-plugins-22.12.3.tar.xz">dolphin-plugins-22.12.3</a></td>
   <td align="right">265kB</td>
   <td><tt>196ed0531f1f551e00bfb8a0bf7441f79e182e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/dragon-22.12.3.tar.xz">dragon-22.12.3</a></td>
   <td align="right">1636kB</td>
   <td><tt>daffb4f5f54b172e37475ed72f1276dd2e8085ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/elisa-22.12.3.tar.xz">elisa-22.12.3</a></td>
   <td align="right">1756kB</td>
   <td><tt>240b1b7049bc1744dddfd4157a4c091355ca2c03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/eventviews-22.12.3.tar.xz">eventviews-22.12.3</a></td>
   <td align="right">452kB</td>
   <td><tt>1a81e3a56691172c4d03b1ecfa88411ec613b31f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/falkon-22.12.3.tar.xz">falkon-22.12.3</a></td>
   <td align="right">2488kB</td>
   <td><tt>09d93dbd33fc7a3ab03b6129941c0c3bd2d40238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ffmpegthumbs-22.12.3.tar.xz">ffmpegthumbs-22.12.3</a></td>
   <td align="right">30kB</td>
   <td><tt>60636051906f62b0d76e9a6bd6e4f76a1833ac58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/filelight-22.12.3.tar.xz">filelight-22.12.3</a></td>
   <td align="right">684kB</td>
   <td><tt>b1a0d299a1bb7019bb66635af6f27d1d7cff96c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/granatier-22.12.3.tar.xz">granatier-22.12.3</a></td>
   <td align="right">2062kB</td>
   <td><tt>b46c7904a2f3ac86611b831206e536a4346d8d06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/grantlee-editor-22.12.3.tar.xz">grantlee-editor-22.12.3</a></td>
   <td align="right">114kB</td>
   <td><tt>b769547146fbdceec9c2f3f279b46a3553c54fcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/grantleetheme-22.12.3.tar.xz">grantleetheme-22.12.3</a></td>
   <td align="right">60kB</td>
   <td><tt>f03aa441001c6a39ef383be299e57ca92db522d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/gwenview-22.12.3.tar.xz">gwenview-22.12.3</a></td>
   <td align="right">6716kB</td>
   <td><tt>b9d40d11d3730dfd71fca6ca2780fb06714565d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/incidenceeditor-22.12.3.tar.xz">incidenceeditor-22.12.3</a></td>
   <td align="right">555kB</td>
   <td><tt>f3b4bf03d4dc5aa9da60e5842e517bd3b53a1884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/itinerary-22.12.3.tar.xz">itinerary-22.12.3</a></td>
   <td align="right">567kB</td>
   <td><tt>afec3ffe17a51e1ab27c4258e342b83fc53d9d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/juk-22.12.3.tar.xz">juk-22.12.3</a></td>
   <td align="right">2027kB</td>
   <td><tt>27902b8573a5dc341cd4d5c1c46347e814770c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/k3b-22.12.3.tar.xz">k3b-22.12.3</a></td>
   <td align="right">10691kB</td>
   <td><tt>a597f5fd1bb039e4c94f5c517d340a5cc187699c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kaccounts-integration-22.12.3.tar.xz">kaccounts-integration-22.12.3</a></td>
   <td align="right">86kB</td>
   <td><tt>a65a94b8c48a52bbd098d29f795c2de4e64ff1fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kaccounts-providers-22.12.3.tar.xz">kaccounts-providers-22.12.3</a></td>
   <td align="right">64kB</td>
   <td><tt>177d857e241ce998e07c500cd4445bf2be88e6d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kaddressbook-22.12.3.tar.xz">kaddressbook-22.12.3</a></td>
   <td align="right">3377kB</td>
   <td><tt>1dafadaa3f64dff8fdd9c885666587bd28d3d161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kajongg-22.12.3.tar.xz">kajongg-22.12.3</a></td>
   <td align="right">4470kB</td>
   <td><tt>f3ee09d9f8d62b376cf58beffda663b031dd51f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kalarm-22.12.3.tar.xz">kalarm-22.12.3</a></td>
   <td align="right">2519kB</td>
   <td><tt>2370d5c8bb215364394dee2db71ba69c7bdefd1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kalendar-22.12.3.tar.xz">kalendar-22.12.3</a></td>
   <td align="right">784kB</td>
   <td><tt>25d20c7bf46c94fc9eb62665f24d467250604abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kalgebra-22.12.3.tar.xz">kalgebra-22.12.3</a></td>
   <td align="right">1011kB</td>
   <td><tt>ac2a8b0ef036a2200ffa4cb5b4b781443ee27ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kalzium-22.12.3.tar.xz">kalzium-22.12.3</a></td>
   <td align="right">24063kB</td>
   <td><tt>6eb88660052483ff5ff098bd074acf3db9f98446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kamera-22.12.3.tar.xz">kamera-22.12.3</a></td>
   <td align="right">128kB</td>
   <td><tt>0be710ef3842621b2a3e64b4690c8de3370bc0fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kamoso-22.12.3.tar.xz">kamoso-22.12.3</a></td>
   <td align="right">223kB</td>
   <td><tt>2df3c6540f07030cc8856736a22bd0422791376f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kanagram-22.12.3.tar.xz">kanagram-22.12.3</a></td>
   <td align="right">7874kB</td>
   <td><tt>b543085440fdf109bd4651f36cc551f2897bbdaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kapman-22.12.3.tar.xz">kapman-22.12.3</a></td>
   <td align="right">2422kB</td>
   <td><tt>100067fb6cdb2569bfd7862638e62821f68ac0c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kapptemplate-22.12.3.tar.xz">kapptemplate-22.12.3</a></td>
   <td align="right">330kB</td>
   <td><tt>49eac52b730f7e1956657f2c21f3dda7a35e0491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kate-22.12.3.tar.xz">kate-22.12.3</a></td>
   <td align="right">7703kB</td>
   <td><tt>ea8030878d09d8fae683f951607f2200455899fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/katomic-22.12.3.tar.xz">katomic-22.12.3</a></td>
   <td align="right">1416kB</td>
   <td><tt>c2fb7417387f5db8e72e10baa59853da2d1bc4a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kbackup-22.12.3.tar.xz">kbackup-22.12.3</a></td>
   <td align="right">386kB</td>
   <td><tt>8eebbaf81b9b315311ab1f62d9a4027e2e69e0fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kblackbox-22.12.3.tar.xz">kblackbox-22.12.3</a></td>
   <td align="right">537kB</td>
   <td><tt>03e393c2a71b0df386de266ffca2e49db75124ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kblocks-22.12.3.tar.xz">kblocks-22.12.3</a></td>
   <td align="right">2058kB</td>
   <td><tt>785931c9f432dc887bb01027652e3729508119cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kbounce-22.12.3.tar.xz">kbounce-22.12.3</a></td>
   <td align="right">3460kB</td>
   <td><tt>29f43bf1123719757c782e60914109ad2f64a34f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kbreakout-22.12.3.tar.xz">kbreakout-22.12.3</a></td>
   <td align="right">2498kB</td>
   <td><tt>7e08c10fb2c8d003268aebb4cb5fb62f99e24d33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kbruch-22.12.3.tar.xz">kbruch-22.12.3</a></td>
   <td align="right">5522kB</td>
   <td><tt>2933437ced41ab81ba59b7e03742a9810e74dd4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kcachegrind-22.12.3.tar.xz">kcachegrind-22.12.3</a></td>
   <td align="right">888kB</td>
   <td><tt>18802e3ad40acc617a759f30ab0ac376bfd643c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kcalc-22.12.3.tar.xz">kcalc-22.12.3</a></td>
   <td align="right">424kB</td>
   <td><tt>bac2afcf760f1a5d3283c2197e2839a1ed8cba74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kcalutils-22.12.3.tar.xz">kcalutils-22.12.3</a></td>
   <td align="right">349kB</td>
   <td><tt>1dc4fe967e063b12c917873acb44564be0be165f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kcharselect-22.12.3.tar.xz">kcharselect-22.12.3</a></td>
   <td align="right">372kB</td>
   <td><tt>4658c493d9d49c2a1f77150a32d61a84137309d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kcolorchooser-22.12.3.tar.xz">kcolorchooser-22.12.3</a></td>
   <td align="right">31kB</td>
   <td><tt>5b80b0eac3e83ed2a925f62c7ff0ffaeb4508bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kcron-22.12.3.tar.xz">kcron-22.12.3</a></td>
   <td align="right">920kB</td>
   <td><tt>dcd63b0d1757904bef7aca322763b9c7e9aa5270</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdebugsettings-22.12.3.tar.xz">kdebugsettings-22.12.3</a></td>
   <td align="right">94kB</td>
   <td><tt>f90378a3840bcb6e8fae3ba24e8ddb40ac96758b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdeconnect-kde-22.12.3.tar.xz">kdeconnect-kde-22.12.3</a></td>
   <td align="right">623kB</td>
   <td><tt>50d58133c417d82fabdb817733138afdd5204017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kde-dev-scripts-22.12.3.tar.xz">kde-dev-scripts-22.12.3</a></td>
   <td align="right">364kB</td>
   <td><tt>fedf596c38a553a4ee7972dac755986a2bbaba86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kde-dev-utils-22.12.3.tar.xz">kde-dev-utils-22.12.3</a></td>
   <td align="right">70kB</td>
   <td><tt>7a44faf0ac084e87d9738a9bfed547ef73b91ca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdeedu-data-22.12.3.tar.xz">kdeedu-data-22.12.3</a></td>
   <td align="right">325kB</td>
   <td><tt>843f7065fe9b45660268068b7a830d2988c86eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdegraphics-mobipocket-22.12.3.tar.xz">kdegraphics-mobipocket-22.12.3</a></td>
   <td align="right">12kB</td>
   <td><tt>e3ca8a459728fc6ca097e80b72730927c30bda56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdegraphics-thumbnailers-22.12.3.tar.xz">kdegraphics-thumbnailers-22.12.3</a></td>
   <td align="right">47kB</td>
   <td><tt>e6bd962a3bd6f828c098fcd26d5480246ae8f36d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdenetwork-filesharing-22.12.3.tar.xz">kdenetwork-filesharing-22.12.3</a></td>
   <td align="right">454kB</td>
   <td><tt>164da173a29c7105355c2d2a806d4270cc25da85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdenlive-22.12.3.tar.xz">kdenlive-22.12.3</a></td>
   <td align="right">12237kB</td>
   <td><tt>d3154f2b0a9e3c0c86d3d7c8d87c153546dd3712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdepim-addons-22.12.3.tar.xz">kdepim-addons-22.12.3</a></td>
   <td align="right">2608kB</td>
   <td><tt>1e89644162d0239257eaef285cd464688b86fa23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdepim-runtime-22.12.3.tar.xz">kdepim-runtime-22.12.3</a></td>
   <td align="right">1812kB</td>
   <td><tt>8091a27d9105e2e92ebf1c55741b5d150c854796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdesdk-kio-22.12.3.tar.xz">kdesdk-kio-22.12.3</a></td>
   <td align="right">39kB</td>
   <td><tt>e441818ecf39ecfd5a423a8f5ddb3d7a0acaa8d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdesdk-thumbnailers-22.12.3.tar.xz">kdesdk-thumbnailers-22.12.3</a></td>
   <td align="right">26kB</td>
   <td><tt>f195267d34ff94275a328a875d4a8d7f5882caf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdevelop-22.12.3.tar.xz">kdevelop-22.12.3</a></td>
   <td align="right">8450kB</td>
   <td><tt>ad8f14455a398427528b75e5faf3b19cfff1e8c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdev-php-22.12.3.tar.xz">kdev-php-22.12.3</a></td>
   <td align="right">1060kB</td>
   <td><tt>44cff3e0d1ec5739c111ba60cb9ac14d7ff40a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdev-python-22.12.3.tar.xz">kdev-python-22.12.3</a></td>
   <td align="right">1070kB</td>
   <td><tt>2261b7ecc5f23240d771f728c5cd9df4c4ddaa58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdf-22.12.3.tar.xz">kdf-22.12.3</a></td>
   <td align="right">481kB</td>
   <td><tt>e0aa8373271ee39fdb0aa046a44ecb679c170f66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdialog-22.12.3.tar.xz">kdialog-22.12.3</a></td>
   <td align="right">136kB</td>
   <td><tt>86ad6633795ffc79b11998cd900f533926eca6fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kdiamond-22.12.3.tar.xz">kdiamond-22.12.3</a></td>
   <td align="right">4597kB</td>
   <td><tt>b948573729549e410223d88bf354812b0cce4004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/keditbookmarks-22.12.3.tar.xz">keditbookmarks-22.12.3</a></td>
   <td align="right">231kB</td>
   <td><tt>0a19b2a6758438803d883d2365120d00fc4fd8bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kfind-22.12.3.tar.xz">kfind-22.12.3</a></td>
   <td align="right">332kB</td>
   <td><tt>306c71fcae1c5a621a9277c953555e238e5a1cd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kfloppy-22.12.3.tar.xz">kfloppy-22.12.3</a></td>
   <td align="right">235kB</td>
   <td><tt>66cf6401fc93d7e33ada65cb86f6f1b7ad37f912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kfourinline-22.12.3.tar.xz">kfourinline-22.12.3</a></td>
   <td align="right">721kB</td>
   <td><tt>ec447c283f9c7f22f3d7d052ba56a1903aa2183f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kgeography-22.12.3.tar.xz">kgeography-22.12.3</a></td>
   <td align="right">12260kB</td>
   <td><tt>84555bf843b0e216f6249eff3d7c377d33624cc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kget-22.12.3.tar.xz">kget-22.12.3</a></td>
   <td align="right">5432kB</td>
   <td><tt>1a6ce2b3aea446807444116d2390043cd268f989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kgoldrunner-22.12.3.tar.xz">kgoldrunner-22.12.3</a></td>
   <td align="right">4789kB</td>
   <td><tt>55f6f59154dce564dceea785741fffb455f81f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kgpg-22.12.3.tar.xz">kgpg-22.12.3</a></td>
   <td align="right">2973kB</td>
   <td><tt>701309e42147e8cf2d7b819fd664d5441f4f9c15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/khangman-22.12.3.tar.xz">khangman-22.12.3</a></td>
   <td align="right">7261kB</td>
   <td><tt>3d0766f846ebf85daead6ce10f490ce177752693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/khelpcenter-22.12.3.tar.xz">khelpcenter-22.12.3</a></td>
   <td align="right">4263kB</td>
   <td><tt>b7199ab0aa005a4016390513bad73c0da23987ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kidentitymanagement-22.12.3.tar.xz">kidentitymanagement-22.12.3</a></td>
   <td align="right">158kB</td>
   <td><tt>9b6d1b314e8a311642371f9ac22f8db85b1304e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kig-22.12.3.tar.xz">kig-22.12.3</a></td>
   <td align="right">3204kB</td>
   <td><tt>f67871c6a181a6db1ae272f8b30e5a816f59b5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kigo-22.12.3.tar.xz">kigo-22.12.3</a></td>
   <td align="right">5140kB</td>
   <td><tt>28dab9232429fbe630c43f124f7003be1f1250c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/killbots-22.12.3.tar.xz">killbots-22.12.3</a></td>
   <td align="right">1174kB</td>
   <td><tt>d0445aa716587089d6cac7d46cb97f9c5343ca87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kimagemapeditor-22.12.3.tar.xz">kimagemapeditor-22.12.3</a></td>
   <td align="right">1077kB</td>
   <td><tt>75c5d7778eaeeda4ae652ef488effccf0ffb9e57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kimap-22.12.3.tar.xz">kimap-22.12.3</a></td>
   <td align="right">129kB</td>
   <td><tt>9d91c464bd21bd76225d11109b995dc339e52b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kio-extras-22.12.3.tar.xz">kio-extras-22.12.3</a></td>
   <td align="right">1365kB</td>
   <td><tt>4d623c0f5b861478f78fee1f43d5c4aea294d5be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kio-gdrive-22.12.3.tar.xz">kio-gdrive-22.12.3</a></td>
   <td align="right">75kB</td>
   <td><tt>2cee15b08a37734304ebccbc85a7f221d073b019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kio-zeroconf-22.12.3.tar.xz">kio-zeroconf-22.12.3</a></td>
   <td align="right">41kB</td>
   <td><tt>868f5a1ed4117c934be833abf788595a820f39bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kipi-plugins-22.12.3.tar.xz">kipi-plugins-22.12.3</a></td>
   <td align="right">1525kB</td>
   <td><tt>c9dc28393dbddbf73068cf8fc45bb95034aa7c3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kirigami-gallery-22.12.3.tar.xz">kirigami-gallery-22.12.3</a></td>
   <td align="right">342kB</td>
   <td><tt>e40ee6fc10282df90d62e22f9a597c1dd1f4e4d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kiriki-22.12.3.tar.xz">kiriki-22.12.3</a></td>
   <td align="right">360kB</td>
   <td><tt>c3f702f82d72b9557180a8fcd850fc0369d1877b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kiten-22.12.3.tar.xz">kiten-22.12.3</a></td>
   <td align="right">11069kB</td>
   <td><tt>9f052e3fa255708a6d04709ed5bd2d6e5f6ae16f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kitinerary-22.12.3.tar.xz">kitinerary-22.12.3</a></td>
   <td align="right">1683kB</td>
   <td><tt>c51de061d592223730e264bc40c39a1082f10402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kjumpingcube-22.12.3.tar.xz">kjumpingcube-22.12.3</a></td>
   <td align="right">328kB</td>
   <td><tt>c9702959df6932d552b907727e825e0c5625c8fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kldap-22.12.3.tar.xz">kldap-22.12.3</a></td>
   <td align="right">177kB</td>
   <td><tt>dc9d8080d6700a936d2c4683588666664e1751ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kleopatra-22.12.3.tar.xz">kleopatra-22.12.3</a></td>
   <td align="right">2519kB</td>
   <td><tt>e50d7731fda682dc9c3f607a4d34b4eac450b703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/klettres-22.12.3.tar.xz">klettres-22.12.3</a></td>
   <td align="right">46717kB</td>
   <td><tt>aa4ce7354e62da07494eba6ffa272f11413fa549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/klickety-22.12.3.tar.xz">klickety-22.12.3</a></td>
   <td align="right">1464kB</td>
   <td><tt>9c6b0f49fbee679aee1441b7a9a73a19c5043059</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/klines-22.12.3.tar.xz">klines-22.12.3</a></td>
   <td align="right">1696kB</td>
   <td><tt>40d5ba657ffb2bb5c7be604004754cd501a669c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmag-22.12.3.tar.xz">kmag-22.12.3</a></td>
   <td align="right">707kB</td>
   <td><tt>d2ed8af9cd089c87d1b6dd262d27b26611bd0ad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmahjongg-22.12.3.tar.xz">kmahjongg-22.12.3</a></td>
   <td align="right">3999kB</td>
   <td><tt>af63084800cce40d96433d12b72d6aea257bc9ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmail-22.12.3.tar.xz">kmail-22.12.3</a></td>
   <td align="right">7480kB</td>
   <td><tt>70fadea8ae47b3fe09da07e7a2b99a934cb3e385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmail-account-wizard-22.12.3.tar.xz">kmail-account-wizard-22.12.3</a></td>
   <td align="right">179kB</td>
   <td><tt>abb27c5b060526c12980b2584de15ac6806c755a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmailtransport-22.12.3.tar.xz">kmailtransport-22.12.3</a></td>
   <td align="right">186kB</td>
   <td><tt>d54f2ebc99046513fc6fd73d2f3906dd8bc2813b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmbox-22.12.3.tar.xz">kmbox-22.12.3</a></td>
   <td align="right">28kB</td>
   <td><tt>88bb99a71e969c31e1d4f1e4b2a6f36f72592e54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmime-22.12.3.tar.xz">kmime-22.12.3</a></td>
   <td align="right">158kB</td>
   <td><tt>acdba2dffcbfc7d85b38b89b45366df8fc65af01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmines-22.12.3.tar.xz">kmines-22.12.3</a></td>
   <td align="right">985kB</td>
   <td><tt>1a7ffc84e302b7de8bbbc71e1ec4f814d9473ea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmix-22.12.3.tar.xz">kmix-22.12.3</a></td>
   <td align="right">1168kB</td>
   <td><tt>60d99550a8bc9cba6f071049f4efef4e65f6a80f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmousetool-22.12.3.tar.xz">kmousetool-22.12.3</a></td>
   <td align="right">126kB</td>
   <td><tt>e768c409c6bc261f7375ea3fe350216b0ba5d822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmouth-22.12.3.tar.xz">kmouth-22.12.3</a></td>
   <td align="right">2038kB</td>
   <td><tt>d4194f697c78f3b06053c0f8c3a8c4f6991630ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kmplot-22.12.3.tar.xz">kmplot-22.12.3</a></td>
   <td align="right">3027kB</td>
   <td><tt>e4650e37ec960fe2e4268249c73e8ff228604a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/knavalbattle-22.12.3.tar.xz">knavalbattle-22.12.3</a></td>
   <td align="right">1368kB</td>
   <td><tt>3bf66f73f907ce17f3c5f4879d0e164ed27c4eee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/knetwalk-22.12.3.tar.xz">knetwalk-22.12.3</a></td>
   <td align="right">1078kB</td>
   <td><tt>6eecf43482712a81f5ef6d608a31ed37707bf69f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/knights-22.12.3.tar.xz">knights-22.12.3</a></td>
   <td align="right">3251kB</td>
   <td><tt>bb6e4aafe01bebaa8b3a7608b4a0a8d8f999c5ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/knotes-22.12.3.tar.xz">knotes-22.12.3</a></td>
   <td align="right">366kB</td>
   <td><tt>f485cbe5c5a8cba8a8cb14b666332a8276493006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kolf-22.12.3.tar.xz">kolf-22.12.3</a></td>
   <td align="right">1045kB</td>
   <td><tt>dd8994238a991aa4b051999c4b4503c29af43953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kollision-22.12.3.tar.xz">kollision-22.12.3</a></td>
   <td align="right">299kB</td>
   <td><tt>f429ab5878cd92744e7f4e1a76da7e07e46ca017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kolourpaint-22.12.3.tar.xz">kolourpaint-22.12.3</a></td>
   <td align="right">5649kB</td>
   <td><tt>ae4d4ae4422bc8676916a8615b1c7e06af9e101e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kompare-22.12.3.tar.xz">kompare-22.12.3</a></td>
   <td align="right">956kB</td>
   <td><tt>32324ed265075f21181a2d8068ecbd0eb849cfcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/konqueror-22.12.3.tar.xz">konqueror-22.12.3</a></td>
   <td align="right">8295kB</td>
   <td><tt>d6d64dabafc77dc96520f25df5aeffaecdff6690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/konquest-22.12.3.tar.xz">konquest-22.12.3</a></td>
   <td align="right">855kB</td>
   <td><tt>49e97b9995cfb77186b2d44ff6c878b828fcb859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/konsole-22.12.3.tar.xz">konsole-22.12.3</a></td>
   <td align="right">1738kB</td>
   <td><tt>f19f611f648576ac8860e00394cf51df8d91f3dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kontact-22.12.3.tar.xz">kontact-22.12.3</a></td>
   <td align="right">850kB</td>
   <td><tt>a524792b511672b3ebd353dcf2945f47f47a1f56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kontactinterface-22.12.3.tar.xz">kontactinterface-22.12.3</a></td>
   <td align="right">38kB</td>
   <td><tt>2a2111af2e59816eeff7ea52b2d495132ac8c1d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kontrast-22.12.3.tar.xz">kontrast-22.12.3</a></td>
   <td align="right">196kB</td>
   <td><tt>4af040e8c9d16cb3a13774840da15e9765b8d5b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/konversation-22.12.3.tar.xz">konversation-22.12.3</a></td>
   <td align="right">4349kB</td>
   <td><tt>d05b148d6a377a0a7f653af79ae7b90d7eb017e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kopeninghours-22.12.3.tar.xz">kopeninghours-22.12.3</a></td>
   <td align="right">69kB</td>
   <td><tt>0546ac86ce8f4029d1e8be862461fa2de793abda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kopete-22.12.3.tar.xz">kopete-22.12.3</a></td>
   <td align="right">10039kB</td>
   <td><tt>4443740015073e7453cbd9d20ce04d04f95324af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/korganizer-22.12.3.tar.xz">korganizer-22.12.3</a></td>
   <td align="right">2511kB</td>
   <td><tt>8eef6d08cc9af407b1cfcb933a48681d7d7b60ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kosmindoormap-22.12.3.tar.xz">kosmindoormap-22.12.3</a></td>
   <td align="right">355kB</td>
   <td><tt>58f6947b27cdb5f2324a479da3d97219aa6f6397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kpat-22.12.3.tar.xz">kpat-22.12.3</a></td>
   <td align="right">3663kB</td>
   <td><tt>5a06304b5abab310c7454bbcda0999b5b85a3d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kpimtextedit-22.12.3.tar.xz">kpimtextedit-22.12.3</a></td>
   <td align="right">218kB</td>
   <td><tt>17905f7179dd1ba570c157f518adf0e052810393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kpkpass-22.12.3.tar.xz">kpkpass-22.12.3</a></td>
   <td align="right">28kB</td>
   <td><tt>038cb1f7a7043d630f38c07214fee6b5c978ed33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kpmcore-22.12.3.tar.xz">kpmcore-22.12.3</a></td>
   <td align="right">603kB</td>
   <td><tt>5e0d3fda15cf56405860c87638de12d78e757e66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kpublictransport-22.12.3.tar.xz">kpublictransport-22.12.3</a></td>
   <td align="right">479kB</td>
   <td><tt>3cbbfa6d96f5eab45d053e83834726f2ba0bdbf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kqtquickcharts-22.12.3.tar.xz">kqtquickcharts-22.12.3</a></td>
   <td align="right">30kB</td>
   <td><tt>843a1024aa23064704e193d428cc4501606b1711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/krdc-22.12.3.tar.xz">krdc-22.12.3</a></td>
   <td align="right">1594kB</td>
   <td><tt>e3f858ded08557ece904e45402a2e71bd26dcb81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kreversi-22.12.3.tar.xz">kreversi-22.12.3</a></td>
   <td align="right">1051kB</td>
   <td><tt>0f0927dea1772b4ed48d6933e3a8be6cb2e46130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/krfb-22.12.3.tar.xz">krfb-22.12.3</a></td>
   <td align="right">1293kB</td>
   <td><tt>8bc7e6254ee4fc0a94687fecbc251354e87efd43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kross-interpreters-22.12.3.tar.xz">kross-interpreters-22.12.3</a></td>
   <td align="right">148kB</td>
   <td><tt>96e59f82cf14ccddc6b988a3558ff3303558efd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kruler-22.12.3.tar.xz">kruler-22.12.3</a></td>
   <td align="right">279kB</td>
   <td><tt>6aea3c94639d17f605755b33b149e10d9f5f57df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ksanecore-22.12.3.tar.xz">ksanecore-22.12.3</a></td>
   <td align="right">45kB</td>
   <td><tt>a87107d4ce179d728c62ad46560c90f3ef469b0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kshisen-22.12.3.tar.xz">kshisen-22.12.3</a></td>
   <td align="right">983kB</td>
   <td><tt>8366c4e244f51242896157f402ab39210fc9bb48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ksirk-22.12.3.tar.xz">ksirk-22.12.3</a></td>
   <td align="right">6882kB</td>
   <td><tt>d31fb384c576aa996dfa9ddf5ebea65cd233de5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ksmtp-22.12.3.tar.xz">ksmtp-22.12.3</a></td>
   <td align="right">48kB</td>
   <td><tt>476d8df958a17bc1d4901dac92ffcc75a4b147d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ksnakeduel-22.12.3.tar.xz">ksnakeduel-22.12.3</a></td>
   <td align="right">597kB</td>
   <td><tt>7044ef52f55f51ea25639021af8764ceb55173b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kspaceduel-22.12.3.tar.xz">kspaceduel-22.12.3</a></td>
   <td align="right">644kB</td>
   <td><tt>903bb61e65f8e44acab3d9e9dfa7368ea7e77d6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ksquares-22.12.3.tar.xz">ksquares-22.12.3</a></td>
   <td align="right">304kB</td>
   <td><tt>2955656a7fcb23646bc307d3208adc4b0ab2b60a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ksudoku-22.12.3.tar.xz">ksudoku-22.12.3</a></td>
   <td align="right">1663kB</td>
   <td><tt>2dee3ad37b4b6737eca65b2d142455a854861ea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ksystemlog-22.12.3.tar.xz">ksystemlog-22.12.3</a></td>
   <td align="right">1955kB</td>
   <td><tt>56b076cd0d08359c6170ffb9de452f2727fa974f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kteatime-22.12.3.tar.xz">kteatime-22.12.3</a></td>
   <td align="right">305kB</td>
   <td><tt>6fdd2f810fbfca18dd4ac1ee7685d5a50c0f66a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktimer-22.12.3.tar.xz">ktimer-22.12.3</a></td>
   <td align="right">392kB</td>
   <td><tt>ea58a14f1b764b55726f69bb08882edecdb9a198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktnef-22.12.3.tar.xz">ktnef-22.12.3</a></td>
   <td align="right">301kB</td>
   <td><tt>cb8fb8876dc498577bfa9813c05f48353898ddbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktorrent-22.12.3.tar.xz">ktorrent-22.12.3</a></td>
   <td align="right">2093kB</td>
   <td><tt>b3dd6f74bb4e5518612480ae1f22f28b8b958bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktouch-22.12.3.tar.xz">ktouch-22.12.3</a></td>
   <td align="right">4916kB</td>
   <td><tt>86e14d3cd6e706d1288a99e472714f9b15443633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-accounts-kcm-22.12.3.tar.xz">ktp-accounts-kcm-22.12.3</a></td>
   <td align="right">270kB</td>
   <td><tt>2581dcb9d04bda12240e27216916a9208e36f742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-approver-22.12.3.tar.xz">ktp-approver-22.12.3</a></td>
   <td align="right">38kB</td>
   <td><tt>bc40677f7f5b83063976bbf5796e73dc4c32ee7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-auth-handler-22.12.3.tar.xz">ktp-auth-handler-22.12.3</a></td>
   <td align="right">47kB</td>
   <td><tt>82ce7043e22f3c2582eefa78d37b1e2aaed711ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-call-ui-22.12.3.tar.xz">ktp-call-ui-22.12.3</a></td>
   <td align="right">101kB</td>
   <td><tt>073d3b6990032a9498cbbe70ee5d3d156f6f37fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-common-internals-22.12.3.tar.xz">ktp-common-internals-22.12.3</a></td>
   <td align="right">448kB</td>
   <td><tt>c90c186115989838e24ee6933d19264cf1baed67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-contact-list-22.12.3.tar.xz">ktp-contact-list-22.12.3</a></td>
   <td align="right">156kB</td>
   <td><tt>15e42aa1caf130a948d3104f31f2477066e8451b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-contact-runner-22.12.3.tar.xz">ktp-contact-runner-22.12.3</a></td>
   <td align="right">44kB</td>
   <td><tt>8eae1edbbaa49feb37f7e9bcee83ba8397f688cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-desktop-applets-22.12.3.tar.xz">ktp-desktop-applets-22.12.3</a></td>
   <td align="right">44kB</td>
   <td><tt>f6a866980d871e5e5c76eec6dd71502df2523c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-filetransfer-handler-22.12.3.tar.xz">ktp-filetransfer-handler-22.12.3</a></td>
   <td align="right">46kB</td>
   <td><tt>f8fc329269242df32537178af5732b07ad0c4a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-kded-module-22.12.3.tar.xz">ktp-kded-module-22.12.3</a></td>
   <td align="right">101kB</td>
   <td><tt>77be3f15a78655eea52667993a22abeafcd3aa69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-send-file-22.12.3.tar.xz">ktp-send-file-22.12.3</a></td>
   <td align="right">28kB</td>
   <td><tt>064a743155ca477f2f70630732a96b74b9c40550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktp-text-ui-22.12.3.tar.xz">ktp-text-ui-22.12.3</a></td>
   <td align="right">475kB</td>
   <td><tt>7b4ba55f4b721cabfe5d41823d445f14864c8451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/ktuberling-22.12.3.tar.xz">ktuberling-22.12.3</a></td>
   <td align="right">69748kB</td>
   <td><tt>c6a270a922430b88ec9f79eae8bb30cbdcc01504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kturtle-22.12.3.tar.xz">kturtle-22.12.3</a></td>
   <td align="right">1953kB</td>
   <td><tt>8f09fd994c1e2199ab7c69dfc5eadeabef502dee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kubrick-22.12.3.tar.xz">kubrick-22.12.3</a></td>
   <td align="right">340kB</td>
   <td><tt>47b6ca4d984c492631858346740d17ab3095c9a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kwalletmanager-22.12.3.tar.xz">kwalletmanager-22.12.3</a></td>
   <td align="right">820kB</td>
   <td><tt>249c6551690868b69e49bd9be19c09fe49fb1aa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kwave-22.12.3.tar.xz">kwave-22.12.3</a></td>
   <td align="right">6802kB</td>
   <td><tt>153e9f85c91241f1d8f8c0d516a1ed638eb4b3ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/kwordquiz-22.12.3.tar.xz">kwordquiz-22.12.3</a></td>
   <td align="right">4162kB</td>
   <td><tt>89e463b9b1c99c13673bb41cfc53c133b8db9735</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libgravatar-22.12.3.tar.xz">libgravatar-22.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>1d3002204cb9019205e925b3e8b7f83a4133cb26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkcddb-22.12.3.tar.xz">libkcddb-22.12.3</a></td>
   <td align="right">448kB</td>
   <td><tt>f9b6ffa77cce5a1b86eaf5d6cc4fcb29f3c31e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkcompactdisc-22.12.3.tar.xz">libkcompactdisc-22.12.3</a></td>
   <td align="right">96kB</td>
   <td><tt>5df8bfc52a0f6f8a8bdf42e7225c3f75cd8aad3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkdcraw-22.12.3.tar.xz">libkdcraw-22.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>ae4513e53a72e829d1480b3d2fb3970782e37a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkdegames-22.12.3.tar.xz">libkdegames-22.12.3</a></td>
   <td align="right">5871kB</td>
   <td><tt>275ecf3759d8a845e67fa05f049c9643e68a6b6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkdepim-22.12.3.tar.xz">libkdepim-22.12.3</a></td>
   <td align="right">279kB</td>
   <td><tt>3fec3d3530e0d47df46849c07cee989081a744e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkeduvocdocument-22.12.3.tar.xz">libkeduvocdocument-22.12.3</a></td>
   <td align="right">224kB</td>
   <td><tt>023e90d624198610857afea97e6679ae7bf32074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkexiv2-22.12.3.tar.xz">libkexiv2-22.12.3</a></td>
   <td align="right">58kB</td>
   <td><tt>5f2691635c2af99c96989f28178ddcd5ff7e5f87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkgapi-22.12.3.tar.xz">libkgapi-22.12.3</a></td>
   <td align="right">239kB</td>
   <td><tt>ca0c59e58d64be4f5713f7b9ee96e92867e34f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkipi-22.12.3.tar.xz">libkipi-22.12.3</a></td>
   <td align="right">86kB</td>
   <td><tt>249b3e554c8299289d7d583a852b789fb8b2446e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkleo-22.12.3.tar.xz">libkleo-22.12.3</a></td>
   <td align="right">500kB</td>
   <td><tt>d277fae2385944a516ef12b183761017e2792a5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkmahjongg-22.12.3.tar.xz">libkmahjongg-22.12.3</a></td>
   <td align="right">1647kB</td>
   <td><tt>5393169360eaf3440a7cf20b1a9af81b37272e2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libkomparediff2-22.12.3.tar.xz">libkomparediff2-22.12.3</a></td>
   <td align="right">181kB</td>
   <td><tt>b275cf57fb181ac053fff8fd49145a9593a17745</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libksane-22.12.3.tar.xz">libksane-22.12.3</a></td>
   <td align="right">149kB</td>
   <td><tt>56a2ce9c67e6e022f58d031d5df75a20b169fce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libksieve-22.12.3.tar.xz">libksieve-22.12.3</a></td>
   <td align="right">541kB</td>
   <td><tt>35cdbcec625e1b21a9159573443555d3626fc0ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/libktorrent-22.12.3.tar.xz">libktorrent-22.12.3</a></td>
   <td align="right">602kB</td>
   <td><tt>03b6bc3cfc9a649786afbd7008bc62e66b4474b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/lokalize-22.12.3.tar.xz">lokalize-22.12.3</a></td>
   <td align="right">2066kB</td>
   <td><tt>104213e77535a72add4cb12e0a7d296410d96c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/lskat-22.12.3.tar.xz">lskat-22.12.3</a></td>
   <td align="right">1220kB</td>
   <td><tt>7e55e2e064af97e2829ba03678f5af1fcf80a70e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/mailcommon-22.12.3.tar.xz">mailcommon-22.12.3</a></td>
   <td align="right">739kB</td>
   <td><tt>bd576dbfdde0af97559d84475f0bb98fc8f9c136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/mailimporter-22.12.3.tar.xz">mailimporter-22.12.3</a></td>
   <td align="right">575kB</td>
   <td><tt>aff130a51ab9fbfb0df27bc12ea5f1af254090ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/marble-22.12.3.tar.xz">marble-22.12.3</a></td>
   <td align="right">52492kB</td>
   <td><tt>ba20c6c90dc9409904d22c2495c7f88b68ab2dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/markdownpart-22.12.3.tar.xz">markdownpart-22.12.3</a></td>
   <td align="right">30kB</td>
   <td><tt>b7325454eca38e79773fa8c5682d753ee5017e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/mbox-importer-22.12.3.tar.xz">mbox-importer-22.12.3</a></td>
   <td align="right">29kB</td>
   <td><tt>e67b6355321c0f485687c58a0acec75fbecdc9cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/messagelib-22.12.3.tar.xz">messagelib-22.12.3</a></td>
   <td align="right">11049kB</td>
   <td><tt>8ecc3de807e7e73697c35b4f4abaf28bd4c88095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/minuet-22.12.3.tar.xz">minuet-22.12.3</a></td>
   <td align="right">27033kB</td>
   <td><tt>cbdf02ac0e227a8d89da8920598b5782a8007e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/okular-22.12.3.tar.xz">okular-22.12.3</a></td>
   <td align="right">8185kB</td>
   <td><tt>8e7ca1a75ddc277685e9fe5ddde63575483fcf0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/palapeli-22.12.3.tar.xz">palapeli-22.12.3</a></td>
   <td align="right">2061kB</td>
   <td><tt>7068810eeaff8c38a4453e7a371a39994a20bc33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/parley-22.12.3.tar.xz">parley-22.12.3</a></td>
   <td align="right">8391kB</td>
   <td><tt>6ec405903c11336c7b917ee3c5ca9d618689acac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/partitionmanager-22.12.3.tar.xz">partitionmanager-22.12.3</a></td>
   <td align="right">2078kB</td>
   <td><tt>b85401d1eb22cfecd9612c3748280d1c0d221e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/picmi-22.12.3.tar.xz">picmi-22.12.3</a></td>
   <td align="right">1503kB</td>
   <td><tt>c1fb74b5b55b7e219402106b7f57368cb3019d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/pimcommon-22.12.3.tar.xz">pimcommon-22.12.3</a></td>
   <td align="right">411kB</td>
   <td><tt>6f0230b006aa190260660d4b14fa4824228cd90b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/pim-data-exporter-22.12.3.tar.xz">pim-data-exporter-22.12.3</a></td>
   <td align="right">416kB</td>
   <td><tt>e97811bb8d9d72b534dbec47631098d211bb42b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/pim-sieve-editor-22.12.3.tar.xz">pim-sieve-editor-22.12.3</a></td>
   <td align="right">453kB</td>
   <td><tt>8eb3308318837882797c752fe59d8eba7a9a4f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/poxml-22.12.3.tar.xz">poxml-22.12.3</a></td>
   <td align="right">43kB</td>
   <td><tt>77e1d7fdb7eea56307c0d73cbbdedec2fcb0e333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/print-manager-22.12.3.tar.xz">print-manager-22.12.3</a></td>
   <td align="right">280kB</td>
   <td><tt>ffc4fe2ac09461be0e66fc811256962036f1f83c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/rocs-22.12.3.tar.xz">rocs-22.12.3</a></td>
   <td align="right">1529kB</td>
   <td><tt>e2049c82ee8220bfc383e7a76ddbf5ae90df1e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/signon-kwallet-extension-22.12.3.tar.xz">signon-kwallet-extension-22.12.3</a></td>
   <td align="right">10kB</td>
   <td><tt>633a5179b7715f80ff8b75cf3cb409ba7214abca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/skanlite-22.12.3.tar.xz">skanlite-22.12.3</a></td>
   <td align="right">2391kB</td>
   <td><tt>56ef426d93b69186c1ec8243f4ac386a5895caf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/skanpage-22.12.3.tar.xz">skanpage-22.12.3</a></td>
   <td align="right">1265kB</td>
   <td><tt>95f26dd806779a0194d448f2dbcc7460794bd399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/spectacle-22.12.3.tar.xz">spectacle-22.12.3</a></td>
   <td align="right">1242kB</td>
   <td><tt>fb25a13dd5b526021bbedc14c5143a60642def7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/step-22.12.3.tar.xz">step-22.12.3</a></td>
   <td align="right">959kB</td>
   <td><tt>d8a7a2253b98f228591e2fdf78fa4837b7cfdda8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/svgpart-22.12.3.tar.xz">svgpart-22.12.3</a></td>
   <td align="right">27kB</td>
   <td><tt>c1a4aabd51425cb3fd14216f37a6868dc4f1fc92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/sweeper-22.12.3.tar.xz">sweeper-22.12.3</a></td>
   <td align="right">388kB</td>
   <td><tt>7eafe825a2db65b1dac499fa41f0aa6c725d6896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/umbrello-22.12.3.tar.xz">umbrello-22.12.3</a></td>
   <td align="right">5665kB</td>
   <td><tt>18e54df7f6ae2707ff2f96d1e53c08c76bf5f81d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/yakuake-22.12.3.tar.xz">yakuake-22.12.3</a></td>
   <td align="right">417kB</td>
   <td><tt>459833da885e7076632911d07ac3a4dbbf5c94cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.3/src/zanshin-22.12.3.tar.xz">zanshin-22.12.3</a></td>
   <td align="right">346kB</td>
   <td><tt>82fb77abe1af145c7cc5627e8f29ca5c54aeaf74</tt></td>
</tr>

</table>
