<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/akonadi-24.02.0.tar.xz">akonadi-24.02.0</a></td>
   <td align="right">1650kB</td>
   <td><tt>a280cb508806c408a6e62d2f930403a83e4c3a7da10a8ef1e811854e5eb9061d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/akonadi-calendar-24.02.0.tar.xz">akonadi-calendar-24.02.0</a></td>
   <td align="right">485kB</td>
   <td><tt>c315eef9a80e4ed1ee36298a5ad4e69657b18aba77bfcd74cdd2d5a3d087ea3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/akonadi-calendar-tools-24.02.0.tar.xz">akonadi-calendar-tools-24.02.0</a></td>
   <td align="right">253kB</td>
   <td><tt>5fd51b9167a9b6a0c7a3f2b3e452452a0d09d84993047dc49deeb30ad60ec05b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/akonadiconsole-24.02.0.tar.xz">akonadiconsole-24.02.0</a></td>
   <td align="right">287kB</td>
   <td><tt>75c5d0b8d03c400055dafa978157c7e71d16c589d4698f5b3f33ed14571ddfa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/akonadi-contacts-24.02.0.tar.xz">akonadi-contacts-24.02.0</a></td>
   <td align="right">414kB</td>
   <td><tt>cafd9c2dc48e88dc9d07c86892ea54a33ee19bb231b92a76cfaf7ba7bb2c2e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/akonadi-import-wizard-24.02.0.tar.xz">akonadi-import-wizard-24.02.0</a></td>
   <td align="right">504kB</td>
   <td><tt>b8e8becc727ff039b1a07c2dbc502606fbba920e7cfdd94ac2e138604860028b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/akonadi-mime-24.02.0.tar.xz">akonadi-mime-24.02.0</a></td>
   <td align="right">164kB</td>
   <td><tt>cbcecace227b4c8c2e3f31b7e16e0017e208dcd94e9f58f80ef93e2b88d6932b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/akonadi-notes-24.02.0.tar.xz">akonadi-notes-24.02.0</a></td>
   <td align="right">27kB</td>
   <td><tt>5e6904e15a80c79a26a554306be67dbb4e9a603934b85cc5cced6262f720ded8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/akonadi-search-24.02.0.tar.xz">akonadi-search-24.02.0</a></td>
   <td align="right">108kB</td>
   <td><tt>e64b3c63998305fbd97b9c6039345f514c835854ddeaf030b058d1e4c5d5bca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/akregator-24.02.0.tar.xz">akregator-24.02.0</a></td>
   <td align="right">2273kB</td>
   <td><tt>b501ee4cabdd8a6d7ea2304b761a9f6187a5cebc327f90c0e101db43d67b4e05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/alligator-24.02.0.tar.xz">alligator-24.02.0</a></td>
   <td align="right">187kB</td>
   <td><tt>ea707eb94082076558b44c6b63a7593a45e6dee3e7bf401a2ae6b231997c74d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/analitza-24.02.0.tar.xz">analitza-24.02.0</a></td>
   <td align="right">350kB</td>
   <td><tt>7442b7804c02c853f78637cfb4b551ab108606d2d67315617d563846079137b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/angelfish-24.02.0.tar.xz">angelfish-24.02.0</a></td>
   <td align="right">257kB</td>
   <td><tt>820e6e2db1dd7528519976ffabc42a74df8dcd3ba189d743c1d2548d4197e9a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/arianna-24.02.0.tar.xz">arianna-24.02.0</a></td>
   <td align="right">797kB</td>
   <td><tt>f93eb913a2d02a18b726bf1e52c22051ea8d0b25d2eabb561791915cbc144135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ark-24.02.0.tar.xz">ark-24.02.0</a></td>
   <td align="right">2946kB</td>
   <td><tt>ff11fe9352d8aa80207a21f3e024e18b4035cbbe689abaad20a91fe36c455469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/artikulate-24.02.0.tar.xz">artikulate-24.02.0</a></td>
   <td align="right">1068kB</td>
   <td><tt>cfac8d789cdc809cf94fff3db2d051eddd4e7d4e38a3c144c137e3318659c87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/audiocd-kio-24.02.0.tar.xz">audiocd-kio-24.02.0</a></td>
   <td align="right">556kB</td>
   <td><tt>635d397acee9c52812a9fabb674e56d2ff391001c359595ebed53dfafe44c7ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/audiotube-24.02.0.tar.xz">audiotube-24.02.0</a></td>
   <td align="right">148kB</td>
   <td><tt>5ed6dc3c1f6917d35a6ded90c479538263d3c51943b3a73af4a54660277b9545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/baloo-widgets-24.02.0.tar.xz">baloo-widgets-24.02.0</a></td>
   <td align="right">270kB</td>
   <td><tt>9899d6dc6c383c1f6663c107b39ae61f2232fa83d4b633e792f63beced74cb1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/blinken-24.02.0.tar.xz">blinken-24.02.0</a></td>
   <td align="right">2661kB</td>
   <td><tt>9cd5797385b40644f732997c8bf0d31f705c0687c2ecfaeb942c33d4b2a9fd74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/bomber-24.02.0.tar.xz">bomber-24.02.0</a></td>
   <td align="right">820kB</td>
   <td><tt>cd5b278c6a1bb371aa1fc9832f633e6e1dee098ee5cca9991a6d05f1da1ec94d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/bovo-24.02.0.tar.xz">bovo-24.02.0</a></td>
   <td align="right">210kB</td>
   <td><tt>660fe8288fb7a876bdcc7b16b119427588534bd6b1e9a8693ab700e6d591bbe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/calendarsupport-24.02.0.tar.xz">calendarsupport-24.02.0</a></td>
   <td align="right">975kB</td>
   <td><tt>e465bf8903524399c679e9e5da0ad454e2c5e5a4279a05162b38f8525ade5005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/calindori-24.02.0.tar.xz">calindori-24.02.0</a></td>
   <td align="right">378kB</td>
   <td><tt>ba65760da355e7a725091c3ddee395755b51a56fc937495d6df8f5fc14f3de93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/cantor-24.02.0.tar.xz">cantor-24.02.0</a></td>
   <td align="right">9080kB</td>
   <td><tt>14132c0241427f5b5cbfb797a0fb5a5c4aa8261d1107cf9e9ac076fa29493813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/cervisia-24.02.0.tar.xz">cervisia-24.02.0</a></td>
   <td align="right">1902kB</td>
   <td><tt>e607c804faaa8425ad9e32b13c95b95fb0a7729315a45bfb0c584a1b9730a0d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/colord-kde-24.02.0.tar.xz">colord-kde-24.02.0</a></td>
   <td align="right">110kB</td>
   <td><tt>b58f45b8859e1694fec6a824a301fe52a6f8c9784f83ac63187f3403ec0b6acf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/dolphin-24.02.0.tar.xz">dolphin-24.02.0</a></td>
   <td align="right">5671kB</td>
   <td><tt>10ef284597e28f933d8b4ead75d02759a15df4bcc928ed10b54f8065b7431257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/dolphin-plugins-24.02.0.tar.xz">dolphin-plugins-24.02.0</a></td>
   <td align="right">287kB</td>
   <td><tt>a2e9c61ddff843f083a5686d98719841374287835ef8fc5e1d1c43c22fd12be0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/dragon-24.02.0.tar.xz">dragon-24.02.0</a></td>
   <td align="right">1632kB</td>
   <td><tt>7631dd661229828d5dce22fe9c782c777183d0659deaf22cd67ed4b2ba0246db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/elisa-24.02.0.tar.xz">elisa-24.02.0</a></td>
   <td align="right">1786kB</td>
   <td><tt>ecb670005aa3bb1dd0f407c2ac0331c703194cfb2b1346492ffc3361b840b8b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/eventviews-24.02.0.tar.xz">eventviews-24.02.0</a></td>
   <td align="right">462kB</td>
   <td><tt>04148c43865da51dbec7565f2797b136fda35b698002727086ed4ed878e55abb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/falkon-24.02.0.tar.xz">falkon-24.02.0</a></td>
   <td align="right">2535kB</td>
   <td><tt>be498fd9ef4b17cfa80761c4792e782e7dc1de3a8a855b48fcc7c9c7d7391617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ffmpegthumbs-24.02.0.tar.xz">ffmpegthumbs-24.02.0</a></td>
   <td align="right">32kB</td>
   <td><tt>383dc6d5a7464b443c166cb42a8507b5960069356da28a91907d76a8178d79f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/filelight-24.02.0.tar.xz">filelight-24.02.0</a></td>
   <td align="right">687kB</td>
   <td><tt>07f907ebfc5edb3918a3e039a6c11ec5cfc69d0f16859da2c813c998a4c20796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ghostwriter-24.02.0.tar.xz">ghostwriter-24.02.0</a></td>
   <td align="right">3545kB</td>
   <td><tt>128a25d96a220cbac6729c37bc8fd3ee66f4dc214445b6282c86dd20f9c08549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/granatier-24.02.0.tar.xz">granatier-24.02.0</a></td>
   <td align="right">2064kB</td>
   <td><tt>4c17c5b467a8cc23dcf3eca34216afe04dbd6b5d22c4b81fb9ff099e52517131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/grantlee-editor-24.02.0.tar.xz">grantlee-editor-24.02.0</a></td>
   <td align="right">116kB</td>
   <td><tt>b72099ede08c1c037686b82bb4f33903baab1e4038037e3b2a6dc70669764662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/grantleetheme-24.02.0.tar.xz">grantleetheme-24.02.0</a></td>
   <td align="right">60kB</td>
   <td><tt>fb7fab1ced8fe9153ed4ac6e8a135ba1335f3b63430f7e5bb60288473f9ebc68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/gwenview-24.02.0.tar.xz">gwenview-24.02.0</a></td>
   <td align="right">6754kB</td>
   <td><tt>03606d3cba1520f04556ac92b2aa449f85e7daca36a637162d33c05ec42bb0b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/incidenceeditor-24.02.0.tar.xz">incidenceeditor-24.02.0</a></td>
   <td align="right">570kB</td>
   <td><tt>9b401a81150569c621e763a1c5b7ea07d243e4a9445d2e26dcbe90a14693e398</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/isoimagewriter-24.02.0.tar.xz">isoimagewriter-24.02.0</a></td>
   <td align="right">449kB</td>
   <td><tt>484bb5d99102bd74467c19c76f5a3b1336e0f5294e04a34110a1310ae7159f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/itinerary-24.02.0.tar.xz">itinerary-24.02.0</a></td>
   <td align="right">668kB</td>
   <td><tt>6d63abc13fce4cd0804dbfc1c9b7c6595b833972758bd8d8207e1210a5e7c943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/juk-24.02.0.tar.xz">juk-24.02.0</a></td>
   <td align="right">1971kB</td>
   <td><tt>62f0dfcacbd3249f2f9b13f151d4d16ee2c29675af049c409edeacb7e9f18881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/k3b-24.02.0.tar.xz">k3b-24.02.0</a></td>
   <td align="right">10710kB</td>
   <td><tt>2f24a5c7ce29b3abbcf14aaee924762356dcf0f5eac0051f83a92def9bf7b51c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kaccounts-integration-24.02.0.tar.xz">kaccounts-integration-24.02.0</a></td>
   <td align="right">87kB</td>
   <td><tt>578842584084e13628a7af02e7673122244c9a03084a852661f4dce4c56d800e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kaccounts-providers-24.02.0.tar.xz">kaccounts-providers-24.02.0</a></td>
   <td align="right">65kB</td>
   <td><tt>cf6595b2583879b3f0c0d1459dcceb0f92fa32a3649f1b12cd0f1e0229c957ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kaddressbook-24.02.0.tar.xz">kaddressbook-24.02.0</a></td>
   <td align="right">3379kB</td>
   <td><tt>64916117bcee9f54923abbceafc733db00a52c38e39e1bc91e2dc86eaabccaf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kajongg-24.02.0.tar.xz">kajongg-24.02.0</a></td>
   <td align="right">4483kB</td>
   <td><tt>67e8d73230cf640eda1cfddb8b6cfbc8e6e38a24626ebe72ca5c9963135d430b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kalarm-24.02.0.tar.xz">kalarm-24.02.0</a></td>
   <td align="right">2567kB</td>
   <td><tt>01b4bf10734c947e28861df8963cad9653d8b16c855d1be3937cbebf9f2959e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kalgebra-24.02.0.tar.xz">kalgebra-24.02.0</a></td>
   <td align="right">1022kB</td>
   <td><tt>8fa69585aa4f1df6d209be25a5655f8ec2116e9f525ff87bb71e8460502628ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kalk-24.02.0.tar.xz">kalk-24.02.0</a></td>
   <td align="right">71kB</td>
   <td><tt>9dcae334181bb5f50c0e649257d33dc604939f27431b796f1a5c76f9e795dba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kalzium-24.02.0.tar.xz">kalzium-24.02.0</a></td>
   <td align="right">24068kB</td>
   <td><tt>0eec6d70416abe826b37280f74e05e96f29fb6b9b1b645755b808fc58a6d95a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kamera-24.02.0.tar.xz">kamera-24.02.0</a></td>
   <td align="right">127kB</td>
   <td><tt>7d4e355666a0740ae50d7d12fe19071bd4587ec96eb59bc1d65d8a58ed70e732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kamoso-24.02.0.tar.xz">kamoso-24.02.0</a></td>
   <td align="right">195kB</td>
   <td><tt>7a955d2e23160d55041b96df75674f2f13de26cc094b05d45779c1398f3f9ab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kanagram-24.02.0.tar.xz">kanagram-24.02.0</a></td>
   <td align="right">7879kB</td>
   <td><tt>5a0737c24b89d7a4661fbdc9f3435774e3e17bb6db440eb43708d81f4cda8195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kapman-24.02.0.tar.xz">kapman-24.02.0</a></td>
   <td align="right">2141kB</td>
   <td><tt>545cdd147d06586d50eb6e33990216a1be397b3948afdad6784a1ea3bebd99e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kapptemplate-24.02.0.tar.xz">kapptemplate-24.02.0</a></td>
   <td align="right">331kB</td>
   <td><tt>dd759f35595406b69c91ab60322b61f72c8ab55b1282222b166d5dbda3aedee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kasts-24.02.0.tar.xz">kasts-24.02.0</a></td>
   <td align="right">574kB</td>
   <td><tt>e21dbe9096a46fcedf93b93e3a57bb1d88a1939cc05142e4d9c90dd97087b9e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kate-24.02.0.tar.xz">kate-24.02.0</a></td>
   <td align="right">8199kB</td>
   <td><tt>9b1efcccf4e36efcdbc2eada6399cd8128ce187a19182400313062f75ee35f48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/katomic-24.02.0.tar.xz">katomic-24.02.0</a></td>
   <td align="right">1420kB</td>
   <td><tt>1c200350f1edb86049086a62f3eaf435910e9aa5ce7e29cc85a9c480272008fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kbackup-24.02.0.tar.xz">kbackup-24.02.0</a></td>
   <td align="right">399kB</td>
   <td><tt>eb30cef79442ec3d43a7d9ab018b5175eb9ecfc3c32a69bae4fa4d765c5e92bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kblackbox-24.02.0.tar.xz">kblackbox-24.02.0</a></td>
   <td align="right">542kB</td>
   <td><tt>870e8e3426ccc1644ddfef7ad78bccd789ba0adbe5ed6b343fde5c451610734d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kblocks-24.02.0.tar.xz">kblocks-24.02.0</a></td>
   <td align="right">2059kB</td>
   <td><tt>bd5be363d55f8cd58c84d800d72de7fa7bf1ef7a751accd94c9e992727757d77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kbounce-24.02.0.tar.xz">kbounce-24.02.0</a></td>
   <td align="right">3465kB</td>
   <td><tt>5f5075ac1cb50f80847014fb5694662144b60b48a7e0a699b044951471fef258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kbreakout-24.02.0.tar.xz">kbreakout-24.02.0</a></td>
   <td align="right">2501kB</td>
   <td><tt>2b925dc14bb23b9d7bb94148a332df698719f248bc3f486dcf7ac5aa7fd41e5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kbruch-24.02.0.tar.xz">kbruch-24.02.0</a></td>
   <td align="right">5530kB</td>
   <td><tt>842f193a99f73c9f5d6502c0f9ccf21e2391571fedc890e2d83e9074cf26dfc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kcachegrind-24.02.0.tar.xz">kcachegrind-24.02.0</a></td>
   <td align="right">914kB</td>
   <td><tt>e11d5161650a54db22444b193d521e7bd8c970b8b082e158831983746e0165f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kcalc-24.02.0.tar.xz">kcalc-24.02.0</a></td>
   <td align="right">433kB</td>
   <td><tt>c19b639d632bee1edf3e9f832e7981f5671a12b464b4678ba52dbb1fff2fc7c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kcalutils-24.02.0.tar.xz">kcalutils-24.02.0</a></td>
   <td align="right">346kB</td>
   <td><tt>81767e15df2434fc43a5c7cb8bf6002ab3550ce34fd47c6dce5878f55b92b83f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kcharselect-24.02.0.tar.xz">kcharselect-24.02.0</a></td>
   <td align="right">377kB</td>
   <td><tt>6130ce7b89f5164fed69e899f31bb118c80048a21161d2e22b94e5c20d068da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kclock-24.02.0.tar.xz">kclock-24.02.0</a></td>
   <td align="right">631kB</td>
   <td><tt>5b0a19ba853067a26176929bc65395031de930555566062d19a2ee14f8886246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kcolorchooser-24.02.0.tar.xz">kcolorchooser-24.02.0</a></td>
   <td align="right">33kB</td>
   <td><tt>362736b6f50c0f6109b6ba058d14149a27e1691824bc6423e7186495da419123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kcron-24.02.0.tar.xz">kcron-24.02.0</a></td>
   <td align="right">920kB</td>
   <td><tt>5ff86433b6afb4050c284b1f15fd2508172b7995a8667636e2742a8d9bcf15a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdebugsettings-24.02.0.tar.xz">kdebugsettings-24.02.0</a></td>
   <td align="right">106kB</td>
   <td><tt>2a4d43b27c467a5eae4bfa56cb179c0677e5632322a6efaa1e398254172d66aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdeconnect-kde-24.02.0.tar.xz">kdeconnect-kde-24.02.0</a></td>
   <td align="right">661kB</td>
   <td><tt>d95c5b3693d14b954fb09a22d2fc1712815aa424740cbf5872c40a59ed424e0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kde-dev-scripts-24.02.0.tar.xz">kde-dev-scripts-24.02.0</a></td>
   <td align="right">363kB</td>
   <td><tt>00e9a3a146397eb30c4363a3d5fb1055cd310dde6845f06b580a60566679b69d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kde-dev-utils-24.02.0.tar.xz">kde-dev-utils-24.02.0</a></td>
   <td align="right">72kB</td>
   <td><tt>520e0c9673a27019ce9069074f78ff72e8d1890ee1a3f2e97c527244f7043149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdeedu-data-24.02.0.tar.xz">kdeedu-data-24.02.0</a></td>
   <td align="right">330kB</td>
   <td><tt>0a5d9a90c6147679ff36ccd5d0f8607598e3d89fd13e529ac1d65092ca17ef6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdegraphics-mobipocket-24.02.0.tar.xz">kdegraphics-mobipocket-24.02.0</a></td>
   <td align="right">12kB</td>
   <td><tt>7c236d16921926abd8d13b80934506d17825aec494f7d8141048e62b27484b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdegraphics-thumbnailers-24.02.0.tar.xz">kdegraphics-thumbnailers-24.02.0</a></td>
   <td align="right">47kB</td>
   <td><tt>1ac0cf15982b1d77012b13845e5254c230a2622d2afd9efa77695f6861256a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kde-inotify-survey-24.02.0.tar.xz">kde-inotify-survey-24.02.0</a></td>
   <td align="right">225kB</td>
   <td><tt>50f8a5d7829900b94dbbd76da9308547caa0813de9333dc6e78195e81a86d3e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdenetwork-filesharing-24.02.0.tar.xz">kdenetwork-filesharing-24.02.0</a></td>
   <td align="right">476kB</td>
   <td><tt>23f3149b4d0d2ddb98505443266eafcd8cb5f97009e913271b9412c9369cce6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdenlive-24.02.0.tar.xz">kdenlive-24.02.0</a></td>
   <td align="right">12839kB</td>
   <td><tt>135a91e9918eb631feb822b678625f3557e95b6a5e86bde1d3ac1df634015146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdepim-addons-24.02.0.tar.xz">kdepim-addons-24.02.0</a></td>
   <td align="right">2587kB</td>
   <td><tt>00e51d8116dcd4722a2e168f87004f623c88c875f6f02bdb78c166ac1a0b7c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdepim-runtime-24.02.0.tar.xz">kdepim-runtime-24.02.0</a></td>
   <td align="right">1636kB</td>
   <td><tt>5cda8aa7b3d8a7bd526fbdd20df30f56a2dcf10a844d88a6f71b9122067bab35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdesdk-kio-24.02.0.tar.xz">kdesdk-kio-24.02.0</a></td>
   <td align="right">39kB</td>
   <td><tt>30c740659aad1ee9031a19c2a3d755fd78f81f02bbac27c990cea22decc3a059</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdesdk-thumbnailers-24.02.0.tar.xz">kdesdk-thumbnailers-24.02.0</a></td>
   <td align="right">26kB</td>
   <td><tt>44f878fa60d03dece71734a7bb92ea37763eda10d6023965fab15fc2ea233307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdevelop-24.02.0.tar.xz">kdevelop-24.02.0</a></td>
   <td align="right">8548kB</td>
   <td><tt>202acdfb53b1bdeeb9915eab1a0056d190040d8809038950bf2ec8d44fa81e19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdev-php-24.02.0.tar.xz">kdev-php-24.02.0</a></td>
   <td align="right">1064kB</td>
   <td><tt>73f482ef46b71a5cfb78b886c26cfd0d618274848681e6047528faca96d0eb49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdev-python-24.02.0.tar.xz">kdev-python-24.02.0</a></td>
   <td align="right">1072kB</td>
   <td><tt>a94b097e0b17a070715a51b87fdf314566767eb9e535a2780edf35265d34ec2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdf-24.02.0.tar.xz">kdf-24.02.0</a></td>
   <td align="right">482kB</td>
   <td><tt>bc9f6b128b86d66ed9c118e774649040a6342fb767b327dce21f54b8adccc34f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdialog-24.02.0.tar.xz">kdialog-24.02.0</a></td>
   <td align="right">140kB</td>
   <td><tt>774a1d1faa025b6882ef65e806d73a7d19560a560e9c1cdeacc0202b01f0bddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kdiamond-24.02.0.tar.xz">kdiamond-24.02.0</a></td>
   <td align="right">4558kB</td>
   <td><tt>d322923cf6d29fcddec3194f179e45b440195c6dde5d1ee5b32a4bbf1c797a9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/keditbookmarks-24.02.0.tar.xz">keditbookmarks-24.02.0</a></td>
   <td align="right">238kB</td>
   <td><tt>18bbd3f87ca12255488d70e2a58892e98385781f1ea68feabd4fc9657b558607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/keysmith-24.02.0.tar.xz">keysmith-24.02.0</a></td>
   <td align="right">165kB</td>
   <td><tt>e95fa4c5a0cc66ecc6628392b9e3a2b33acddb32d9fe0579253419598bfb204b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kfind-24.02.0.tar.xz">kfind-24.02.0</a></td>
   <td align="right">315kB</td>
   <td><tt>c2b845f60cf8cfc547ed180067f21dae015dccac922d3c705deb0b9f59430007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kfourinline-24.02.0.tar.xz">kfourinline-24.02.0</a></td>
   <td align="right">723kB</td>
   <td><tt>9623f8d1d3e982806be6e167cc7b020fb1438c728e4de98840d57a947aeda373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kgeography-24.02.0.tar.xz">kgeography-24.02.0</a></td>
   <td align="right">12317kB</td>
   <td><tt>09454a96f21a505eda0b6d00fc5c771af478f3fdc58af637fe24411e86f171b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kget-24.02.0.tar.xz">kget-24.02.0</a></td>
   <td align="right">5435kB</td>
   <td><tt>678b09396c077cab7fe5eb8e275a8534495229f3195bac6695d89c57b8be46ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kgoldrunner-24.02.0.tar.xz">kgoldrunner-24.02.0</a></td>
   <td align="right">4270kB</td>
   <td><tt>f641142a95bf605502e7ff11c2e9d1306aff03447cb141b522520ad693437019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kgpg-24.02.0.tar.xz">kgpg-24.02.0</a></td>
   <td align="right">2992kB</td>
   <td><tt>1be261f866b1f1ea56d1ad7cc06b91b02e784d01ec07e944479be0427df67807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/khangman-24.02.0.tar.xz">khangman-24.02.0</a></td>
   <td align="right">7198kB</td>
   <td><tt>0ec05c56466611ea4c4b86dad2f90d46d732529fd1d4b749b0f2f14d2f36a6f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/khealthcertificate-24.02.0.tar.xz">khealthcertificate-24.02.0</a></td>
   <td align="right">502kB</td>
   <td><tt>b038d3a6fd45ce6c19b80d29894d0ffe036f7cbaf8fcfcfd928a5fba2e6ba449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/khelpcenter-24.02.0.tar.xz">khelpcenter-24.02.0</a></td>
   <td align="right">4283kB</td>
   <td><tt>f98291801e83a3aea756ce6375c89646cedd715696f68ca90c5a5738719290c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kidentitymanagement-24.02.0.tar.xz">kidentitymanagement-24.02.0</a></td>
   <td align="right">179kB</td>
   <td><tt>fdd4c5928f14122c33b4f97cf7587a07689e6d168b3a56a31b7fa60d7149048c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kig-24.02.0.tar.xz">kig-24.02.0</a></td>
   <td align="right">3220kB</td>
   <td><tt>60bc48fd9c4fc9b9a830ff806993dfacb9f64b02a63e0ce588a160c53fa6e0a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kigo-24.02.0.tar.xz">kigo-24.02.0</a></td>
   <td align="right">5036kB</td>
   <td><tt>6adaf7fb22b79818f39de9db707a16b905d4619b3dfbeef6ed0b6081e17c2a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/killbots-24.02.0.tar.xz">killbots-24.02.0</a></td>
   <td align="right">1135kB</td>
   <td><tt>ccc37349d972a52c1214ca1f9121d2c1224e4d6c941cd4a32c6a6905cb9e99a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kimagemapeditor-24.02.0.tar.xz">kimagemapeditor-24.02.0</a></td>
   <td align="right">1080kB</td>
   <td><tt>8416a208744c67759e2b878a9eafbd7d70a3c0874a25f4e65043555b88a9d1aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kimap-24.02.0.tar.xz">kimap-24.02.0</a></td>
   <td align="right">127kB</td>
   <td><tt>e5efe0c737c18c302b31384f4381dc82668d670df8eae3df1853dd89ea23b706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kio-admin-24.02.0.tar.xz">kio-admin-24.02.0</a></td>
   <td align="right">35kB</td>
   <td><tt>cffadb6b9290934d0d901a608550728bf5fada8e050d8e5fa941c375a087990f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kio-extras-24.02.0.tar.xz">kio-extras-24.02.0</a></td>
   <td align="right">3466kB</td>
   <td><tt>805596c96a99b522b3aeb6992bc60c14a1c4ccd200e027143e8ded948c9962df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kio-extras-kf5-24.02.0.tar.xz">kio-extras-kf5-24.02.0</a></td>
   <td align="right">1431kB</td>
   <td><tt>2f1364f17175ad1ce191bc3f221685457f5864a547d46ccb72a616283d80ac53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kio-gdrive-24.02.0.tar.xz">kio-gdrive-24.02.0</a></td>
   <td align="right">78kB</td>
   <td><tt>b9f4d71abb68672761151ae66a92ae802f087f4124ea7e6aa736542224719013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kio-zeroconf-24.02.0.tar.xz">kio-zeroconf-24.02.0</a></td>
   <td align="right">43kB</td>
   <td><tt>bd6e94e8af8a1a5803ce78f20d40ccc6947db4eb04d067f9523d7c86961f714f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kipi-plugins-24.02.0.tar.xz">kipi-plugins-24.02.0</a></td>
   <td align="right">1533kB</td>
   <td><tt>e40baff36b1846cca91eed0a0f63f65abf697d7613c4733889626ff1f3d21960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kirigami-gallery-24.02.0.tar.xz">kirigami-gallery-24.02.0</a></td>
   <td align="right">344kB</td>
   <td><tt>1bea4b9ee328254ef6aecaddae1d1d8e11c00034e1587bc82b2a76ca2e624c8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kiriki-24.02.0.tar.xz">kiriki-24.02.0</a></td>
   <td align="right">361kB</td>
   <td><tt>e296e884298561074ef8a4c0278f3f7c21f1445b645d6dc7de629565eec506bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kiten-24.02.0.tar.xz">kiten-24.02.0</a></td>
   <td align="right">11066kB</td>
   <td><tt>7add9a0a212275529473c59ce4e47f86c987bbc21363dc96ed5c23be09596181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kitinerary-24.02.0.tar.xz">kitinerary-24.02.0</a></td>
   <td align="right">1914kB</td>
   <td><tt>e18c62363607dd769092e9e15fce3e00250d706f78d1c7d8ad2835bc620d977a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kjournald-24.02.0.tar.xz">kjournald-24.02.0</a></td>
   <td align="right">504kB</td>
   <td><tt>a4f4cb343fc50fa50aec161f28ff55ce700b5c2f45a38aab26d4cd042028ba74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kjumpingcube-24.02.0.tar.xz">kjumpingcube-24.02.0</a></td>
   <td align="right">330kB</td>
   <td><tt>a9fc0efca9b3c5d6a57febb4712f6921708922df47a9f046f085d5c793a84bbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kldap-24.02.0.tar.xz">kldap-24.02.0</a></td>
   <td align="right">179kB</td>
   <td><tt>013d9cde948ef38ad9451013e454c39db703fc7c37c3a91670a9a9e645fc551a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kleopatra-24.02.0.tar.xz">kleopatra-24.02.0</a></td>
   <td align="right">2717kB</td>
   <td><tt>b91486f40084d886824339301df038df84632a3d81b9254d87734240dcd99838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/klettres-24.02.0.tar.xz">klettres-24.02.0</a></td>
   <td align="right">46726kB</td>
   <td><tt>b8d2fee00772dd92c7c84f52f8009bd8016814a75ddf90d98776e06ecaef617b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/klickety-24.02.0.tar.xz">klickety-24.02.0</a></td>
   <td align="right">1466kB</td>
   <td><tt>e0588c9924201756e8fe38136706fedf62bc8462d98f648192bd5d7a77e735a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/klines-24.02.0.tar.xz">klines-24.02.0</a></td>
   <td align="right">1698kB</td>
   <td><tt>ef64c9e470dc1c851c10012a8fabf5d071170487f27f3cb31cc6a1360b3cb28e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmag-24.02.0.tar.xz">kmag-24.02.0</a></td>
   <td align="right">710kB</td>
   <td><tt>a6e4495d4aaf394ee60dff8bdf2b04b4b2d3d6fcde10925d88fddc9f65932bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmahjongg-24.02.0.tar.xz">kmahjongg-24.02.0</a></td>
   <td align="right">4004kB</td>
   <td><tt>68d5a63e4e347a6ebc5484235e103a084002ab162635c05f09c871df3cdd061e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmail-24.02.0.tar.xz">kmail-24.02.0</a></td>
   <td align="right">7515kB</td>
   <td><tt>3433f0253551d340d8a0f23c1f2a2d5106e127e0dc9c82be3d30b3fc33c37799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmail-account-wizard-24.02.0.tar.xz">kmail-account-wizard-24.02.0</a></td>
   <td align="right">167kB</td>
   <td><tt>3128499fbc558ae1691905a01abf8e28f710426e15acfb2868e1ca7163345dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmailtransport-24.02.0.tar.xz">kmailtransport-24.02.0</a></td>
   <td align="right">168kB</td>
   <td><tt>d1eb106207eeb88b2cf6f2b3b3a47ef88183db50139a9149dba0d72805e04faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmbox-24.02.0.tar.xz">kmbox-24.02.0</a></td>
   <td align="right">28kB</td>
   <td><tt>6ea8ea43483489d4467f528163101af4fb19ea33664c72857b2abfe8a468f403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmime-24.02.0.tar.xz">kmime-24.02.0</a></td>
   <td align="right">157kB</td>
   <td><tt>4f1251484f18b6eedf62c9219a504e6357de5adff4016cc34a714dd0cb748065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmines-24.02.0.tar.xz">kmines-24.02.0</a></td>
   <td align="right">1065kB</td>
   <td><tt>8aec9ab116f6bcdfb9428f8390b5b72ef50b883a8c3878a496e0c9ab38e7fdc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmix-24.02.0.tar.xz">kmix-24.02.0</a></td>
   <td align="right">1181kB</td>
   <td><tt>91c988e9fab9c553cc59a9202b3a64bd0866a4e3c3236fbed47c3853b676817f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmousetool-24.02.0.tar.xz">kmousetool-24.02.0</a></td>
   <td align="right">127kB</td>
   <td><tt>88b336508803dbfb76e9a3c8971da467424738c9ac37064cafe5004577a96cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmouth-24.02.0.tar.xz">kmouth-24.02.0</a></td>
   <td align="right">2041kB</td>
   <td><tt>eda45762b46438c9d42191ba2acd8869328bf48a6649f1b3459d86f7e5c9e46c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kmplot-24.02.0.tar.xz">kmplot-24.02.0</a></td>
   <td align="right">3027kB</td>
   <td><tt>ba2e8568e101c4ab9730772a3e0d3e5f4e21c2993bad179ee61a1dfbaf045876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/knavalbattle-24.02.0.tar.xz">knavalbattle-24.02.0</a></td>
   <td align="right">1367kB</td>
   <td><tt>5710fc1c165321e7335e98c657f583c3d42dda7304c95bd01250e6365354e192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/knetwalk-24.02.0.tar.xz">knetwalk-24.02.0</a></td>
   <td align="right">1037kB</td>
   <td><tt>3e205d0f05c0f0d309f2732a044363b199222ea762fbcd70cf39e201f6ef375c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/knights-24.02.0.tar.xz">knights-24.02.0</a></td>
   <td align="right">2441kB</td>
   <td><tt>423093e8724ece336d1476e00fcce11527bd3ae55578219da313868787be1df0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/knotes-24.02.0.tar.xz">knotes-24.02.0</a></td>
   <td align="right">371kB</td>
   <td><tt>4042e7a21d5a73d66f9a17720b1041083c7d1ba23e45f46589dfbd798323fedd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/koko-24.02.0.tar.xz">koko-24.02.0</a></td>
   <td align="right">8328kB</td>
   <td><tt>6f9d5e3ced972cb3c1f541629e71602ce256cb6a26c33407ef16fe4020cbf1da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kolf-24.02.0.tar.xz">kolf-24.02.0</a></td>
   <td align="right">1047kB</td>
   <td><tt>836f1607f6276f915afb883257db50ae24ee769e17896f3bad3a51a4a80b142e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kollision-24.02.0.tar.xz">kollision-24.02.0</a></td>
   <td align="right">300kB</td>
   <td><tt>f78e7ed501bd635c041f3f51f63ca1660aa3868ea0ce79a154bc66183ba0853e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kolourpaint-24.02.0.tar.xz">kolourpaint-24.02.0</a></td>
   <td align="right">5660kB</td>
   <td><tt>4d6524055f755f5ddceba797bab7909ae6c004b6693fb4af6fc6f0f229dc9f4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kompare-24.02.0.tar.xz">kompare-24.02.0</a></td>
   <td align="right">960kB</td>
   <td><tt>6f5830cbab1ec373a438b57191bfe1cd128f7271a61cb34ddda5393b8ee237be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kongress-24.02.0.tar.xz">kongress-24.02.0</a></td>
   <td align="right">577kB</td>
   <td><tt>b7842c0480bc05bdeae416721bae2abf15b555ce67174d996705e4a80bf224d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/konqueror-24.02.0.tar.xz">konqueror-24.02.0</a></td>
   <td align="right">9901kB</td>
   <td><tt>79631ea4521c87e4a86a6fd58a7440dec5abba72bd81572fc2afaec8b1b53641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/konquest-24.02.0.tar.xz">konquest-24.02.0</a></td>
   <td align="right">855kB</td>
   <td><tt>7b3fec35b2ea2e340ae3740a352f6beed87d32086d069caeac5daf0462759be7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/konsole-24.02.0.tar.xz">konsole-24.02.0</a></td>
   <td align="right">1710kB</td>
   <td><tt>2915edcd856552bd6199efb23dcaf194605ee4fb307c75e27606198253dfdfe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kontact-24.02.0.tar.xz">kontact-24.02.0</a></td>
   <td align="right">840kB</td>
   <td><tt>e245535e53af2e4fda43158802329f580b8c8af169ac57b0e2baea2c3924e58c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kontactinterface-24.02.0.tar.xz">kontactinterface-24.02.0</a></td>
   <td align="right">39kB</td>
   <td><tt>738583016cff01ec4d60688d3b32948b2bc9d94f55be766d414e8b4ccf7ee3ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kontrast-24.02.0.tar.xz">kontrast-24.02.0</a></td>
   <td align="right">207kB</td>
   <td><tt>91950712e08d39247837e32a53bdc11603fd484d74a26dd6344410e682c6111c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/konversation-24.02.0.tar.xz">konversation-24.02.0</a></td>
   <td align="right">4321kB</td>
   <td><tt>c8d754a18ff1f6894ad581c97b94c3263e4be238a17e32f9c28c96064b8182e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kopeninghours-24.02.0.tar.xz">kopeninghours-24.02.0</a></td>
   <td align="right">71kB</td>
   <td><tt>095a3cc15901fc41816add0cacb98da46435667ac24be18ec55f6fba05818477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/korganizer-24.02.0.tar.xz">korganizer-24.02.0</a></td>
   <td align="right">2514kB</td>
   <td><tt>4251efce2860604db23aa0234b2fedabee22aea2f69379259bfec73b0cd00932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kosmindoormap-24.02.0.tar.xz">kosmindoormap-24.02.0</a></td>
   <td align="right">619kB</td>
   <td><tt>f8877e5d0e2f881b35e897b3d58e56b9ef23aecf1ea8be0cb2f4b01cb5d73634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kpat-24.02.0.tar.xz">kpat-24.02.0</a></td>
   <td align="right">3626kB</td>
   <td><tt>a0f1a7decd90f53e6eb1f7ad996d90a9fc4ab49ccaa4976ea4d040d576a1c692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kpimtextedit-24.02.0.tar.xz">kpimtextedit-24.02.0</a></td>
   <td align="right">163kB</td>
   <td><tt>f13dce37693cc4c95a005a7ace89e201ea100ff95e2e5b215c554c2a78f05f33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kpkpass-24.02.0.tar.xz">kpkpass-24.02.0</a></td>
   <td align="right">28kB</td>
   <td><tt>a2e3afe04cdab2fd7b2536d9b0ecf34036d274d2aa364de037cd5609fb3b08df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kpmcore-24.02.0.tar.xz">kpmcore-24.02.0</a></td>
   <td align="right">618kB</td>
   <td><tt>4c5c50a950aea7053616f9aa86d29c1d2e0f1bdb121c17cc31e7e1e73a62ded1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kpublictransport-24.02.0.tar.xz">kpublictransport-24.02.0</a></td>
   <td align="right">591kB</td>
   <td><tt>8addc5cde31ed54d9d18c7247aaefd669bde10a8cd76403784dd0bcff9cd22f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kqtquickcharts-24.02.0.tar.xz">kqtquickcharts-24.02.0</a></td>
   <td align="right">30kB</td>
   <td><tt>7e483009d09d66cea9926042a873bebb85b1d89732dac01745d118d858211ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/krdc-24.02.0.tar.xz">krdc-24.02.0</a></td>
   <td align="right">1605kB</td>
   <td><tt>c80d31b2395e59bda15e7a760b1e1d414b364167911260892ae8e1f60632a261</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/krecorder-24.02.0.tar.xz">krecorder-24.02.0</a></td>
   <td align="right">160kB</td>
   <td><tt>01e9626b917828e7ddac9b020891cb0fa039d7d464a622fcb983dfe3bf02755d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kreversi-24.02.0.tar.xz">kreversi-24.02.0</a></td>
   <td align="right">1054kB</td>
   <td><tt>c3bdb870bb80f1c6671353459808f5a88375608204c2f7084ba2996c18e4f3cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/krfb-24.02.0.tar.xz">krfb-24.02.0</a></td>
   <td align="right">1289kB</td>
   <td><tt>ae094689156ae46cf5cf440f1f4417c7ad07c5e2e1356ef20324f4d0a9a87c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kross-interpreters-24.02.0.tar.xz">kross-interpreters-24.02.0</a></td>
   <td align="right">148kB</td>
   <td><tt>3eb8adf9721b61b285fa0dc153d8a46f2344b6e7cc6233f9c861e4abbf08a201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kruler-24.02.0.tar.xz">kruler-24.02.0</a></td>
   <td align="right">283kB</td>
   <td><tt>7fdc595f44b06743b4f3585259b7127cc212057af56e96aaded04eb7ac0fbcd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ksanecore-24.02.0.tar.xz">ksanecore-24.02.0</a></td>
   <td align="right">51kB</td>
   <td><tt>93087737fc734c54cf2324921b6b5eaf0f7864306c4496942944b9352cdb21db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kshisen-24.02.0.tar.xz">kshisen-24.02.0</a></td>
   <td align="right">986kB</td>
   <td><tt>9e668e6d31123fa3bfb9400bfdc9ba87488723e5881dda6e8b2a69f408b28c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ksirk-24.02.0.tar.xz">ksirk-24.02.0</a></td>
   <td align="right">6910kB</td>
   <td><tt>34106915427c4c6944cb0b14f1587335de50ebdd043d67534c85fb4ae5a72328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ksmtp-24.02.0.tar.xz">ksmtp-24.02.0</a></td>
   <td align="right">50kB</td>
   <td><tt>0a9ffb32b5067c96d902e625d51a256fbb329f9814f0da42d3b51617b458a908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ksnakeduel-24.02.0.tar.xz">ksnakeduel-24.02.0</a></td>
   <td align="right">589kB</td>
   <td><tt>a0927490d56b44e3131846c2b814404dbcbfe34bf60ed3eb327b32961231f6dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kspaceduel-24.02.0.tar.xz">kspaceduel-24.02.0</a></td>
   <td align="right">645kB</td>
   <td><tt>b462d549970a944d903457b807257cee3780da18572503e4c633c046ad98caf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ksquares-24.02.0.tar.xz">ksquares-24.02.0</a></td>
   <td align="right">310kB</td>
   <td><tt>ab92128057b728a485360c93a40702bb9e2b74b944251f103a577f8d511f509a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ksudoku-24.02.0.tar.xz">ksudoku-24.02.0</a></td>
   <td align="right">1669kB</td>
   <td><tt>97d69c4b220c77535f02f583b563eeb77288ae39c17acdce08a2f0850f12c026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ksystemlog-24.02.0.tar.xz">ksystemlog-24.02.0</a></td>
   <td align="right">1966kB</td>
   <td><tt>762807ce364e80142d1b71ae1b48d793209205ed7b17abc838f514a8b777581e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kteatime-24.02.0.tar.xz">kteatime-24.02.0</a></td>
   <td align="right">307kB</td>
   <td><tt>4bf83998444ad4d3ce5e7c6a9361e4c63407cda7769aaf87e9048b584533637e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ktimer-24.02.0.tar.xz">ktimer-24.02.0</a></td>
   <td align="right">398kB</td>
   <td><tt>70933e0804d639252b11bd8c4d65c1885487a2b8933cc817fe8dbab8e073bd5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ktnef-24.02.0.tar.xz">ktnef-24.02.0</a></td>
   <td align="right">304kB</td>
   <td><tt>b7e1a71bcd41dda3b7923aef39e15b8998858d680c3d77a001fec702713efb10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ktorrent-24.02.0.tar.xz">ktorrent-24.02.0</a></td>
   <td align="right">2122kB</td>
   <td><tt>03845a7efe778d4dc7ed396f284f09d6707d506d6b3a64039ec64baca589305a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ktouch-24.02.0.tar.xz">ktouch-24.02.0</a></td>
   <td align="right">4923kB</td>
   <td><tt>7d668c01587318dd4b7a49edb555e96e58186e58466c7288bb179166c7235b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ktrip-24.02.0.tar.xz">ktrip-24.02.0</a></td>
   <td align="right">249kB</td>
   <td><tt>44f26fe26f2bfa3342497051cb04bf34210aa7efed8615dac455bb4f39d7fbbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/ktuberling-24.02.0.tar.xz">ktuberling-24.02.0</a></td>
   <td align="right">69896kB</td>
   <td><tt>ef7383c641fa431608f4edb037008eedc1dd35087016acd4cc1c6b16e19f5faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kturtle-24.02.0.tar.xz">kturtle-24.02.0</a></td>
   <td align="right">2195kB</td>
   <td><tt>acad4a5245bd88570fa472780e578bc065e33c00ad72c2fa2e0fc0a232872cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kubrick-24.02.0.tar.xz">kubrick-24.02.0</a></td>
   <td align="right">346kB</td>
   <td><tt>9d52475d416876c1611ed11566d34a2581825621cf2a209a75d5ec7307d0814b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kwalletmanager-24.02.0.tar.xz">kwalletmanager-24.02.0</a></td>
   <td align="right">836kB</td>
   <td><tt>fc483008fcdacba59da1b2586ae67cb49eab17f83ff9145c9c9955a88cd438b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kwave-24.02.0.tar.xz">kwave-24.02.0</a></td>
   <td align="right">6816kB</td>
   <td><tt>f5d4451c80560f5f943a8549da6282cbd8305b9cb8d6d748b434947cc5c8def9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kweather-24.02.0.tar.xz">kweather-24.02.0</a></td>
   <td align="right">925kB</td>
   <td><tt>86beab7132e3d0748b7c402902ed0925b573d79b4c63a4a1941e58898468ccaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/kwordquiz-24.02.0.tar.xz">kwordquiz-24.02.0</a></td>
   <td align="right">3977kB</td>
   <td><tt>a6cdcf0823a7701c6e1930d7d51a717a4ca5794781054d38cf278c66e0e02fa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libgravatar-24.02.0.tar.xz">libgravatar-24.02.0</a></td>
   <td align="right">35kB</td>
   <td><tt>d3fe5506ddd68028fa216f5cd050035e68c8ebcecc1b9fd224d6ed32b3e7b549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkcddb-24.02.0.tar.xz">libkcddb-24.02.0</a></td>
   <td align="right">441kB</td>
   <td><tt>fda169072f26d13da853737a8853b6c1cc4abb1d4c5b14d1b8d130dba147edcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkcompactdisc-24.02.0.tar.xz">libkcompactdisc-24.02.0</a></td>
   <td align="right">97kB</td>
   <td><tt>c90acb0c8850eac7dd40e95ca6cc5bd7e74e52a8390b4226028ab611f7d79f53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkdcraw-24.02.0.tar.xz">libkdcraw-24.02.0</a></td>
   <td align="right">36kB</td>
   <td><tt>d13724b6d7587240421098796606d63f7bf552bea1625829482baf2df99aab1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkdegames-24.02.0.tar.xz">libkdegames-24.02.0</a></td>
   <td align="right">5832kB</td>
   <td><tt>3d113422dc654348b2025de5fe1de256d06a3c55be9c7b104253e25595b2e2b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkdepim-24.02.0.tar.xz">libkdepim-24.02.0</a></td>
   <td align="right">278kB</td>
   <td><tt>d412419d174fcbc5f6aa46831f2ca81718f0d8a79972935fa097c54b8f2ee7e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkeduvocdocument-24.02.0.tar.xz">libkeduvocdocument-24.02.0</a></td>
   <td align="right">224kB</td>
   <td><tt>3c8b4cc555f4f23b77044615cf82cba91ab8676445b5d25c138f96217adde31b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkexiv2-24.02.0.tar.xz">libkexiv2-24.02.0</a></td>
   <td align="right">59kB</td>
   <td><tt>2a8d733f60ee79eff8c5998be632aa369a7051153903f01ca74d6038095c874e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkgapi-24.02.0.tar.xz">libkgapi-24.02.0</a></td>
   <td align="right">328kB</td>
   <td><tt>ef1f972e629eae12901039bbfcb77d1365b3cf305d8d9780f72483eff3ab3b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkipi-24.02.0.tar.xz">libkipi-24.02.0</a></td>
   <td align="right">86kB</td>
   <td><tt>220f4858c17e7d9b853332e6481de35182a113b412af7f2d49fe4f209ee0391e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkleo-24.02.0.tar.xz">libkleo-24.02.0</a></td>
   <td align="right">556kB</td>
   <td><tt>ade428daca544798314a3a5b577efe8417c6d2182f74e427f3d7c79c3ca1b96c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkmahjongg-24.02.0.tar.xz">libkmahjongg-24.02.0</a></td>
   <td align="right">1651kB</td>
   <td><tt>a6577601ed7baf2f1c42130ae2e6d19b99ea926d14f82a0461a46b374c1967c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libkomparediff2-24.02.0.tar.xz">libkomparediff2-24.02.0</a></td>
   <td align="right">183kB</td>
   <td><tt>6cd364dc00f36e53f0b1d66ff8e5af1805dd597358e9b2bae3e9daf6ec4d54b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libksane-24.02.0.tar.xz">libksane-24.02.0</a></td>
   <td align="right">150kB</td>
   <td><tt>8e8f59a5ac280ff7512c7712b4675f778fca3b80296fbbbdf8d8cf650b171ab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libksieve-24.02.0.tar.xz">libksieve-24.02.0</a></td>
   <td align="right">570kB</td>
   <td><tt>defa85627342baa4184bb8802eb1a8ba2e8acd9ae8dc64411df8a712a837ccad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/libktorrent-24.02.0.tar.xz">libktorrent-24.02.0</a></td>
   <td align="right">589kB</td>
   <td><tt>886657fff012e2255430b1cb29559e4f793c2f54e47d6ed484421540d975b89a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/lokalize-24.02.0.tar.xz">lokalize-24.02.0</a></td>
   <td align="right">2092kB</td>
   <td><tt>5b39c85ffdbb599f945b9604ad88088ad254b34037fa19fbefbc3371a5150add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/lskat-24.02.0.tar.xz">lskat-24.02.0</a></td>
   <td align="right">1221kB</td>
   <td><tt>91500bb6479eb7a0bdc3da559b6d389eafafe07e52eb73926c9884e2a9f8c765</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/mailcommon-24.02.0.tar.xz">mailcommon-24.02.0</a></td>
   <td align="right">753kB</td>
   <td><tt>77f90c742e55790a78dcb75b34ab4d822e1c385e392817aa71e11fd1c0c243da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/mailimporter-24.02.0.tar.xz">mailimporter-24.02.0</a></td>
   <td align="right">579kB</td>
   <td><tt>dd9d6b347e7607389d70155f5e60324e745fb9ba8e9f26eeeac918f0898e7595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/marble-24.02.0.tar.xz">marble-24.02.0</a></td>
   <td align="right">52571kB</td>
   <td><tt>9299073ca61724350f3236c9916ea81d4bd445009ec65b736660a4bf016ef96a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/markdownpart-24.02.0.tar.xz">markdownpart-24.02.0</a></td>
   <td align="right">32kB</td>
   <td><tt>6bbf72298f21c502208aed3fefa55302d89c506a5ee75d2565d4645345344bc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/mbox-importer-24.02.0.tar.xz">mbox-importer-24.02.0</a></td>
   <td align="right">29kB</td>
   <td><tt>2ce2f068d964f53efdebb1c4cbffb38a6697cf2fe31088fafc9bb226bcc8897b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/merkuro-24.02.0.tar.xz">merkuro-24.02.0</a></td>
   <td align="right">720kB</td>
   <td><tt>a31bb56407c90ad4e2e5dfb01b179edf6589e9bfc6e614d83172639acad4bf51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/messagelib-24.02.0.tar.xz">messagelib-24.02.0</a></td>
   <td align="right">11029kB</td>
   <td><tt>ff48df019bc3f9a6553219695a947e8303d1b56d7aa185b51f3f2497342e8f3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/mimetreeparser-24.02.0.tar.xz">mimetreeparser-24.02.0</a></td>
   <td align="right">619kB</td>
   <td><tt>5d0546c49e8fd5d639ba68ae0a790260aae5e1d068737587f2bdc5c110ff97ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/minuet-24.02.0.tar.xz">minuet-24.02.0</a></td>
   <td align="right">27053kB</td>
   <td><tt>785ac947e2ce5b67fd6a7bc0fbd8f505d33004de0cc199fc865862b63b0915d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/neochat-24.02.0.tar.xz">neochat-24.02.0</a></td>
   <td align="right">861kB</td>
   <td><tt>24e78b9bccbdd2a40726e3b683b5d41dfdfbd06d4903cb474f5989ff8fe07032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/okular-24.02.0.tar.xz">okular-24.02.0</a></td>
   <td align="right">8350kB</td>
   <td><tt>fc265548f859562c54cd40587ff3c6a1c2d0f7926617951b06e6145d1f42938c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/palapeli-24.02.0.tar.xz">palapeli-24.02.0</a></td>
   <td align="right">2070kB</td>
   <td><tt>d05de464663640859ccae11aca5adf5b5ed5cf551139cf685622d9c73dfab532</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/parley-24.02.0.tar.xz">parley-24.02.0</a></td>
   <td align="right">8414kB</td>
   <td><tt>fdbdd1050a3fd83eaeef04238f78d4ff5d0d4e6455424c3b64a9bb982e990f17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/partitionmanager-24.02.0.tar.xz">partitionmanager-24.02.0</a></td>
   <td align="right">2096kB</td>
   <td><tt>b2ec49165805bca5b806f66b4ec53dd4a98dd46633aed54e69f040a1df15a4ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/picmi-24.02.0.tar.xz">picmi-24.02.0</a></td>
   <td align="right">1505kB</td>
   <td><tt>fd278647f32e09342056e4b4350fc98dc70f4c15b40f55cf52ef746c8b3c20cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/pimcommon-24.02.0.tar.xz">pimcommon-24.02.0</a></td>
   <td align="right">340kB</td>
   <td><tt>632a6eded872e80e98fc11d8bfaeca8283b7e209f689f25c4fdb6812cc69931c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/pim-data-exporter-24.02.0.tar.xz">pim-data-exporter-24.02.0</a></td>
   <td align="right">417kB</td>
   <td><tt>5e64f4c2075185b2fd472abce7532817e9f4cf10f650f89347dee0b7bb038fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/pim-sieve-editor-24.02.0.tar.xz">pim-sieve-editor-24.02.0</a></td>
   <td align="right">464kB</td>
   <td><tt>849096363dc822eccdb3142a71ea9a6c2b050c111a99bafa51486fee4ef3c9e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/plasmatube-24.02.0.tar.xz">plasmatube-24.02.0</a></td>
   <td align="right">132kB</td>
   <td><tt>a53479dc1a87cf9852e381953f2d5a439bfd52669fedc9feed0ab14c09ff7919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/poxml-24.02.0.tar.xz">poxml-24.02.0</a></td>
   <td align="right">43kB</td>
   <td><tt>a6c0e5965916107396b4fcf011e32f6c022a1e7db9571fdc648663f926fed53a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/qmlkonsole-24.02.0.tar.xz">qmlkonsole-24.02.0</a></td>
   <td align="right">189kB</td>
   <td><tt>77309eed9bf4b7a1bf3fc26b02253f0b9db5dae596c4334b168884422aaa8a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/rocs-24.02.0.tar.xz">rocs-24.02.0</a></td>
   <td align="right">1533kB</td>
   <td><tt>3ad863d5c09e2bf235b0d5048a6b1dbd3c2b02b79c1ffc59e50d33f3ab601302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/signon-kwallet-extension-24.02.0.tar.xz">signon-kwallet-extension-24.02.0</a></td>
   <td align="right">10kB</td>
   <td><tt>eb6971fb511fd6cbbb360fb1a25b0033313b72538f70950ad8d2cafaaafb9d6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/skanlite-24.02.0.tar.xz">skanlite-24.02.0</a></td>
   <td align="right">2393kB</td>
   <td><tt>c15ee8defcfb05da1fd1deea2c9aaa3cc6fb32489794f571ec09dd8b4d938aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/skanpage-24.02.0.tar.xz">skanpage-24.02.0</a></td>
   <td align="right">1291kB</td>
   <td><tt>89f692860060eab0e53e26c340fb8bb2efdd4999babf1ec9572fa6a144fd6f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/spectacle-24.02.0.tar.xz">spectacle-24.02.0</a></td>
   <td align="right">1373kB</td>
   <td><tt>614b10c990b5c1e2af539c6f60da5cab8d1975b6c17a2c2458a81b95d2e4c3d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/step-24.02.0.tar.xz">step-24.02.0</a></td>
   <td align="right">971kB</td>
   <td><tt>49f21054f423cc4b834f37a0736f658e6f3d19c24dba15ef230d857da1ff1c13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/svgpart-24.02.0.tar.xz">svgpart-24.02.0</a></td>
   <td align="right">28kB</td>
   <td><tt>2468d2d827f533c330d97dbc8eb0b83cf2d81c785f0bb59428dbce4ffcfa0865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/sweeper-24.02.0.tar.xz">sweeper-24.02.0</a></td>
   <td align="right">389kB</td>
   <td><tt>32d89a02c7e96d24817b84340d6d58bcff2095e714d5cde96146e4e92586228c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/telly-skout-24.02.0.tar.xz">telly-skout-24.02.0</a></td>
   <td align="right">95kB</td>
   <td><tt>bb4cb492e7be81a590e13179a3927b3c57d6eec8ec341921eadc82ada0c88bb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/tokodon-24.02.0.tar.xz">tokodon-24.02.0</a></td>
   <td align="right">505kB</td>
   <td><tt>0d748e43fa81b1edfdb41bc23f309e4d0e9fd6f2533c663ecfb0d8c3900ecfdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/umbrello-24.02.0.tar.xz">umbrello-24.02.0</a></td>
   <td align="right">5644kB</td>
   <td><tt>00cb941e68a10ef64d7d4db716bfcec068e1655d3d5520af97946ff33ded13c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/yakuake-24.02.0.tar.xz">yakuake-24.02.0</a></td>
   <td align="right">429kB</td>
   <td><tt>8f0b9b8f25798d0a58ae207e13c8ac55c87e2205fa6c8651b9af3f97c002f6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.02.0/src/zanshin-24.02.0.tar.xz">zanshin-24.02.0</a></td>
   <td align="right">362kB</td>
   <td><tt>960c3570f6261db7db744bd5ce931edea647f3be2cb9463d0869bafc30cb6465</tt></td>
</tr>

</table>
