<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/bluedevil-6.1.0.tar.xz">bluedevil-6.1.0</a></td>
   <td align="right">365kB</td>
   <td><tt>f595b065480afa8fc1e7b5573da246a8e276874f0a19eab0cfcb5404aca60684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/breeze-6.1.0.tar.xz">breeze-6.1.0</a></td>
   <td align="right">55MB</td>
   <td><tt>f71b8f4e7677e5685676ac72f961015853de959b1e08ba73539147cec7bd1d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/breeze-grub-6.1.0.tar.xz">breeze-grub-6.1.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>56096086b9c2845c56b1430afbc46c6fa70b88b9f1329be6fd75849bc066890f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/breeze-gtk-6.1.0.tar.xz">breeze-gtk-6.1.0</a></td>
   <td align="right">39kB</td>
   <td><tt>177b68b10ff6dc22e2af2cd702ad93e9a2e4b166c6a1f3dfcb1d63825e265a7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/breeze-plymouth-6.1.0.tar.xz">breeze-plymouth-6.1.0</a></td>
   <td align="right">108kB</td>
   <td><tt>19df2da0865c94ab8c85f58cd2d89565f4379dc8bc885166b201ada3a99345cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/discover-6.1.0.tar.xz">discover-6.1.0</a></td>
   <td align="right">996kB</td>
   <td><tt>beb9238a83787dc68030aac1eeba52138af039c07c4ab2ff8decfe9e86203b08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/drkonqi-6.1.0.tar.xz">drkonqi-6.1.0</a></td>
   <td align="right">850kB</td>
   <td><tt>e7f29b482d02e8714ad2687f38e6ed211f2a5e92c85466b934321120194ba7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/flatpak-kcm-6.1.0.tar.xz">flatpak-kcm-6.1.0</a></td>
   <td align="right">236kB</td>
   <td><tt>0f290732f3e6ee7c4e4e69c06a5dde44ebdcd5eab518d782d40bfe10000b9627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kactivitymanagerd-6.1.0.tar.xz">kactivitymanagerd-6.1.0</a></td>
   <td align="right">107kB</td>
   <td><tt>cb2e6da63bb984f65d45bbd3078404cd6546353ed3c2dc93c7b40978da827736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kde-cli-tools-6.1.0.tar.xz">kde-cli-tools-6.1.0</a></td>
   <td align="right">614kB</td>
   <td><tt>bc4e2262b8b3e18dec010ec1bea4f6ddcd5f36a1275f84d12b6f6e863b365dbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kde-gtk-config-6.1.0.tar.xz">kde-gtk-config-6.1.0</a></td>
   <td align="right">76kB</td>
   <td><tt>92b7918b3eeac63909897dbda1d12c4c332502817c30819561cc5389da11b8ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kdecoration-6.1.0.tar.xz">kdecoration-6.1.0</a></td>
   <td align="right">53kB</td>
   <td><tt>862eb19732ed1846430c4de0ef56302ac0f9aef5ad260719d2431b63dc8aafa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kdeplasma-addons-6.1.0.tar.xz">kdeplasma-addons-6.1.0</a></td>
   <td align="right">874kB</td>
   <td><tt>cb57fa427b3188a1bc7a6b12e196fc11252742e08f6397e3af00ffaf34676127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kgamma-6.1.0.tar.xz">kgamma-6.1.0</a></td>
   <td align="right">84kB</td>
   <td><tt>fc7baab1c658abb29fa938294b7697a72abc72f0c34e8ea2b4ce22dbcd5d4df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kglobalacceld-6.1.0.tar.xz">kglobalacceld-6.1.0</a></td>
   <td align="right">54kB</td>
   <td><tt>f3db1fe2037989acff1ef0c03ea07779acacafb603feaeefeef8f8499b680310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kinfocenter-6.1.0.tar.xz">kinfocenter-6.1.0</a></td>
   <td align="right">703kB</td>
   <td><tt>283ca57849087bc61295d4905fe6bf68ff7c8b01830b87479fab9abc72db54de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kmenuedit-6.1.0.tar.xz">kmenuedit-6.1.0</a></td>
   <td align="right">851kB</td>
   <td><tt>281f7f742d1c857f9da634ab081fbd5184b10d6a6bddd52912bf64f4316441bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kpipewire-6.1.0.tar.xz">kpipewire-6.1.0</a></td>
   <td align="right">144kB</td>
   <td><tt>fccc287841ee33c1283cbdca8350c78e2e739deba51f257416909aa026cd79ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/krdp-6.1.0.tar.xz">krdp-6.1.0</a></td>
   <td align="right">78kB</td>
   <td><tt>3127ebb48d130ff1aeb83e0a6598fb22fd0b1264bbe81a9d6c3dd2c38a801890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kscreen-6.1.0.tar.xz">kscreen-6.1.0</a></td>
   <td align="right">205kB</td>
   <td><tt>162bd196778cf776ca6469aad05980731fdd8b82570fc045f89612a97abb4401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kscreenlocker-6.1.0.tar.xz">kscreenlocker-6.1.0</a></td>
   <td align="right">175kB</td>
   <td><tt>0a32c52e74d1cc4e9044a1be29780736aa0cfae619dff03097d5677ec9f10671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/ksshaskpass-6.1.0.tar.xz">ksshaskpass-6.1.0</a></td>
   <td align="right">28kB</td>
   <td><tt>0a65aa548dd4ecf498978583835d10371048098a623c74ca950c78fc16ea24a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/ksystemstats-6.1.0.tar.xz">ksystemstats-6.1.0</a></td>
   <td align="right">124kB</td>
   <td><tt>ce59bffedf15fcfda0f91ee459955f7fe8ffd2bda13435757e709a4406efe93c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kwallet-pam-6.1.0.tar.xz">kwallet-pam-6.1.0</a></td>
   <td align="right">22kB</td>
   <td><tt>b21ed862e9751dfea938e557185ac8eaa24ae260ef795fb99ad74d3c4cb96a1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kwayland-6.1.0.tar.xz">kwayland-6.1.0</a></td>
   <td align="right">130kB</td>
   <td><tt>c736cf88c81d907af13e40a8eea4755476dc224c35f63bcf791503975df4507d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kwayland-integration-6.1.0.tar.xz">kwayland-integration-6.1.0</a></td>
   <td align="right">25kB</td>
   <td><tt>91b95f92f99267952ab954d9d6dd7ef076530073f2d20d40eea2027497d836c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kwin-6.1.0.tar.xz">kwin-6.1.0</a></td>
   <td align="right">8.0MB</td>
   <td><tt>50affd6c5c23cc2c6a8c23d741a66b06f6679c82c7fd3cafea66a6b0643b4f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/kwrited-6.1.0.tar.xz">kwrited-6.1.0</a></td>
   <td align="right">23kB</td>
   <td><tt>17dcf8419b5d0d775ebd68509953ca7b7338ebfad4e7575a9dd7364e910e20e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/layer-shell-qt-6.1.0.tar.xz">layer-shell-qt-6.1.0</a></td>
   <td align="right">35kB</td>
   <td><tt>55bd8e819a279b059fe29dbf463f8f15f833707379c719153ec750b7b50821d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/libkscreen-6.1.0.tar.xz">libkscreen-6.1.0</a></td>
   <td align="right">115kB</td>
   <td><tt>c193d43bcc25b6287709f182e4e615f50b4a95e12bbadca2b714320624afab74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/libksysguard-6.1.0.tar.xz">libksysguard-6.1.0</a></td>
   <td align="right">298kB</td>
   <td><tt>6d1e9af7ae10b124ab62aca70e2f3da15b742a72f7c0646f8c219f7f4b65e36a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/libplasma-6.1.0.tar.xz">libplasma-6.1.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>ed25f04ca68a040964b7bcdb043cb70beebdf8780c63026a5b2cb13c6bbe753b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/milou-6.1.0.tar.xz">milou-6.1.0</a></td>
   <td align="right">49kB</td>
   <td><tt>7b682a4ead85ad6dbc32823b8d4dc941b4951e50709fd4d33cd9a5dc3489be46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/ocean-sound-theme-6.1.0.tar.xz">ocean-sound-theme-6.1.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>9ec655c4f3f14f9e6a04450fdb2ca89a7f7b55edb6f17ed36d9af566ebe005f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/oxygen-6.1.0.tar.xz">oxygen-6.1.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a5a02e5aacbca828c985df8da9bcaad0b69b55fca68c12f0caf852e70a0f5b6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/oxygen-sounds-6.1.0.tar.xz">oxygen-sounds-6.1.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>eec088ca4cbedf399a7eb625013d1bf1b3933e01806fc79e159792d97f6343d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-activities-6.1.0.tar.xz">plasma-activities-6.1.0</a></td>
   <td align="right">69kB</td>
   <td><tt>cf7ad020844056a62f5bd8d792b5bcfdc255ea053dec51c0f91040263f4ff9f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-activities-stats-6.1.0.tar.xz">plasma-activities-stats-6.1.0</a></td>
   <td align="right">81kB</td>
   <td><tt>d11dd195ad642bb0575bfd777c1323beaea8a64d95916d221fc6fc672b55ed15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-browser-integration-6.1.0.tar.xz">plasma-browser-integration-6.1.0</a></td>
   <td align="right">217kB</td>
   <td><tt>f1da734f23e22cc5013eda6b8ae2ffe2743f94d37f13340ac575c21677b90396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-desktop-6.1.0.tar.xz">plasma-desktop-6.1.0</a></td>
   <td align="right">15MB</td>
   <td><tt>0131c6688d9b021067e46d1c14b8a25895f06d0f4f771ff5e49de416044924ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-disks-6.1.0.tar.xz">plasma-disks-6.1.0</a></td>
   <td align="right">98kB</td>
   <td><tt>54ac456a7e573fee9ce8b91750bfbdabe09f1b4f9f42dd7ea9153d7727e0b611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-firewall-6.1.0.tar.xz">plasma-firewall-6.1.0</a></td>
   <td align="right">363kB</td>
   <td><tt>b1cb7faada07194e83fcf1fddf05c5fe92b6cef4a2ecb41481b3cc902417070a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-integration-6.1.0.tar.xz">plasma-integration-6.1.0</a></td>
   <td align="right">90kB</td>
   <td><tt>f0fffa9fcd03569f6c808e8dc1e7107c08f30bad68fe6e8fcc3dda9dc07fbfa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-mobile-6.1.0.tar.xz">plasma-mobile-6.1.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>86f0134bfa67f10c20744c48dc91887dbee96dae24f0179a5349b75e6a09c2f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-nano-6.1.0.tar.xz">plasma-nano-6.1.0</a></td>
   <td align="right">76kB</td>
   <td><tt>d359bc770a950fb79aaf83a9c96420f8ad8cff324ed50e784f84a93dab710135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-nm-6.1.0.tar.xz">plasma-nm-6.1.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5352aff9b67351860945000d097203d53be124c0f107c87b3242818980f54690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-pa-6.1.0.tar.xz">plasma-pa-6.1.0</a></td>
   <td align="right">159kB</td>
   <td><tt>e2caae1910bbf3de80247bd465458d3d7988e6ce6034eb63da9763ef1aad2639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-sdk-6.1.0.tar.xz">plasma-sdk-6.1.0</a></td>
   <td align="right">320kB</td>
   <td><tt>a032853d86a48985bd3139420faee6eaaee757962c1b8cef78d4340460ad4b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-systemmonitor-6.1.0.tar.xz">plasma-systemmonitor-6.1.0</a></td>
   <td align="right">184kB</td>
   <td><tt>b49aa1cf7b6f84ea7df711729a5d3f6fd000444be2a2b90ff65e0dbbadc91224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-thunderbolt-6.1.0.tar.xz">plasma-thunderbolt-6.1.0</a></td>
   <td align="right">78kB</td>
   <td><tt>386ffaf22406501ce8584e8c8c86344d2e9119af81158828253e530c3545c08d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-vault-6.1.0.tar.xz">plasma-vault-6.1.0</a></td>
   <td align="right">196kB</td>
   <td><tt>b48b499327904b87eda3cbf8f814904450d93b7eefaf953c63d1f37dd9d6d23d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-welcome-6.1.0.tar.xz">plasma-welcome-6.1.0</a></td>
   <td align="right">645kB</td>
   <td><tt>18317cab08998b1504c5dd8914037a40ca95edb440f45c6137a66afdf8a2f700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-workspace-6.1.0.tar.xz">plasma-workspace-6.1.0</a></td>
   <td align="right">18MB</td>
   <td><tt>f4f542e6f201f46080ee6fb966d9f895811a8dcd7d4f18a4c6c48ce0c35a127c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma-workspace-wallpapers-6.1.0.tar.xz">plasma-workspace-wallpapers-6.1.0</a></td>
   <td align="right">95MB</td>
   <td><tt>0cb91ee4785fccad383e2be2dd15b04450f8bc0594c3986f75860fdedca46751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plasma5support-6.1.0.tar.xz">plasma5support-6.1.0</a></td>
   <td align="right">85kB</td>
   <td><tt>e1832b321abe92b3736a6103741ec2d41645311d822955f39ecc8938e4ad572a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/plymouth-kcm-6.1.0.tar.xz">plymouth-kcm-6.1.0</a></td>
   <td align="right">45kB</td>
   <td><tt>7d2de1452225dd4526c74619300593c58dacf0f63b380a44d91c8eeaf2c1bcab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/polkit-kde-agent-1-6.1.0.tar.xz">polkit-kde-agent-1-6.1.0</a></td>
   <td align="right">55kB</td>
   <td><tt>41069687aa81189bd8330ca9d081e21579e46d815e93849d58741eabe167eec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/powerdevil-6.1.0.tar.xz">powerdevil-6.1.0</a></td>
   <td align="right">938kB</td>
   <td><tt>445b2a5366bc1d64b04547efe6e713b75a2d3309fe4727e9edf6157be6dd4580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/print-manager-6.1.0.tar.xz">print-manager-6.1.0</a></td>
   <td align="right">359kB</td>
   <td><tt>c63c74054864087750409029ee4881bc1165ab93ce601669edcbf38cc2f20215</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/qqc2-breeze-style-6.1.0.tar.xz">qqc2-breeze-style-6.1.0</a></td>
   <td align="right">64kB</td>
   <td><tt>ada4c0c5622c1a5b825e9b1042e0be71352adda4464094bb6de21c97102ee26f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/sddm-kcm-6.1.0.tar.xz">sddm-kcm-6.1.0</a></td>
   <td align="right">96kB</td>
   <td><tt>1b30abbcd184a7f460a19636aa50ef7da34e6b6e412ee6cbf97ae95b4d78eadc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/systemsettings-6.1.0.tar.xz">systemsettings-6.1.0</a></td>
   <td align="right">209kB</td>
   <td><tt>bd94b1342064794a142cb285ed102a6db6959bf2682d4e661d560d734a68ca5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/wacomtablet-6.1.0.tar.xz">wacomtablet-6.1.0</a></td>
   <td align="right">811kB</td>
   <td><tt>d1ebe643228d470ad5cc294c5acd010f402ba73aa77c2a452a58d3ac83c83c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.0/xdg-desktop-portal-kde-6.1.0.tar.xz">xdg-desktop-portal-kde-6.1.0</a></td>
   <td align="right">168kB</td>
   <td><tt>054ce6623234ec0be86ea000d7fb13cf957e4fc42a248541292fa3831d804db3</tt></td>
</tr>

</table>
