// SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: CC0-1.0

.konqi {
  margin-top: 0;
  margin-left: 0;
  float: none;
}

.jumbotron {
  display: none;
}

.section {
  margin: 0 auto;
  padding: 50px 0;

}

h2 {
text-transform: uppercase;
}

p {
  font-size: 1.3rem;
}

.info {
  font-style: italic;
  font-weight: 200;
  font-size: 1.2rem;
  padding-bottom: 20px;
}
