<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/akonadi-15.12.2.tar.xz">akonadi-15.12.2</a></td>
   <td align="right">280kB</td>
   <td><tt>292eac41c6b8ea2d9ba2ff7b1511fefd51a43cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/akonadi-calendar-15.12.2.tar.xz">akonadi-calendar-15.12.2</a></td>
   <td align="right">112kB</td>
   <td><tt>065f981e0e349b12e0e675ddb6dccda6eeb59a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/akonadi-search-15.12.2.tar.xz">akonadi-search-15.12.2</a></td>
   <td align="right">68kB</td>
   <td><tt>80527f043d71646af94e6c252bfd813e9457c835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/analitza-15.12.2.tar.xz">analitza-15.12.2</a></td>
   <td align="right">227kB</td>
   <td><tt>ef8976cde7e0b5ace908a93abcfd318f4f519ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ark-15.12.2.tar.xz">ark-15.12.2</a></td>
   <td align="right">247kB</td>
   <td><tt>a65a9e3fbfc2eb807d41cc77cc399859c8812b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/artikulate-15.12.2.tar.xz">artikulate-15.12.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>c8ddcdd3fdd119e3a763f0d0066907c90dcff390</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/audiocd-kio-15.12.2.tar.xz">audiocd-kio-15.12.2</a></td>
   <td align="right">50kB</td>
   <td><tt>f1e45b6d75ef845788815ad3636cfb3977336f9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/baloo-widgets-15.12.2.tar.xz">baloo-widgets-15.12.2</a></td>
   <td align="right">55kB</td>
   <td><tt>0e265b3cd464ede309b7f86bad602bfeaa4e5080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/blinken-15.12.2.tar.xz">blinken-15.12.2</a></td>
   <td align="right">554kB</td>
   <td><tt>9e3e4292b050a9bd754a63ab685de60698c6908d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/bomber-15.12.2.tar.xz">bomber-15.12.2</a></td>
   <td align="right">384kB</td>
   <td><tt>7b6b2cbdd70695a631627134515c1374df7b7c55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/bovo-15.12.2.tar.xz">bovo-15.12.2</a></td>
   <td align="right">103kB</td>
   <td><tt>03ba7af0bb3c3db844937dc42a3b4a8d00fef0bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/cantor-15.12.2.tar.xz">cantor-15.12.2</a></td>
   <td align="right">342kB</td>
   <td><tt>994daaefc9b2dd3c9bb8455a9b92f45b6c72700f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/cervisia-15.12.2.tar.xz">cervisia-15.12.2</a></td>
   <td align="right">365kB</td>
   <td><tt>467ace16541966878eb5406554fbc7f809721882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/dolphin-15.12.2.tar.xz">dolphin-15.12.2</a></td>
   <td align="right">642kB</td>
   <td><tt>b72a8a181215171c7cfa6c636984eab12a3b95e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/dolphin-plugins-15.12.2.tar.xz">dolphin-plugins-15.12.2</a></td>
   <td align="right">59kB</td>
   <td><tt>55cbb0a4b355495da9cedfe10b7decba87358a3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/dragon-15.12.2.tar.xz">dragon-15.12.2</a></td>
   <td align="right">394kB</td>
   <td><tt>960610ec7c73a68b5466c7d7c37ba6296d2fc0d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ffmpegthumbs-15.12.2.tar.xz">ffmpegthumbs-15.12.2</a></td>
   <td align="right">19kB</td>
   <td><tt>1cfcb39ef43d76772624652f48cfd3e1e76e5584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/filelight-15.12.2.tar.xz">filelight-15.12.2</a></td>
   <td align="right">280kB</td>
   <td><tt>bd26c8db408b5e923f39cd1d3f6623e8baaa9f6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/gpgmepp-15.12.2.tar.xz">gpgmepp-15.12.2</a></td>
   <td align="right">66kB</td>
   <td><tt>448a00eb0b6c9cd9621ed9bcc0eeefd1400af476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/granatier-15.12.2.tar.xz">granatier-15.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9c51020af3d4182fcad546e69aa8e878beff7fe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/gwenview-15.12.2.tar.xz">gwenview-15.12.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>25dd397d1910171f10af20237bbc8d5ccf8e3773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/jovie-15.12.2.tar.xz">jovie-15.12.2</a></td>
   <td align="right">383kB</td>
   <td><tt>3a10021c4c43788d978a0eab0b3bc4ff0d5e9149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/juk-15.12.2.tar.xz">juk-15.12.2</a></td>
   <td align="right">434kB</td>
   <td><tt>bce0a8567ec90c3ad888ebc5ce5b24047e5d9a5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kaccessible-15.12.2.tar.xz">kaccessible-15.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>f06cec71cde702ede9bddbb020b674f78fba82bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kaccounts-integration-15.12.2.tar.xz">kaccounts-integration-15.12.2</a></td>
   <td align="right">44kB</td>
   <td><tt>95298774292a6680a3ad63e4b8f0ed1a00562133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kaccounts-providers-15.12.2.tar.xz">kaccounts-providers-15.12.2</a></td>
   <td align="right">16kB</td>
   <td><tt>8e19a2693f699fe45aa3851a8a100c416cee90d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kajongg-15.12.2.tar.xz">kajongg-15.12.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0c6f707ed48c0383ca3dcad75b3c3cdddd4eaff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kalarmcal-15.12.2.tar.xz">kalarmcal-15.12.2</a></td>
   <td align="right">85kB</td>
   <td><tt>dad500fbc86bd1b3a0fd04e66c7731da8ebf4e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kalgebra-15.12.2.tar.xz">kalgebra-15.12.2</a></td>
   <td align="right">250kB</td>
   <td><tt>b05ee10795d2fcadc2b08f243864b7a610f9b417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kalzium-15.12.2.tar.xz">kalzium-15.12.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>d7457d609fa73680a38cb8adafbe0e92509238cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kamera-15.12.2.tar.xz">kamera-15.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>70ce4a6d62ea0b65ae887de48ef400bdffe8cea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kanagram-15.12.2.tar.xz">kanagram-15.12.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>74692971e300be6615814c6815b44b4c7b7f69dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kapman-15.12.2.tar.xz">kapman-15.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b32376d2ecf6440fab894b81ace89579cd34c8d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kapptemplate-15.12.2.tar.xz">kapptemplate-15.12.2</a></td>
   <td align="right">672kB</td>
   <td><tt>41a30103939eb1849ef04dd7b25d2262a683baaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kate-15.12.2.tar.xz">kate-15.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>35a9f131b2f333f2758a13d7ee972454f40cd7b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/katomic-15.12.2.tar.xz">katomic-15.12.2</a></td>
   <td align="right">647kB</td>
   <td><tt>41d03fc05a296db77d9ec1cf1cf5076a11568f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kblackbox-15.12.2.tar.xz">kblackbox-15.12.2</a></td>
   <td align="right">255kB</td>
   <td><tt>0ac6200acf5c99aedd5b8896c148cadfb340649f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kblocks-15.12.2.tar.xz">kblocks-15.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b03fd915032ea9c3691754d73978cf703bb720f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kblog-15.12.2.tar.xz">kblog-15.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>e9d687799ff38db5a377ba300f1266bd3ed39fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kbounce-15.12.2.tar.xz">kbounce-15.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4166c2e21f3caeeb5d9edd70eb49bed15fc77659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kbreakout-15.12.2.tar.xz">kbreakout-15.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0c453e25154f7b4cf2f5213bd00094b0f08f6cdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kbruch-15.12.2.tar.xz">kbruch-15.12.2</a></td>
   <td align="right">884kB</td>
   <td><tt>ded4d4c2b283864d4f202899eb7a18325d8e6d40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kcachegrind-15.12.2.tar.xz">kcachegrind-15.12.2</a></td>
   <td align="right">232kB</td>
   <td><tt>a5ce2fa9c0f93b3fbcf72e497e31e5b4dce03f0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kcalc-15.12.2.tar.xz">kcalc-15.12.2</a></td>
   <td align="right">81kB</td>
   <td><tt>780ba8ac39c10e28d09b36f951a41b242dc295c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kcalcore-15.12.2.tar.xz">kcalcore-15.12.2</a></td>
   <td align="right">286kB</td>
   <td><tt>f3f93241b07c51fab32631f2bdd164756366be95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kcalutils-15.12.2.tar.xz">kcalutils-15.12.2</a></td>
   <td align="right">68kB</td>
   <td><tt>f887fead43bd6b61a5d1d524edf4d37ebe3ba457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kcharselect-15.12.2.tar.xz">kcharselect-15.12.2</a></td>
   <td align="right">70kB</td>
   <td><tt>1bcbf27dffaff3fd3c52adec2ef1299f5bf73f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kcolorchooser-15.12.2.tar.xz">kcolorchooser-15.12.2</a></td>
   <td align="right">4kB</td>
   <td><tt>ae44d4c06cd6acc3483a1da9fe0b2a29a892866f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kcontacts-15.12.2.tar.xz">kcontacts-15.12.2</a></td>
   <td align="right">132kB</td>
   <td><tt>868cd5cc1951945248de7bc28075bec8da9a2b00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kcron-15.12.2.tar.xz">kcron-15.12.2</a></td>
   <td align="right">136kB</td>
   <td><tt>d30187e6091d0052cc1db7f45fe51f3b5b710dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-baseapps-15.12.2.tar.xz">kde-baseapps-15.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>baef089f623f023cb1d60dcabdfa113ed40003e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdebugsettings-15.12.2.tar.xz">kdebugsettings-15.12.2</a></td>
   <td align="right">22kB</td>
   <td><tt>40a726a86e50b7124d55a297aa5216568e1ba78d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-dev-scripts-15.12.2.tar.xz">kde-dev-scripts-15.12.2</a></td>
   <td align="right">301kB</td>
   <td><tt>5498d13c0a95768209edbbf86827cf90f8390f54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-dev-utils-15.12.2.tar.xz">kde-dev-utils-15.12.2</a></td>
   <td align="right">50kB</td>
   <td><tt>c0c1b1220480defc9aaf53a9ad77105303c6d32d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdeedu-data-15.12.2.tar.xz">kdeedu-data-15.12.2</a></td>
   <td align="right">94kB</td>
   <td><tt>f927e0575e9e53d2a84596d07e06a9e34a74a771</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdegraphics-mobipocket-15.12.2.tar.xz">kdegraphics-mobipocket-15.12.2</a></td>
   <td align="right">14kB</td>
   <td><tt>4db4f0bd0d413ff1e39b82b2702a201535d3d1c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdegraphics-strigi-analyzer-15.12.2.tar.xz">kdegraphics-strigi-analyzer-15.12.2</a></td>
   <td align="right">39kB</td>
   <td><tt>7e2fb393349396c446dbfa7985fe80ca83dcc36b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdegraphics-thumbnailers-15.12.2.tar.xz">kdegraphics-thumbnailers-15.12.2</a></td>
   <td align="right">40kB</td>
   <td><tt>67f768e9bcf73b8c83cf45d7d7a1a73567aaffc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdelibs-4.14.17.tar.xz">kdelibs-4.14.17</a></td>
   <td align="right">11MB</td>
   <td><tt>137c50425cef8ef54f84e0a9cd47f2437ae21d7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdenetwork-filesharing-15.12.2.tar.xz">kdenetwork-filesharing-15.12.2</a></td>
   <td align="right">27kB</td>
   <td><tt>7ec8b9b87d4a728e4801a2afc766399f8c13bd41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdenetwork-strigi-analyzers-15.12.2.tar.xz">kdenetwork-strigi-analyzers-15.12.2</a></td>
   <td align="right">14kB</td>
   <td><tt>8f0d232cacedbf5dd8d51fdd5b10663e31cbf98e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdenlive-15.12.2.tar.xz">kdenlive-15.12.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>ce7a269274357ebd562a228fa2e54d5b0e9504b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdepim-15.12.2.tar.xz">kdepim-15.12.2</a></td>
   <td align="right">12MB</td>
   <td><tt>1a35def4ecba5c5830ca66e476975dd034ba34fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdepimlibs-15.12.2.tar.xz">kdepimlibs-15.12.2</a></td>
   <td align="right">992kB</td>
   <td><tt>b9d2d07b9e47e37c1fcbabdf95f23bb6187cf7b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdepim-runtime-15.12.2.tar.xz">kdepim-runtime-15.12.2</a></td>
   <td align="right">685kB</td>
   <td><tt>e81696c7df1624454a99c632be439c2f38d62efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-runtime-15.12.2.tar.xz">kde-runtime-15.12.2</a></td>
   <td align="right">7.5MB</td>
   <td><tt>210f05a6fbab7b5afee3c66704f4fde796572496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdesdk-kioslaves-15.12.2.tar.xz">kdesdk-kioslaves-15.12.2</a></td>
   <td align="right">353kB</td>
   <td><tt>674b5203d01386073bc82a51ea9167f7abf1b2d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdesdk-strigi-analyzers-15.12.2.tar.xz">kdesdk-strigi-analyzers-15.12.2</a></td>
   <td align="right">17kB</td>
   <td><tt>a622bbc0f8120963ee347a5ecae2c433878b374d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdesdk-thumbnailers-15.12.2.tar.xz">kdesdk-thumbnailers-15.12.2</a></td>
   <td align="right">11kB</td>
   <td><tt>25edfaca27365f7b8ba6501d3758ed8a9ae2ca1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdewebdev-15.12.2.tar.xz">kdewebdev-15.12.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7e23fdafc53c8fda76c8b227ce143f7b825d27e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdf-15.12.2.tar.xz">kdf-15.12.2</a></td>
   <td align="right">145kB</td>
   <td><tt>0bc7f75ba866706d8958c9137b2dded92e48d062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kdiamond-15.12.2.tar.xz">kdiamond-15.12.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>f9fcd63704349b3e113707f4bc865c8e8800a5da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kfloppy-15.12.2.tar.xz">kfloppy-15.12.2</a></td>
   <td align="right">52kB</td>
   <td><tt>03c3d77876d49b3aeddfb2c57a85187992dd345d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kfourinline-15.12.2.tar.xz">kfourinline-15.12.2</a></td>
   <td align="right">275kB</td>
   <td><tt>f0c83b991cb741a6188f8763caa6dbba8e2627f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kgeography-15.12.2.tar.xz">kgeography-15.12.2</a></td>
   <td align="right">6.4MB</td>
   <td><tt>8c06d073f5eab516d3d2e6ebf10ade5c9e9e3ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kget-15.12.2.tar.xz">kget-15.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3b313e53b2da6f01882525cbdbb9d01a22628614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kgoldrunner-15.12.2.tar.xz">kgoldrunner-15.12.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>987ddfff953f84a489900fa21e3865c627f53054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kgpg-15.12.2.tar.xz">kgpg-15.12.2</a></td>
   <td align="right">791kB</td>
   <td><tt>47bb2ce329ed6eb5e4e66124acad413924fb18c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/khangman-15.12.2.tar.xz">khangman-15.12.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>3504ea0145c03184083dbc64ce8542c057510978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kholidays-15.12.2.tar.xz">kholidays-15.12.2</a></td>
   <td align="right">170kB</td>
   <td><tt>a560a83c9b9397cdc0eba13a5aeab139e62da65f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kidentitymanagement-15.12.2.tar.xz">kidentitymanagement-15.12.2</a></td>
   <td align="right">35kB</td>
   <td><tt>ac5ba6db662bc198245bb507c8c9e5822f3aadc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kig-15.12.2.tar.xz">kig-15.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5669d8554899d07f20c1cd43490d107bdb81ea37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kigo-15.12.2.tar.xz">kigo-15.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>29653db2d8d973f43571920b0fbb2e53cfbcdd19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/killbots-15.12.2.tar.xz">killbots-15.12.2</a></td>
   <td align="right">941kB</td>
   <td><tt>439d7e47765c3da7c38c0d483c008454e6ebb229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kimap-15.12.2.tar.xz">kimap-15.12.2</a></td>
   <td align="right">87kB</td>
   <td><tt>2b34d734eacbb131fddb09d2d24d18624036f6bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kio-extras-15.12.2.tar.xz">kio-extras-15.12.2</a></td>
   <td align="right">260kB</td>
   <td><tt>3c6c83aceea0a98404c8249133d4273178a5733e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kiriki-15.12.2.tar.xz">kiriki-15.12.2</a></td>
   <td align="right">117kB</td>
   <td><tt>777243961c01bc05a65eff8fe6e59056522ed6c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kiten-15.12.2.tar.xz">kiten-15.12.2</a></td>
   <td align="right">11MB</td>
   <td><tt>7c6c414bf71f267d815abf1654247c1fb675016e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kjumpingcube-15.12.2.tar.xz">kjumpingcube-15.12.2</a></td>
   <td align="right">161kB</td>
   <td><tt>345449e064a454b66007a1a234557ecd70f236f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kldap-15.12.2.tar.xz">kldap-15.12.2</a></td>
   <td align="right">52kB</td>
   <td><tt>fc8baa172ce559afbbd23823ad4d67ed8fe41b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/klettres-15.12.2.tar.xz">klettres-15.12.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>89397a1c74db9aa0d560fb12e912a13ef002f1a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/klickety-15.12.2.tar.xz">klickety-15.12.2</a></td>
   <td align="right">769kB</td>
   <td><tt>94a30aa344a4c283f3dd61ddc22bda88ea27eca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/klines-15.12.2.tar.xz">klines-15.12.2</a></td>
   <td align="right">928kB</td>
   <td><tt>35c5e2cfaefc79bca76f2c0d23d3688e71fc9b50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kmag-15.12.2.tar.xz">kmag-15.12.2</a></td>
   <td align="right">84kB</td>
   <td><tt>5873659f06ecf14fe2cc24cb21bcb2503838a8cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kmahjongg-15.12.2.tar.xz">kmahjongg-15.12.2</a></td>
   <td align="right">984kB</td>
   <td><tt>d4b0a4e6681e12ad4f305de469ab8ed6648743dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kmailtransport-15.12.2.tar.xz">kmailtransport-15.12.2</a></td>
   <td align="right">63kB</td>
   <td><tt>f3ca6b0999754c201a2a322ba7ab892b0c240d3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kmbox-15.12.2.tar.xz">kmbox-15.12.2</a></td>
   <td align="right">23kB</td>
   <td><tt>dc8d5e41c7b10b2484e2e4c2116e0abc2a7895c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kmime-15.12.2.tar.xz">kmime-15.12.2</a></td>
   <td align="right">119kB</td>
   <td><tt>005abbad656fd63d6e89f6af2980acbe63d27cd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kmines-15.12.2.tar.xz">kmines-15.12.2</a></td>
   <td align="right">609kB</td>
   <td><tt>325902f2fcdda7a37cc98c3a43ecb7072c218964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kmix-15.12.2.tar.xz">kmix-15.12.2</a></td>
   <td align="right">380kB</td>
   <td><tt>3b6dadbfcbaeb4551c9b457f6e0262d464e744c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kmousetool-15.12.2.tar.xz">kmousetool-15.12.2</a></td>
   <td align="right">35kB</td>
   <td><tt>912968b0274f89091abd5675c55e82c935555d49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kmouth-15.12.2.tar.xz">kmouth-15.12.2</a></td>
   <td align="right">270kB</td>
   <td><tt>fcbe67bec3b32137d5235bc3ced78a7e994ee15e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kmplot-15.12.2.tar.xz">kmplot-15.12.2</a></td>
   <td align="right">647kB</td>
   <td><tt>15054658fc90391f26dd43fee49a87d8b9a5412a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/knavalbattle-15.12.2.tar.xz">knavalbattle-15.12.2</a></td>
   <td align="right">889kB</td>
   <td><tt>77b1811b820bf9d88cc5125ff8cd13b6decee483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/knetwalk-15.12.2.tar.xz">knetwalk-15.12.2</a></td>
   <td align="right">765kB</td>
   <td><tt>a88cd264e1e6bda080a5b9bf670bba95bc2c6124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kolf-15.12.2.tar.xz">kolf-15.12.2</a></td>
   <td align="right">751kB</td>
   <td><tt>b61365211eea3913b6b22934241bb9e336e6658c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kollision-15.12.2.tar.xz">kollision-15.12.2</a></td>
   <td align="right">204kB</td>
   <td><tt>72eefed7cd3af3e19f513160fbfca7854e3d45e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kolourpaint-15.12.2.tar.xz">kolourpaint-15.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ddf03223e54ca7a1d4657b1ddb3893e52166f4d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kompare-15.12.2.tar.xz">kompare-15.12.2</a></td>
   <td align="right">336kB</td>
   <td><tt>4bfbb7eec350f5c986bee286fcaf84b0f27299d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/konquest-15.12.2.tar.xz">konquest-15.12.2</a></td>
   <td align="right">396kB</td>
   <td><tt>9b2038f2797826d9d2845536595e886c9ecdb445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/konsole-15.12.2.tar.xz">konsole-15.12.2</a></td>
   <td align="right">448kB</td>
   <td><tt>9f7a4271e4f4c6a28906bd09d8099422da02af6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kontactinterface-15.12.2.tar.xz">kontactinterface-15.12.2</a></td>
   <td align="right">24kB</td>
   <td><tt>6da44ccb3f0ae8c11d7e93664500fe58f36ec91c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kopete-15.12.2.tar.xz">kopete-15.12.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>f9d56d27a3cb0c2b8a4e50a75ee23b5773d327d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kpat-15.12.2.tar.xz">kpat-15.12.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>72c99f26ec6ad39cefa161291cef9d60e1750a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kpimtextedit-15.12.2.tar.xz">kpimtextedit-15.12.2</a></td>
   <td align="right">75kB</td>
   <td><tt>dcb098352a49720c2ea83e0355236d461004406f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kppp-15.12.2.tar.xz">kppp-15.12.2</a></td>
   <td align="right">683kB</td>
   <td><tt>23b15f8ec8a3ef9794dc149d2a1a4b104e65d8e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kqtquickcharts-15.12.2.tar.xz">kqtquickcharts-15.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>7121622f4c07c3c63549c138f517c743dcf9fa04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/krdc-15.12.2.tar.xz">krdc-15.12.2</a></td>
   <td align="right">389kB</td>
   <td><tt>5d27f92ab379816b771966457727cce352c15433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kremotecontrol-15.12.2.tar.xz">kremotecontrol-15.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>023caed3bc4b01adff133e7c82d54688ac71bed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kreversi-15.12.2.tar.xz">kreversi-15.12.2</a></td>
   <td align="right">464kB</td>
   <td><tt>2d9f64d8748d70e461b61bea7340d80abe3efb80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/krfb-15.12.2.tar.xz">krfb-15.12.2</a></td>
   <td align="right">317kB</td>
   <td><tt>d7a19b95df59473eba8c089c9bf646d041ce00a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kross-interpreters-15.12.2.tar.xz">kross-interpreters-15.12.2</a></td>
   <td align="right">129kB</td>
   <td><tt>3eca60ef18b739249bf22fc05c2bc96e55561116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kruler-15.12.2.tar.xz">kruler-15.12.2</a></td>
   <td align="right">120kB</td>
   <td><tt>aab059bde9d49b5523eda13f590cf1808ec49296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ksaneplugin-15.12.2.tar.xz">ksaneplugin-15.12.2</a></td>
   <td align="right">12kB</td>
   <td><tt>a4ef8200a35e7d337347c87bceb479fae43c023e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kscd-15.12.2.tar.xz">kscd-15.12.2</a></td>
   <td align="right">90kB</td>
   <td><tt>4cdf22df49257efc66a6086be81b47e456a9f840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kshisen-15.12.2.tar.xz">kshisen-15.12.2</a></td>
   <td align="right">135kB</td>
   <td><tt>adba50101398f5d33ec515254a197a82cf98dc64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ksirk-15.12.2.tar.xz">ksirk-15.12.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>2cabb02188ffc556d42bf8c9907eb2e945738b4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ksnakeduel-15.12.2.tar.xz">ksnakeduel-15.12.2</a></td>
   <td align="right">290kB</td>
   <td><tt>949182e1061a4c0e6695d038704df3884ffafd88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kspaceduel-15.12.2.tar.xz">kspaceduel-15.12.2</a></td>
   <td align="right">247kB</td>
   <td><tt>bc5fd26a9c52f39f0efd6820573f310657608c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ksquares-15.12.2.tar.xz">ksquares-15.12.2</a></td>
   <td align="right">78kB</td>
   <td><tt>00bbe878820720b076033caa78e09099f53415d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kstars-15.12.2.tar.xz">kstars-15.12.2</a></td>
   <td align="right">16MB</td>
   <td><tt>35617eacd50d5d7c7f4418dfb06ae377b361b23c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ksudoku-15.12.2.tar.xz">ksudoku-15.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>fd9f661696d8086c98856f70d30e2592f1c3fd5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ksystemlog-15.12.2.tar.xz">ksystemlog-15.12.2</a></td>
   <td align="right">386kB</td>
   <td><tt>8c69aee63425ecc51615a6572978513ae2ae41a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kteatime-15.12.2.tar.xz">kteatime-15.12.2</a></td>
   <td align="right">102kB</td>
   <td><tt>dd210b52c1c101510637d988e416ac7c07e4731a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktimer-15.12.2.tar.xz">ktimer-15.12.2</a></td>
   <td align="right">157kB</td>
   <td><tt>1950cb22b5d13e5e2b6ffda0e81836be904f0392</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktnef-15.12.2.tar.xz">ktnef-15.12.2</a></td>
   <td align="right">227kB</td>
   <td><tt>d4e64983fd21b8dc2c88b55f4e1abccd9479f470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktouch-15.12.2.tar.xz">ktouch-15.12.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>da7d69da14a12f144825fc45c3493c9a68b87af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktp-accounts-kcm-15.12.2.tar.xz">ktp-accounts-kcm-15.12.2</a></td>
   <td align="right">86kB</td>
   <td><tt>e42c0753938b48c5692b212fe4459da23a42cd5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktp-approver-15.12.2.tar.xz">ktp-approver-15.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>4a7fc29b92219cbbf9441c213acb074321414cfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktp-auth-handler-15.12.2.tar.xz">ktp-auth-handler-15.12.2</a></td>
   <td align="right">25kB</td>
   <td><tt>c9b9b648b06f479e75c2b05f9dd6edaa5c120150</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktp-common-internals-15.12.2.tar.xz">ktp-common-internals-15.12.2</a></td>
   <td align="right">308kB</td>
   <td><tt>9b80f8989a09881a62625b1dcf0bb8cb1c1b3dbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktp-contact-list-15.12.2.tar.xz">ktp-contact-list-15.12.2</a></td>
   <td align="right">47kB</td>
   <td><tt>02a2d4d95b662fc8d4dd7256bcd9ce23d71e7879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktp-contact-runner-15.12.2.tar.xz">ktp-contact-runner-15.12.2</a></td>
   <td align="right">16kB</td>
   <td><tt>c236ced8b168396476cc2ba64681282023944529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktp-desktop-applets-15.12.2.tar.xz">ktp-desktop-applets-15.12.2</a></td>
   <td align="right">25kB</td>
   <td><tt>8c7b85915c311ce83b725c23ec596faad22df00c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktp-filetransfer-handler-15.12.2.tar.xz">ktp-filetransfer-handler-15.12.2</a></td>
   <td align="right">22kB</td>
   <td><tt>bf151b471adfad94cea7250c3372586cb41d9e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktp-kded-module-15.12.2.tar.xz">ktp-kded-module-15.12.2</a></td>
   <td align="right">37kB</td>
   <td><tt>066b287e2dcf8ba9ef666c98dd8c558535ca9bff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktp-send-file-15.12.2.tar.xz">ktp-send-file-15.12.2</a></td>
   <td align="right">14kB</td>
   <td><tt>172dd1b2aa2c3454916cca2d53c24773edc5644a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktp-text-ui-15.12.2.tar.xz">ktp-text-ui-15.12.2</a></td>
   <td align="right">287kB</td>
   <td><tt>21d862ac216f0943c58dcfc887f2079ffd561045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/ktuberling-15.12.2.tar.xz">ktuberling-15.12.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>525df32502ba16a61ad43731c58d26270131939e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kturtle-15.12.2.tar.xz">kturtle-15.12.2</a></td>
   <td align="right">189kB</td>
   <td><tt>2f2d03ad1f6b072281432966c1058491f50adcb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kubrick-15.12.2.tar.xz">kubrick-15.12.2</a></td>
   <td align="right">104kB</td>
   <td><tt>fd2e556aa1ec04cd5c46c298d1e73789ed3712cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kuser-15.12.2.tar.xz">kuser-15.12.2</a></td>
   <td align="right">132kB</td>
   <td><tt>d9fdb338252cee8188268d9dd3a0ba9e224ac52f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kwalletmanager-15.12.2.tar.xz">kwalletmanager-15.12.2</a></td>
   <td align="right">446kB</td>
   <td><tt>b8be8c26b129cf62d3d339063a94e30200566a2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kwordquiz-15.12.2.tar.xz">kwordquiz-15.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>222c4519b7955d86206a2a2f55079be881ea17d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkcddb-15.12.2.tar.xz">libkcddb-15.12.2</a></td>
   <td align="right">154kB</td>
   <td><tt>e176c912e30ef067db53975c8aebbd977ec84c99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkcompactdisc-15.12.2.tar.xz">libkcompactdisc-15.12.2</a></td>
   <td align="right">74kB</td>
   <td><tt>fe9a8d61226782c03d3984f8f2ee70c12a4cb801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkdcraw-15.12.2.tar.xz">libkdcraw-15.12.2</a></td>
   <td align="right">41kB</td>
   <td><tt>70e762a1a45816464ea763947caa109bd4f9639a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkdeedu-15.12.2.tar.xz">libkdeedu-15.12.2</a></td>
   <td align="right">128kB</td>
   <td><tt>318c936aa5399376d4d90e677a25f5a023ab6815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkdegames-15.12.2.tar.xz">libkdegames-15.12.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>07c5a633d438729ebe406ac95c3696633664abd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkeduvocdocument-15.12.2.tar.xz">libkeduvocdocument-15.12.2</a></td>
   <td align="right">96kB</td>
   <td><tt>311a683b8b7a8aa2f8cab6dfb35fbaf914625e88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkexiv2-15.12.2.tar.xz">libkexiv2-15.12.2</a></td>
   <td align="right">63kB</td>
   <td><tt>32c858759c0b81ac2d111cb354fc974e4ff35421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkface-15.12.2.tar.xz">libkface-15.12.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>374d960f3c4072c2268547c6fe11d111d8e4bce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkgeomap-15.12.2.tar.xz">libkgeomap-15.12.2</a></td>
   <td align="right">122kB</td>
   <td><tt>b82f25787be514a7570b0dc1ceddb7576a31c965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkipi-15.12.2.tar.xz">libkipi-15.12.2</a></td>
   <td align="right">96kB</td>
   <td><tt>abcd26f841bc9024616fdac4c8d45a150bc8431a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkmahjongg-15.12.2.tar.xz">libkmahjongg-15.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9702ba67cbf562f5363da77e28bea44cd2242a0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libkomparediff2-15.12.2.tar.xz">libkomparediff2-15.12.2</a></td>
   <td align="right">55kB</td>
   <td><tt>3ba6b1c56250319bcee275ede0929e3f0f31fc69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/libksane-15.12.2.tar.xz">libksane-15.12.2</a></td>
   <td align="right">79kB</td>
   <td><tt>e7e1060f5c303dda15e8203b95c612f904711d0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/lokalize-15.12.2.tar.xz">lokalize-15.12.2</a></td>
   <td align="right">932kB</td>
   <td><tt>7e252c7fe03af5328296284217906c8bad937918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/lskat-15.12.2.tar.xz">lskat-15.12.2</a></td>
   <td align="right">907kB</td>
   <td><tt>69300d624b91d1b6181425809ed810af9a16001f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/marble-15.12.2.tar.xz">marble-15.12.2</a></td>
   <td align="right">22MB</td>
   <td><tt>beb20f9850aa40d389fbcfc05e691e9e6bcbb598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/mplayerthumbs-15.12.2.tar.xz">mplayerthumbs-15.12.2</a></td>
   <td align="right">26kB</td>
   <td><tt>63d1c6b5941d06049cd7e98fae56b8c5ef363edf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/okteta-15.12.2.tar.xz">okteta-15.12.2</a></td>
   <td align="right">493kB</td>
   <td><tt>40a1ee3554b97993a2081d37060de11beb9f2b45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/okular-15.12.2.tar.xz">okular-15.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>35585ee2a040ea8d55dbc5db9ac038cb9b901708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/palapeli-15.12.2.tar.xz">palapeli-15.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d37b2f86ca2491103d1635e7e3d89085b29a5583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/parley-15.12.2.tar.xz">parley-15.12.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>75d221d471de6b230418ca251c66fff0a2d6f99e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/picmi-15.12.2.tar.xz">picmi-15.12.2</a></td>
   <td align="right">717kB</td>
   <td><tt>af4137462567551a507acdc9227fe962ca6521a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/poxml-15.12.2.tar.xz">poxml-15.12.2</a></td>
   <td align="right">31kB</td>
   <td><tt>9fa07dc08fab4ff15ae695ab1319352d539d286f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/print-manager-15.12.2.tar.xz">print-manager-15.12.2</a></td>
   <td align="right">91kB</td>
   <td><tt>a6c351e8144f9ac459c862d6ce5ce1b0400c534b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/rocs-15.12.2.tar.xz">rocs-15.12.2</a></td>
   <td align="right">520kB</td>
   <td><tt>cf07f2e90402c1c64cc369b0b8c7e2eeb301eb7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/signon-kwallet-extension-15.12.2.tar.xz">signon-kwallet-extension-15.12.2</a></td>
   <td align="right">10kB</td>
   <td><tt>69e69b4b8064f241931b8c2a553d579e769a8bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/spectacle-15.12.2.tar.xz">spectacle-15.12.2</a></td>
   <td align="right">959kB</td>
   <td><tt>3a99450aa51329ff94995bddc8d61eeed76bcd64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/step-15.12.2.tar.xz">step-15.12.2</a></td>
   <td align="right">379kB</td>
   <td><tt>b33d6c5dd1f15c2f5c6f71c2fc909ef951abd8bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/svgpart-15.12.2.tar.xz">svgpart-15.12.2</a></td>
   <td align="right">8kB</td>
   <td><tt>b79f091db3383209d9cc875677707603897258e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/sweeper-15.12.2.tar.xz">sweeper-15.12.2</a></td>
   <td align="right">80kB</td>
   <td><tt>76c2188f2d9ed1a64144391b6748038a909a29fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/syndication-15.12.2.tar.xz">syndication-15.12.2</a></td>
   <td align="right">156kB</td>
   <td><tt>3159073e0d082336cf535980fda7953ad540aa65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/umbrello-15.12.2.tar.xz">umbrello-15.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2940ad9818f30dd48cf36fc8b25db4992191cc84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/zeroconf-ioslave-15.12.2.tar.xz">zeroconf-ioslave-15.12.2</a></td>
   <td align="right">25kB</td>
   <td><tt>a24da6fb02d3382b0d580c84265307267fdd1c78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-ar-15.12.2.tar.xz">kde-l10n-ar-15.12.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>41b89168a4af307eb1a0f92d928ba1779cc7e4b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-bg-15.12.2.tar.xz">kde-l10n-bg-15.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a54b1fba4c1bf9a02b8f5360247c03f1aadf8bd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-bs-15.12.2.tar.xz">kde-l10n-bs-15.12.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>e80840b13b28b3e60593c0493bed1e1962e5aa15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-ca-15.12.2.tar.xz">kde-l10n-ca-15.12.2</a></td>
   <td align="right">11MB</td>
   <td><tt>06f4af6087d2dc5c97b4430f5f5526541c2fb58e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-ca@valencia-15.12.2.tar.xz">kde-l10n-ca@valencia-15.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>00dfff9cb6272a710b27e8842be3c6f82964fd96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-cs-15.12.2.tar.xz">kde-l10n-cs-15.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>fdf2c322a7c22076e07ab2e70cdad815f3ecd381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-da-15.12.2.tar.xz">kde-l10n-da-15.12.2</a></td>
   <td align="right">12MB</td>
   <td><tt>55871373c3d637d6c70602ac3d222d6044e8892d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-de-15.12.2.tar.xz">kde-l10n-de-15.12.2</a></td>
   <td align="right">34MB</td>
   <td><tt>8b1158decf9e7e11e738067fa172a78e164873f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-el-15.12.2.tar.xz">kde-l10n-el-15.12.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>25a14e3ffa35d6f25e26b6993725099114305e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-en_GB-15.12.2.tar.xz">kde-l10n-en_GB-15.12.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5a8c5fd00449cdf63e79e3b3412c78e6e1137ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-eo-15.12.2.tar.xz">kde-l10n-eo-15.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>fd7f8edf25fa9fd6bbd4ed8cb9fac4399037b477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-es-15.12.2.tar.xz">kde-l10n-es-15.12.2</a></td>
   <td align="right">20MB</td>
   <td><tt>90bfc66cf1b1fe2f6ffbf07d011d7a007790b962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-et-15.12.2.tar.xz">kde-l10n-et-15.12.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>09d318553018ff370d4397f7686e27654e77b48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-eu-15.12.2.tar.xz">kde-l10n-eu-15.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>dd58803fa6c9504c26b28f23d571e7ef9e358c61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-fa-15.12.2.tar.xz">kde-l10n-fa-15.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>719bc4b8e5c18d27d6da8f6f642c2db1ce0ee83c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-fi-15.12.2.tar.xz">kde-l10n-fi-15.12.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3881c2edd4551e2b090443e903a2de328bd4352a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-fr-15.12.2.tar.xz">kde-l10n-fr-15.12.2</a></td>
   <td align="right">45MB</td>
   <td><tt>a428cce7ba1ad409a830e489c46589e3d1e66ae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-ga-15.12.2.tar.xz">kde-l10n-ga-15.12.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>acb12adceaaef2367424bfcbbb207efb35412d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-gl-15.12.2.tar.xz">kde-l10n-gl-15.12.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>7d16aed58309e2ae11e18181af3df47cf719a618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-he-15.12.2.tar.xz">kde-l10n-he-15.12.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>01e9c36ca9d2d77e786bbdcf8221646694cf1d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-hi-15.12.2.tar.xz">kde-l10n-hi-15.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d62af44455cd5f2611b03e769037ef35b7f3cde5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-hr-15.12.2.tar.xz">kde-l10n-hr-15.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ada4e233771502ee54cbb35d76b1ee0fbf4b2dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-hu-15.12.2.tar.xz">kde-l10n-hu-15.12.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>0020560fa307dcd859a3cd0f0fbbb614724f2b00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-ia-15.12.2.tar.xz">kde-l10n-ia-15.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5c5ca4211c9203cce6daf3294aa282869c8e77a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-id-15.12.2.tar.xz">kde-l10n-id-15.12.2</a></td>
   <td align="right">545kB</td>
   <td><tt>427c7a304d3f603a5ee35ae254f43b37d8ea8052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-is-15.12.2.tar.xz">kde-l10n-is-15.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>725ad998890b0a383f88470652f4d8fb2c5dfa34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-it-15.12.2.tar.xz">kde-l10n-it-15.12.2</a></td>
   <td align="right">8.3MB</td>
   <td><tt>dcbd00081aa3846b5093793db6cc8330eebf32f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-ja-15.12.2.tar.xz">kde-l10n-ja-15.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>568b3adbea893814dfb589b4125f1eb4c746d1cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-kk-15.12.2.tar.xz">kde-l10n-kk-15.12.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0b52693e5842e6e553741a885094c25fd01b4caf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-km-15.12.2.tar.xz">kde-l10n-km-15.12.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b15a587d1effa397440f643de61b10faf94a2f30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-ko-15.12.2.tar.xz">kde-l10n-ko-15.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>036661425243ee2fa892250319f9344e03dd721e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-lt-15.12.2.tar.xz">kde-l10n-lt-15.12.2</a></td>
   <td align="right">12MB</td>
   <td><tt>0eff2d6446cf393ab332b6e7bf0f8bf3b0b654c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-lv-15.12.2.tar.xz">kde-l10n-lv-15.12.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>51d2d1fb52128ffdf6cd04987f88e517c8a1bd34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-mr-15.12.2.tar.xz">kde-l10n-mr-15.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>707be35afe909b1300e6254efd52ef11bf28116e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-nb-15.12.2.tar.xz">kde-l10n-nb-15.12.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c2af5f6038bc63a54ddac9f33474d12b796e9904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-nds-15.12.2.tar.xz">kde-l10n-nds-15.12.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>c0ee58a0520a5a01c39b812ee1a49936300d10c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-nl-15.12.2.tar.xz">kde-l10n-nl-15.12.2</a></td>
   <td align="right">13MB</td>
   <td><tt>bbed07a7ef49abcccf003960bfa4f79e5722c7af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-nn-15.12.2.tar.xz">kde-l10n-nn-15.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b14b1602956eedbe8eb8c1a842c9e9bfd089ab2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-pa-15.12.2.tar.xz">kde-l10n-pa-15.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a409f2d2252d823dfa13da1baf62412ab264f037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-pl-15.12.2.tar.xz">kde-l10n-pl-15.12.2</a></td>
   <td align="right">18MB</td>
   <td><tt>55a264a6ab6291fbbccb6c3083aa3cd220c90418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-pt-15.12.2.tar.xz">kde-l10n-pt-15.12.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>de7a304283ffc5af996a619b6937180da01b1c0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-pt_BR-15.12.2.tar.xz">kde-l10n-pt_BR-15.12.2</a></td>
   <td align="right">20MB</td>
   <td><tt>52a7a1fc0676d930accbe77bce3ed99ae6c054a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-ro-15.12.2.tar.xz">kde-l10n-ro-15.12.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9e9b894bfe8ad701ebee7516fd525f98fce1bb22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-ru-15.12.2.tar.xz">kde-l10n-ru-15.12.2</a></td>
   <td align="right">22MB</td>
   <td><tt>c90611be79d33934560cfbb312f3aeda4dc7221e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-sk-15.12.2.tar.xz">kde-l10n-sk-15.12.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>40e2c55d6931fbee7bbf8593ce229a5fddc1ea52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-sl-15.12.2.tar.xz">kde-l10n-sl-15.12.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>9de6abf744d9b8ad8e0b89ea3a8239f77c918ac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-sr-15.12.2.tar.xz">kde-l10n-sr-15.12.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>e34c644fe8824b8d8f0968d8d7d2d286523967ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-sv-15.12.2.tar.xz">kde-l10n-sv-15.12.2</a></td>
   <td align="right">11MB</td>
   <td><tt>24d4452856268a26f09f319e751ddf0769642456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-tr-15.12.2.tar.xz">kde-l10n-tr-15.12.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>fa8145da62ee315c27d24e7fc6ea1694c81777e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-ug-15.12.2.tar.xz">kde-l10n-ug-15.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3cab70c32e307392b2c13b5297d9207c68ad71d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-uk-15.12.2.tar.xz">kde-l10n-uk-15.12.2</a></td>
   <td align="right">25MB</td>
   <td><tt>e90fe66c0de7334dd594e6e3983cfc3dcdd092ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-wa-15.12.2.tar.xz">kde-l10n-wa-15.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3671325b9ef23c8f06265e7834a4c6bab520dc48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-zh_CN-15.12.2.tar.xz">kde-l10n-zh_CN-15.12.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>50fe4b98d888e98546761facfec926e1ac94fac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.2/src/kde-l10n/kde-l10n-zh_TW-15.12.2.tar.xz">kde-l10n-zh_TW-15.12.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>bd9a6bf477d29de51927c329d84782504cf7df80</tt></td>
</tr>

</table>
