<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/akonadi-17.03.90.tar.xz">akonadi-17.03.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>cc487ee579c2084244fa51d66440f1e269dbf0fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/akonadi-calendar-17.03.90.tar.xz">akonadi-calendar-17.03.90</a></td>
   <td align="right">272kB</td>
   <td><tt>4feca27de71793e0dc4d666af2f2ff6825930da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/akonadi-calendar-tools-17.03.90.tar.xz">akonadi-calendar-tools-17.03.90</a></td>
   <td align="right">216kB</td>
   <td><tt>0a1ad1e25b159bcf91e997df05e3349cc05bbbac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/akonadiconsole-17.03.90.tar.xz">akonadiconsole-17.03.90</a></td>
   <td align="right">180kB</td>
   <td><tt>c5b7e5aa9107f2440f97d6dd3ececc0e080d3e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/akonadi-contacts-17.03.90.tar.xz">akonadi-contacts-17.03.90</a></td>
   <td align="right">339kB</td>
   <td><tt>18886e8bfa07b49e834887acda3a4b0d5d33c7af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/akonadi-import-wizard-17.03.90.tar.xz">akonadi-import-wizard-17.03.90</a></td>
   <td align="right">423kB</td>
   <td><tt>d2ee22dc92e4d7c5b763e29fd0c6c35721b1ae68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/akonadi-mime-17.03.90.tar.xz">akonadi-mime-17.03.90</a></td>
   <td align="right">127kB</td>
   <td><tt>f76927950b9e57beff899b0f123dd84921b304e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/akonadi-notes-17.03.90.tar.xz">akonadi-notes-17.03.90</a></td>
   <td align="right">24kB</td>
   <td><tt>11aa990dd3f43951ba47f0cbf53780478f2206b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/akonadi-search-17.03.90.tar.xz">akonadi-search-17.03.90</a></td>
   <td align="right">76kB</td>
   <td><tt>a8061fcda827f3e35ff7912386e771e7bd751558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/akregator-17.03.90.tar.xz">akregator-17.03.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5b7d637e3198e3bdb767750f3bd1934c9b2b39ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/analitza-17.03.90.tar.xz">analitza-17.03.90</a></td>
   <td align="right">320kB</td>
   <td><tt>25c31e14425326e6ba88c6d87b39b0ceaeffe726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ark-17.03.90.tar.xz">ark-17.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8aab803fe5dca8028ff5d4c2784628a80506662b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/artikulate-17.03.90.tar.xz">artikulate-17.03.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>a3862d00b67618dcb010d38b9ed3d12218fe7195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/audiocd-kio-17.03.90.tar.xz">audiocd-kio-17.03.90</a></td>
   <td align="right">243kB</td>
   <td><tt>8e5b6780c59c2040e9e8ce1bbd23069709530990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/baloo-widgets-17.03.90.tar.xz">baloo-widgets-17.03.90</a></td>
   <td align="right">148kB</td>
   <td><tt>defea46f87b799dc46d749f1490e4da462351230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/blinken-17.03.90.tar.xz">blinken-17.03.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b308f3b689f3acef9a655a11c744e366b2ea39c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/blogilo-17.03.90.tar.xz">blogilo-17.03.90</a></td>
   <td align="right">785kB</td>
   <td><tt>bd28e6dfd7739ef08f22bd1964d37e47329cd1e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/bomber-17.03.90.tar.xz">bomber-17.03.90</a></td>
   <td align="right">736kB</td>
   <td><tt>f0936707e3329473bc2934c563d7a3d528dd04b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/bovo-17.03.90.tar.xz">bovo-17.03.90</a></td>
   <td align="right">180kB</td>
   <td><tt>8052c45729e6a1b87fd6cd5ed456fca01bcfa218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/calendarsupport-17.03.90.tar.xz">calendarsupport-17.03.90</a></td>
   <td align="right">656kB</td>
   <td><tt>d0d749e6366fb64560629fca508955c82131fbbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/cantor-17.03.90.tar.xz">cantor-17.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d679392a9b96100bbc5ff73303f95751d3840c78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/cervisia-17.03.90.tar.xz">cervisia-17.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5ce5fe163c4d6e0658528602798f4ad0faadc708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/dolphin-17.03.90.tar.xz">dolphin-17.03.90</a></td>
   <td align="right">4.4MB</td>
   <td><tt>91536ac0ab14c7e8e6cd76772e63015497e91026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/dolphin-plugins-17.03.90.tar.xz">dolphin-plugins-17.03.90</a></td>
   <td align="right">181kB</td>
   <td><tt>4eee328f38110af866388cadf86278421f240bf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/dragon-17.03.90.tar.xz">dragon-17.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a23190beae5300b8ee7252c26f4aa34a16df65ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/eventviews-17.03.90.tar.xz">eventviews-17.03.90</a></td>
   <td align="right">424kB</td>
   <td><tt>517a25eebfe177c1c74c7a72b8078c3755fe860d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ffmpegthumbs-17.03.90.tar.xz">ffmpegthumbs-17.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>fe5852054182af7c825de1a2097ea562d6e037e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/filelight-17.03.90.tar.xz">filelight-17.03.90</a></td>
   <td align="right">638kB</td>
   <td><tt>cdc80a168c7c63e9263407b24a09931a128c7fb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/granatier-17.03.90.tar.xz">granatier-17.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9a28ee36df76c17cfbd8b15e7d1c6561399b9d81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/grantlee-editor-17.03.90.tar.xz">grantlee-editor-17.03.90</a></td>
   <td align="right">108kB</td>
   <td><tt>524526ef741284e1e00ac485884be87365b89f8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/grantleetheme-17.03.90.tar.xz">grantleetheme-17.03.90</a></td>
   <td align="right">49kB</td>
   <td><tt>a9b5c80f7d13fc9edb33c798448c7f0ee3695b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/gwenview-17.03.90.tar.xz">gwenview-17.03.90</a></td>
   <td align="right">5.6MB</td>
   <td><tt>70271c2ee183f874eccd16832a89e0918024f803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/incidenceeditor-17.03.90.tar.xz">incidenceeditor-17.03.90</a></td>
   <td align="right">510kB</td>
   <td><tt>c24d2cf4aa8387f1c078ad3c014d57d08d422a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/jovie-17.03.90.tar.xz">jovie-17.03.90</a></td>
   <td align="right">385kB</td>
   <td><tt>2f2a0f2211ccaf525193534b8fc63739e7352f7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/juk-17.03.90.tar.xz">juk-17.03.90</a></td>
   <td align="right">435kB</td>
   <td><tt>301ef79674e54ec75179c9a23109e35526a56b08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/k3b-17.03.90.tar.xz">k3b-17.03.90</a></td>
   <td align="right">10MB</td>
   <td><tt>0b91072f7d2c5b03b4945d0aa4da3fd33800da3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kaccessible-17.03.90.tar.xz">kaccessible-17.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>10062486c890d956c9a06dd8c46dde715d417432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kaccounts-integration-17.03.90.tar.xz">kaccounts-integration-17.03.90</a></td>
   <td align="right">67kB</td>
   <td><tt>e95cc2a507b54832e537d5a84e7827fee23f1b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kaccounts-providers-17.03.90.tar.xz">kaccounts-providers-17.03.90</a></td>
   <td align="right">30kB</td>
   <td><tt>5dd00b5e3c8bdc50a207a99432aea682d7602bcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kaddressbook-17.03.90.tar.xz">kaddressbook-17.03.90</a></td>
   <td align="right">548kB</td>
   <td><tt>93abfbdcffcd936591e75e3b9cb5849043675770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kajongg-17.03.90.tar.xz">kajongg-17.03.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>6fa964dec4fff79c5a2a129d97f62ed92865b4ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kalarm-17.03.90.tar.xz">kalarm-17.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d6aa44eab6016845687147c74e433e05a01326c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kalarmcal-17.03.90.tar.xz">kalarmcal-17.03.90</a></td>
   <td align="right">492kB</td>
   <td><tt>a89bebe4f6750ae748009cfa74ca3101032e4103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kalgebra-17.03.90.tar.xz">kalgebra-17.03.90</a></td>
   <td align="right">673kB</td>
   <td><tt>07edb81bf1aca261ac66e6f49cdb767172a31d67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kalzium-17.03.90.tar.xz">kalzium-17.03.90</a></td>
   <td align="right">23MB</td>
   <td><tt>d7c1135fe6def5ff46aa5752b1effe4a9ff8bf2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kamera-17.03.90.tar.xz">kamera-17.03.90</a></td>
   <td align="right">94kB</td>
   <td><tt>8ed98a1c569cb6fa2eef348de4d062dbcff014b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kanagram-17.03.90.tar.xz">kanagram-17.03.90</a></td>
   <td align="right">7.2MB</td>
   <td><tt>190c24e67aff3cce733563ae02954b7acbec9cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kapman-17.03.90.tar.xz">kapman-17.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b0345c3704fc8221b28988699c1d82405adcdae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kapptemplate-17.03.90.tar.xz">kapptemplate-17.03.90</a></td>
   <td align="right">482kB</td>
   <td><tt>41d854829cb7b88ef0f4deff41d7ca5154e9ae0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kate-17.03.90.tar.xz">kate-17.03.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>f0382cb63efbe256654806ff39167cad5e472d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/katomic-17.03.90.tar.xz">katomic-17.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ac416fcd904594f69d05813a8676b4e739ee31fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kblackbox-17.03.90.tar.xz">kblackbox-17.03.90</a></td>
   <td align="right">392kB</td>
   <td><tt>cc42a33795c8a5a896a8bfcfdb38da8056725f83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kblocks-17.03.90.tar.xz">kblocks-17.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a60eb797b3c216d78bd07ff7c4ab80e812625482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kblog-17.03.90.tar.xz">kblog-17.03.90</a></td>
   <td align="right">70kB</td>
   <td><tt>c8b0b8bd49a8eb36d264347790287655a1077b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kbounce-17.03.90.tar.xz">kbounce-17.03.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>eff3354c512fd564c966aa9be88b1ff80bd77cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kbreakout-17.03.90.tar.xz">kbreakout-17.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>41156ad64cab5e234acc9c6bf70c443a9180ae37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kbruch-17.03.90.tar.xz">kbruch-17.03.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>26663982868a70c5e3977c64dcbbbce721a72a40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kcachegrind-17.03.90.tar.xz">kcachegrind-17.03.90</a></td>
   <td align="right">780kB</td>
   <td><tt>cdb96203dd6239e07fa2cad6c512527be0735676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kcalc-17.03.90.tar.xz">kcalc-17.03.90</a></td>
   <td align="right">354kB</td>
   <td><tt>4b178c7be17752aea06d787364221ee81df75b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kcalcore-17.03.90.tar.xz">kcalcore-17.03.90</a></td>
   <td align="right">286kB</td>
   <td><tt>9b27470dab21a8db460e02759cb56a0825677f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kcalutils-17.03.90.tar.xz">kcalutils-17.03.90</a></td>
   <td align="right">319kB</td>
   <td><tt>f5a397ba87762afe75e73c4603e83e9a5dc804fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kcharselect-17.03.90.tar.xz">kcharselect-17.03.90</a></td>
   <td align="right">342kB</td>
   <td><tt>7a6bee504bca210ba6b39b7ba9397638be524cdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kcolorchooser-17.03.90.tar.xz">kcolorchooser-17.03.90</a></td>
   <td align="right">15kB</td>
   <td><tt>0bb77b90266352c4b3241a2a51c8089d63236a36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kcontacts-17.03.90.tar.xz">kcontacts-17.03.90</a></td>
   <td align="right">202kB</td>
   <td><tt>daeb2550674998d9b5dc7d570f3fd65b7f854ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kcron-17.03.90.tar.xz">kcron-17.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>27f385edb940611a80d3307c3495d7a087aad4cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdav-17.03.90.tar.xz">kdav-17.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>f185839f8a450569e6b490e290c998021f1ad362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdebugsettings-17.03.90.tar.xz">kdebugsettings-17.03.90</a></td>
   <td align="right">45kB</td>
   <td><tt>c2b8a08295e90b635af8cfcd1f86f9c5453bfa1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-dev-scripts-17.03.90.tar.xz">kde-dev-scripts-17.03.90</a></td>
   <td align="right">307kB</td>
   <td><tt>9c8daf5ad4e194226d0836ce1dd97d4625a504b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-dev-utils-17.03.90.tar.xz">kde-dev-utils-17.03.90</a></td>
   <td align="right">51kB</td>
   <td><tt>0729ec30a3699e70ad839f47ab3672418540c434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdeedu-data-17.03.90.tar.xz">kdeedu-data-17.03.90</a></td>
   <td align="right">779kB</td>
   <td><tt>185b549b4f5232fa18eb9caf7b4d7c79e236cf28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdegraphics-mobipocket-17.03.90.tar.xz">kdegraphics-mobipocket-17.03.90</a></td>
   <td align="right">13kB</td>
   <td><tt>581ebcea34971b5c0a883653b0726f695a79b666</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdegraphics-thumbnailers-17.03.90.tar.xz">kdegraphics-thumbnailers-17.03.90</a></td>
   <td align="right">40kB</td>
   <td><tt>ebbb171304000655357357543c9a8cc1ff33cf0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdenetwork-filesharing-17.03.90.tar.xz">kdenetwork-filesharing-17.03.90</a></td>
   <td align="right">328kB</td>
   <td><tt>03ea23dbf637b3912ab4455eb0fcd11db54da62a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdenlive-17.03.90.tar.xz">kdenlive-17.03.90</a></td>
   <td align="right">8.9MB</td>
   <td><tt>cba0a0791cf775bac900c3c2ec258b993b61978b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdepim-addons-17.03.90.tar.xz">kdepim-addons-17.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>78f6a4dc3568f5866b968bd87522ef3d554f02d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdepim-apps-libs-17.03.90.tar.xz">kdepim-apps-libs-17.03.90</a></td>
   <td align="right">71kB</td>
   <td><tt>c321d5772451d88f9f9d7649d0ec960be56e8a24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdepim-runtime-17.03.90.tar.xz">kdepim-runtime-17.03.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5fc5a21974baf5648a484ec45458609814efeb3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-runtime-17.03.90.tar.xz">kde-runtime-17.03.90</a></td>
   <td align="right">7.5MB</td>
   <td><tt>8d06e5b112edf2e44d5cc015e5fbc216be6d31e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdesdk-kioslaves-17.03.90.tar.xz">kdesdk-kioslaves-17.03.90</a></td>
   <td align="right">40kB</td>
   <td><tt>0f05f11927454dffed47b5fca73cc6d3c82c0607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdesdk-thumbnailers-17.03.90.tar.xz">kdesdk-thumbnailers-17.03.90</a></td>
   <td align="right">16kB</td>
   <td><tt>ebbf0eae2c2b85f5472f492dd664d43664f86f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdf-17.03.90.tar.xz">kdf-17.03.90</a></td>
   <td align="right">517kB</td>
   <td><tt>87c0cd36de5d167ca7c962ec1cab12b0e23b5ef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdialog-17.03.90.tar.xz">kdialog-17.03.90</a></td>
   <td align="right">90kB</td>
   <td><tt>3e0ca5fab7e192e45c5b0db30e74d3f18575ed76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kdiamond-17.03.90.tar.xz">kdiamond-17.03.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>320b0a160bd294cb581bc8e7811673bb779aa6ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/keditbookmarks-17.03.90.tar.xz">keditbookmarks-17.03.90</a></td>
   <td align="right">178kB</td>
   <td><tt>535a1433d2a91a840ff180f6a350f8dd61f47530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kfilereplace-17.03.90.tar.xz">kfilereplace-17.03.90</a></td>
   <td align="right">745kB</td>
   <td><tt>2f60dd10feb73e3f9fc4f4c99d8087a17be3c2a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kfind-17.03.90.tar.xz">kfind-17.03.90</a></td>
   <td align="right">205kB</td>
   <td><tt>1c155ad6af402ef53148310f4ac1e85fb7b68140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kfloppy-17.03.90.tar.xz">kfloppy-17.03.90</a></td>
   <td align="right">194kB</td>
   <td><tt>48d58b5fe5dde93cb8e5d1b7c3c8d2a6d437be2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kfourinline-17.03.90.tar.xz">kfourinline-17.03.90</a></td>
   <td align="right">560kB</td>
   <td><tt>585384102df22a21b91c364ec9a22f468e889efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kgeography-17.03.90.tar.xz">kgeography-17.03.90</a></td>
   <td align="right">10MB</td>
   <td><tt>1e09563020d71ae84b0f781a43ae216c2d2a1918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kget-17.03.90.tar.xz">kget-17.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ff2169a3ca7d2122c4af13902cbbcbd9fcf51c78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kgoldrunner-17.03.90.tar.xz">kgoldrunner-17.03.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>184649367771e0996cef20b69d4bfc0e1fcda6fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kgpg-17.03.90.tar.xz">kgpg-17.03.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9aae00db45dec669b9eb5be14fae3c024224b607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/khangman-17.03.90.tar.xz">khangman-17.03.90</a></td>
   <td align="right">5.9MB</td>
   <td><tt>2dc91187792842bb27626ede87101af3cc8a573b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/khelpcenter-17.03.90.tar.xz">khelpcenter-17.03.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>9b881e75b463a32e657f319d3caace863be8e399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kholidays-17.03.90.tar.xz">kholidays-17.03.90</a></td>
   <td align="right">217kB</td>
   <td><tt>609aa611e800e31bd224af9da77fe047a8975662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kidentitymanagement-17.03.90.tar.xz">kidentitymanagement-17.03.90</a></td>
   <td align="right">144kB</td>
   <td><tt>bef4bb9882d2e03ba042c763dbea779ddeabc648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kig-17.03.90.tar.xz">kig-17.03.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>7161e0a69fddadb71e7aa12f8583469515f94e35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kigo-17.03.90.tar.xz">kigo-17.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6454710b4a19035dbbb85c6ae4354e978c82d738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/killbots-17.03.90.tar.xz">killbots-17.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e1d20f52a388fbfe39307da526407ceed38fb13b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kimagemapeditor-17.03.90.tar.xz">kimagemapeditor-17.03.90</a></td>
   <td align="right">397kB</td>
   <td><tt>db5fa8979ecea44f8abff9917237215163bf1eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kimap-17.03.90.tar.xz">kimap-17.03.90</a></td>
   <td align="right">116kB</td>
   <td><tt>50842ba789a2f58a15720d65e78afbb0b0d025da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kio-extras-17.03.90.tar.xz">kio-extras-17.03.90</a></td>
   <td align="right">539kB</td>
   <td><tt>126161244d62e00a0f26b0713bb3e0675eee55f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kiriki-17.03.90.tar.xz">kiriki-17.03.90</a></td>
   <td align="right">318kB</td>
   <td><tt>0fa5cf1e4c036336149ba76814de3bef253dd065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kiten-17.03.90.tar.xz">kiten-17.03.90</a></td>
   <td align="right">11MB</td>
   <td><tt>7652fe894f3e77ec0d561de57fa8295fbd26ceb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kjumpingcube-17.03.90.tar.xz">kjumpingcube-17.03.90</a></td>
   <td align="right">285kB</td>
   <td><tt>6baaba998efddf5a0e34bcb13d5817d80686cd0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kldap-17.03.90.tar.xz">kldap-17.03.90</a></td>
   <td align="right">150kB</td>
   <td><tt>1340ef0195c519866f8c248896640c679a5caaee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kleopatra-17.03.90.tar.xz">kleopatra-17.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>40699e35bb875abffc1b32c821cb2049ad5bdb5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/klettres-17.03.90.tar.xz">klettres-17.03.90</a></td>
   <td align="right">20MB</td>
   <td><tt>719233022cf09c387910a0e90b95abb4d5dfecc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/klickety-17.03.90.tar.xz">klickety-17.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e8cd8618b78e5691b9e7c078c89c719297334bb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/klines-17.03.90.tar.xz">klines-17.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9e8220ea79661ba1aa3356932076b76ddb76e2d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/klinkstatus-17.03.90.tar.xz">klinkstatus-17.03.90</a></td>
   <td align="right">440kB</td>
   <td><tt>91ced36b4a7666943dc858f9de834cffcfd2c388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmag-17.03.90.tar.xz">kmag-17.03.90</a></td>
   <td align="right">84kB</td>
   <td><tt>3eb7b135813c357550b2816572a9d43ca894dd99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmahjongg-17.03.90.tar.xz">kmahjongg-17.03.90</a></td>
   <td align="right">3.8MB</td>
   <td><tt>7352ab3a80dac4ab3884c233e49d661e259464e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmail-17.03.90.tar.xz">kmail-17.03.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>f0733ffbe53d2b311d9edb94e4e2e443987edf96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmail-account-wizard-17.03.90.tar.xz">kmail-account-wizard-17.03.90</a></td>
   <td align="right">146kB</td>
   <td><tt>2523dc7c0c0453aeec1dc0600f1bb0df53ab3dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmailtransport-17.03.90.tar.xz">kmailtransport-17.03.90</a></td>
   <td align="right">223kB</td>
   <td><tt>c471a49445bdeb83ef4b108583a21809e279369f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmbox-17.03.90.tar.xz">kmbox-17.03.90</a></td>
   <td align="right">24kB</td>
   <td><tt>21bbe89e388b8ff46d642842b0a773fe6867b5af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmime-17.03.90.tar.xz">kmime-17.03.90</a></td>
   <td align="right">141kB</td>
   <td><tt>414e993c153dba88eb14534409ed53b7aa9e2082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmines-17.03.90.tar.xz">kmines-17.03.90</a></td>
   <td align="right">862kB</td>
   <td><tt>57b87ca71bf9d1378e8a3a29d505a2d73aa5d31d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmix-17.03.90.tar.xz">kmix-17.03.90</a></td>
   <td align="right">379kB</td>
   <td><tt>6d794473a48c125a493a71d8d9ba58b441f0e951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmousetool-17.03.90.tar.xz">kmousetool-17.03.90</a></td>
   <td align="right">35kB</td>
   <td><tt>957c6b75925bc0cd1bc5e57eea70f70ef33c4a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmouth-17.03.90.tar.xz">kmouth-17.03.90</a></td>
   <td align="right">271kB</td>
   <td><tt>57a8edceda303eb853e75032b83ed0cac9724e0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kmplot-17.03.90.tar.xz">kmplot-17.03.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>c3e3434771f7cd3fd8a1087ebba50ab5546da44d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/knavalbattle-17.03.90.tar.xz">knavalbattle-17.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4e50c2700ada04d81004fbd80f23c7e003dd310e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/knetwalk-17.03.90.tar.xz">knetwalk-17.03.90</a></td>
   <td align="right">958kB</td>
   <td><tt>be77632d4f7794e70025501e508e18a441476a04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/knotes-17.03.90.tar.xz">knotes-17.03.90</a></td>
   <td align="right">326kB</td>
   <td><tt>d06f0572d09e934b7f7f3b44bb977444cdf38257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kolf-17.03.90.tar.xz">kolf-17.03.90</a></td>
   <td align="right">751kB</td>
   <td><tt>4e5c34739fb3ebd57443a6a9e828bcd22cf7372b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kollision-17.03.90.tar.xz">kollision-17.03.90</a></td>
   <td align="right">265kB</td>
   <td><tt>793bb3a0d7b78bc00ab4ad31f197dcd124a6f2f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kolourpaint-17.03.90.tar.xz">kolourpaint-17.03.90</a></td>
   <td align="right">5.2MB</td>
   <td><tt>c2591753a90fc484ad54f3ebc42ff58f3112d35d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kompare-17.03.90.tar.xz">kompare-17.03.90</a></td>
   <td align="right">691kB</td>
   <td><tt>224fe399ed53acb1eab66643dce1b2d8e9bf975f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/konqueror-17.03.90.tar.xz">konqueror-17.03.90</a></td>
   <td align="right">7.4MB</td>
   <td><tt>5826a9d97980968c9ecb1bead8396a3f2d290ecc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/konquest-17.03.90.tar.xz">konquest-17.03.90</a></td>
   <td align="right">396kB</td>
   <td><tt>b9d9ffa2c2f5c20958d4a8607cd2d77159dc9337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/konsole-17.03.90.tar.xz">konsole-17.03.90</a></td>
   <td align="right">984kB</td>
   <td><tt>0ed1743ebef7066c80463bcb2f67992612ce5f4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kontact-17.03.90.tar.xz">kontact-17.03.90</a></td>
   <td align="right">842kB</td>
   <td><tt>db8d52b30d4698ab74fd1e473eaf6dad0ea7536a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kontactinterface-17.03.90.tar.xz">kontactinterface-17.03.90</a></td>
   <td align="right">31kB</td>
   <td><tt>a7a3892facb61f9bd0d1ad12c69163f5b123f9bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kopete-17.03.90.tar.xz">kopete-17.03.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>c43446985b28d17161b4ed67f77fff9173167277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/korganizer-17.03.90.tar.xz">korganizer-17.03.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c7d5b876bf32703dd163d667a593ffa688b18fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kpat-17.03.90.tar.xz">kpat-17.03.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>dae6a68471a78a8b72ce95772a2d736973a8adb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kpimtextedit-17.03.90.tar.xz">kpimtextedit-17.03.90</a></td>
   <td align="right">135kB</td>
   <td><tt>548f6f977ee73d1d9084c4ed7dfdded3ae6d0067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kppp-17.03.90.tar.xz">kppp-17.03.90</a></td>
   <td align="right">684kB</td>
   <td><tt>5218de49a97eb1a9d08684ca29a0d4faf07a5636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kqtquickcharts-17.03.90.tar.xz">kqtquickcharts-17.03.90</a></td>
   <td align="right">24kB</td>
   <td><tt>d085359e5036cc3e1223021301d22cc9b178849b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/krdc-17.03.90.tar.xz">krdc-17.03.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>71259b8b46770acbd7b42583db5cc09f276ba579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kremotecontrol-17.03.90.tar.xz">kremotecontrol-17.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7c46dff28fde2e56f6cec125932839bcda568998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kreversi-17.03.90.tar.xz">kreversi-17.03.90</a></td>
   <td align="right">463kB</td>
   <td><tt>eead6109dd9456cb2616c2f8ca4423899f196f73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/krfb-17.03.90.tar.xz">krfb-17.03.90</a></td>
   <td align="right">960kB</td>
   <td><tt>0eb426ca7e4ae387e996b366f415b39f6ef8a7d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kross-interpreters-17.03.90.tar.xz">kross-interpreters-17.03.90</a></td>
   <td align="right">141kB</td>
   <td><tt>c87f4ac986cb78c42cf9bd7c6e03af9af879172a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kruler-17.03.90.tar.xz">kruler-17.03.90</a></td>
   <td align="right">263kB</td>
   <td><tt>0acea996a76ca372f42253355b66607e8baf7aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ksaneplugin-17.03.90.tar.xz">ksaneplugin-17.03.90</a></td>
   <td align="right">12kB</td>
   <td><tt>2c74e1468c2795d4657fa28f2977ff81151983da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kscd-17.03.90.tar.xz">kscd-17.03.90</a></td>
   <td align="right">90kB</td>
   <td><tt>15aebf58ec8f9b14f2a917728c7e354a07d72459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kshisen-17.03.90.tar.xz">kshisen-17.03.90</a></td>
   <td align="right">692kB</td>
   <td><tt>7ae84d103f04e13b3c596f5111625f07048e9b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ksirk-17.03.90.tar.xz">ksirk-17.03.90</a></td>
   <td align="right">5.2MB</td>
   <td><tt>1c3efdcfeb28ccbd7e0cedc11032a57cd113ba38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ksnakeduel-17.03.90.tar.xz">ksnakeduel-17.03.90</a></td>
   <td align="right">291kB</td>
   <td><tt>86e60c4000069c217ced30272e71096781fa374c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kspaceduel-17.03.90.tar.xz">kspaceduel-17.03.90</a></td>
   <td align="right">247kB</td>
   <td><tt>ab4bcfc419240e8a441d601d5f09e466421d2f85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ksquares-17.03.90.tar.xz">ksquares-17.03.90</a></td>
   <td align="right">210kB</td>
   <td><tt>51ebebcd06a9653a8ab9c66284a6dd6cb4ef8979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kstars-17.03.90.tar.xz">kstars-17.03.90</a></td>
   <td align="right">58MB</td>
   <td><tt>963d81357c8eb14410926b8dabeb87638a8e05b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ksudoku-17.03.90.tar.xz">ksudoku-17.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e41101cdc414feae26ef1d5c8218433dbf1916fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ksystemlog-17.03.90.tar.xz">ksystemlog-17.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>cecc57d486c28b78be17c647c4d250adedaf6d89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kteatime-17.03.90.tar.xz">kteatime-17.03.90</a></td>
   <td align="right">289kB</td>
   <td><tt>37e059069ed1d298a8659be180041e938b16abab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktimer-17.03.90.tar.xz">ktimer-17.03.90</a></td>
   <td align="right">440kB</td>
   <td><tt>2e43497f671e672b66fa37e8dd85b3e312788ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktnef-17.03.90.tar.xz">ktnef-17.03.90</a></td>
   <td align="right">293kB</td>
   <td><tt>c529a6a62790aae1d3ef5138cc970c37e8aa500e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktouch-17.03.90.tar.xz">ktouch-17.03.90</a></td>
   <td align="right">4.8MB</td>
   <td><tt>f46d63b744d46e1fad90e1e7512687f6b0b728d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-accounts-kcm-17.03.90.tar.xz">ktp-accounts-kcm-17.03.90</a></td>
   <td align="right">257kB</td>
   <td><tt>4b03aa27a99cd8637c882256ff1ee856c3dc0894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-approver-17.03.90.tar.xz">ktp-approver-17.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>40929b12f2d8ab89e1a70670dc985cb91e2e21c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-auth-handler-17.03.90.tar.xz">ktp-auth-handler-17.03.90</a></td>
   <td align="right">45kB</td>
   <td><tt>2948e7bd701ae1410b9f4c66a36a8f149050da02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-call-ui-17.03.90.tar.xz">ktp-call-ui-17.03.90</a></td>
   <td align="right">94kB</td>
   <td><tt>dafa7a4c4b243878590a64893e45a136b4ba6768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-common-internals-17.03.90.tar.xz">ktp-common-internals-17.03.90</a></td>
   <td align="right">431kB</td>
   <td><tt>018a6639774055709eaf76c88fb21b5761e7ab98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-contact-list-17.03.90.tar.xz">ktp-contact-list-17.03.90</a></td>
   <td align="right">129kB</td>
   <td><tt>c52d61ad660ed49a560e1d7d10fe03f579b56a1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-contact-runner-17.03.90.tar.xz">ktp-contact-runner-17.03.90</a></td>
   <td align="right">39kB</td>
   <td><tt>ae214f93a4bd0fba66a9c567abb6fb49e8731786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-desktop-applets-17.03.90.tar.xz">ktp-desktop-applets-17.03.90</a></td>
   <td align="right">41kB</td>
   <td><tt>51b1ba8916f362554630547c60408453321aba29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-filetransfer-handler-17.03.90.tar.xz">ktp-filetransfer-handler-17.03.90</a></td>
   <td align="right">45kB</td>
   <td><tt>03b9f81be731cd33c12d904047bedc36a538a910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-kded-module-17.03.90.tar.xz">ktp-kded-module-17.03.90</a></td>
   <td align="right">79kB</td>
   <td><tt>d263729a9e726728ac2da584368fb933f99c9e8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-send-file-17.03.90.tar.xz">ktp-send-file-17.03.90</a></td>
   <td align="right">28kB</td>
   <td><tt>ed847109699f6398a0059a16630ef9f4d1c4783e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktp-text-ui-17.03.90.tar.xz">ktp-text-ui-17.03.90</a></td>
   <td align="right">456kB</td>
   <td><tt>2be872dbdd161abcdb4ad173ab64e1a2dfc383aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/ktuberling-17.03.90.tar.xz">ktuberling-17.03.90</a></td>
   <td align="right">31MB</td>
   <td><tt>419d7b05e873dda0d679ba5778dc56651cd71710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kturtle-17.03.90.tar.xz">kturtle-17.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>6e54c3974d96e6bb5ba4eeaeabfa1ce670eb006b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kubrick-17.03.90.tar.xz">kubrick-17.03.90</a></td>
   <td align="right">105kB</td>
   <td><tt>fda89ca0f2b847e5f2da1449060bd4c85d0920ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kwalletmanager-17.03.90.tar.xz">kwalletmanager-17.03.90</a></td>
   <td align="right">729kB</td>
   <td><tt>af0eb5b706622c1951ff25a109f064a5f06cedb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kwave-17.03.90.tar.xz">kwave-17.03.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>86fce7f56bdcc5227157f25fb8c6dc0fa0c3c55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kwordquiz-17.03.90.tar.xz">kwordquiz-17.03.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>c1e4050a48f0b84e0b53e5df82e50c8c3ae0eac0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libgravatar-17.03.90.tar.xz">libgravatar-17.03.90</a></td>
   <td align="right">27kB</td>
   <td><tt>da2cee32c1c4891a54e51dd2cd31ed0645162f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkcddb-17.03.90.tar.xz">libkcddb-17.03.90</a></td>
   <td align="right">415kB</td>
   <td><tt>41d7c488e940f00bb26a68c52037edd07b0b111a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkcompactdisc-17.03.90.tar.xz">libkcompactdisc-17.03.90</a></td>
   <td align="right">86kB</td>
   <td><tt>03a000ce56b596de57fa29e48bc181a8dc5ad789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkdcraw-17.03.90.tar.xz">libkdcraw-17.03.90</a></td>
   <td align="right">41kB</td>
   <td><tt>a9cabe66837e1c0ec65bf962a6085c062603748a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkdegames-17.03.90.tar.xz">libkdegames-17.03.90</a></td>
   <td align="right">5.6MB</td>
   <td><tt>e9c97c99368338c3dbd13b56f66e61433a2277e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkdepim-17.03.90.tar.xz">libkdepim-17.03.90</a></td>
   <td align="right">334kB</td>
   <td><tt>a2faa3ee8ac2fb7ddfc6e06450db8b8439c63120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkeduvocdocument-17.03.90.tar.xz">libkeduvocdocument-17.03.90</a></td>
   <td align="right">208kB</td>
   <td><tt>d3e05a3b7c0122d29053cb86d29ad4a6dcae34b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkexiv2-17.03.90.tar.xz">libkexiv2-17.03.90</a></td>
   <td align="right">63kB</td>
   <td><tt>208cfaa7d2f59e80dfdfa796d683998ca2f88939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkface-17.03.90.tar.xz">libkface-17.03.90</a></td>
   <td align="right">8.5MB</td>
   <td><tt>f1a8be5f41d2533ecea6eda9fea1e33c5c12a250</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkgapi-17.03.90.tar.xz">libkgapi-17.03.90</a></td>
   <td align="right">169kB</td>
   <td><tt>39f3bba336783a746f2758134672e7ee8418bf7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkgeomap-17.03.90.tar.xz">libkgeomap-17.03.90</a></td>
   <td align="right">146kB</td>
   <td><tt>737ce7d8238f61f1566de98cc6428f686c846b8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkipi-17.03.90.tar.xz">libkipi-17.03.90</a></td>
   <td align="right">101kB</td>
   <td><tt>eabf6b75f9bb7ce2dd98ed0ef22c2c5e6a83f139</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkleo-17.03.90.tar.xz">libkleo-17.03.90</a></td>
   <td align="right">284kB</td>
   <td><tt>df447fb469823bc643ab0b476958f35c2c794a9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkmahjongg-17.03.90.tar.xz">libkmahjongg-17.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>141413a96c47a690f26687154e6bbc139cedd7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libkomparediff2-17.03.90.tar.xz">libkomparediff2-17.03.90</a></td>
   <td align="right">175kB</td>
   <td><tt>31557b1b9351abbca3e4e0ebc2efe431bdf60bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libksane-17.03.90.tar.xz">libksane-17.03.90</a></td>
   <td align="right">134kB</td>
   <td><tt>5ea0b0ed780b2d2aa02de81048c05c72cd3a9035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/libksieve-17.03.90.tar.xz">libksieve-17.03.90</a></td>
   <td align="right">513kB</td>
   <td><tt>a8e6ca052f73481a23a4a30436c5ea02f4ba2541</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/lokalize-17.03.90.tar.xz">lokalize-17.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f4a981ba312426094cc45f40f84bc69f05bcdfc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/lskat-17.03.90.tar.xz">lskat-17.03.90</a></td>
   <td align="right">906kB</td>
   <td><tt>31efed8d56cc18a6045d4b109d267d204570077a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/mailcommon-17.03.90.tar.xz">mailcommon-17.03.90</a></td>
   <td align="right">645kB</td>
   <td><tt>58788724454c83b9efad1e4386f0d8717066d98c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/mailimporter-17.03.90.tar.xz">mailimporter-17.03.90</a></td>
   <td align="right">526kB</td>
   <td><tt>f40e88c0030de6c634002b0dc33e933c063381ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/marble-17.03.90.tar.xz">marble-17.03.90</a></td>
   <td align="right">49MB</td>
   <td><tt>cdb8e707b40124a1acf66f4fe36a4dd35a69622c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/mbox-importer-17.03.90.tar.xz">mbox-importer-17.03.90</a></td>
   <td align="right">32kB</td>
   <td><tt>b8209d7b54cd828548c92d3b33e53abe5302922a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/messagelib-17.03.90.tar.xz">messagelib-17.03.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>6960d1d1592b1f04726b0f24c306c926358e7867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/minuet-17.03.90.tar.xz">minuet-17.03.90</a></td>
   <td align="right">26MB</td>
   <td><tt>70565286b3548fd172f0874e640d7535fb70716b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/okteta-17.03.90.tar.xz">okteta-17.03.90</a></td>
   <td align="right">937kB</td>
   <td><tt>d428dd364a13b796556cc58c68eb2338ed9784f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/okular-17.03.90.tar.xz">okular-17.03.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>c2868b5df35742914d1c79ea3e80029d2a265300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/palapeli-17.03.90.tar.xz">palapeli-17.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>64fdf2c47ec040c7666f450862b6ced2db7c4d1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/parley-17.03.90.tar.xz">parley-17.03.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>854febc1d8ff41b5b36c30d2045b5131503acb51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/picmi-17.03.90.tar.xz">picmi-17.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e587e31ac86fdedca323292e23687d901600010d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/pimcommon-17.03.90.tar.xz">pimcommon-17.03.90</a></td>
   <td align="right">268kB</td>
   <td><tt>1785f2ad8d1761890fa42385e838f100b7b900ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/pim-data-exporter-17.03.90.tar.xz">pim-data-exporter-17.03.90</a></td>
   <td align="right">259kB</td>
   <td><tt>59e17091744c1d363b3b358ae6447a3349b90bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/pim-sieve-editor-17.03.90.tar.xz">pim-sieve-editor-17.03.90</a></td>
   <td align="right">427kB</td>
   <td><tt>76b4e309f3713a3d118a23d396907dd4e846118d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/poxml-17.03.90.tar.xz">poxml-17.03.90</a></td>
   <td align="right">42kB</td>
   <td><tt>00356255c83a2c8d389682f606482a22304d4bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/print-manager-17.03.90.tar.xz">print-manager-17.03.90</a></td>
   <td align="right">232kB</td>
   <td><tt>349dd9b744a0fcb2bdb719f0bc96b783acc7966f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/rocs-17.03.90.tar.xz">rocs-17.03.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3681671b9da82e52aebe60ec5d10956f8a0ea70c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/signon-kwallet-extension-17.03.90.tar.xz">signon-kwallet-extension-17.03.90</a></td>
   <td align="right">10kB</td>
   <td><tt>c95531b0ce2c2cc059947a4c4876dc02b66cc546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/spectacle-17.03.90.tar.xz">spectacle-17.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4905833c80b1b4d2b84d38bc9c461e7460af476d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/step-17.03.90.tar.xz">step-17.03.90</a></td>
   <td align="right">841kB</td>
   <td><tt>86cdba58d587d7bad1f27b31ec04ab126d3be130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/svgpart-17.03.90.tar.xz">svgpart-17.03.90</a></td>
   <td align="right">18kB</td>
   <td><tt>7281a9ea40e924222d9ae9dc2149951f129d510f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/sweeper-17.03.90.tar.xz">sweeper-17.03.90</a></td>
   <td align="right">80kB</td>
   <td><tt>f105a9edc237980c96c1f21c63a93da8568860f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/syndication-17.03.90.tar.xz">syndication-17.03.90</a></td>
   <td align="right">156kB</td>
   <td><tt>2d91c1b76b7aaa59498f5e97d9edbe78c86bfa4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/umbrello-17.03.90.tar.xz">umbrello-17.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2349d3163c2bf5f6c6ccb57f484efa1cf6f5954a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/zeroconf-ioslave-17.03.90.tar.xz">zeroconf-ioslave-17.03.90</a></td>
   <td align="right">25kB</td>
   <td><tt>56dd9ebaadc2d45f96c170689e5707f37bb52c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-ar-17.03.90.tar.xz">kde-l10n-ar-17.03.90</a></td>
   <td align="right">630kB</td>
   <td><tt>0b189d887503f06313afd10e7582abb3bcc24c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-ast-17.03.90.tar.xz">kde-l10n-ast-17.03.90</a></td>
   <td align="right">461kB</td>
   <td><tt>a8f5e6c2abed003ac486f7db3638975cf7b84d5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-bg-17.03.90.tar.xz">kde-l10n-bg-17.03.90</a></td>
   <td align="right">558kB</td>
   <td><tt>2732c749853a71db3a4e40895b08fa007557f8c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-bs-17.03.90.tar.xz">kde-l10n-bs-17.03.90</a></td>
   <td align="right">678kB</td>
   <td><tt>59df2af62431c367523358a9d54c8061e389c822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-ca-17.03.90.tar.xz">kde-l10n-ca-17.03.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>92d3d9179341a8c0537a70c905abd913b6391975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-ca@valencia-17.03.90.tar.xz">kde-l10n-ca@valencia-17.03.90</a></td>
   <td align="right">657kB</td>
   <td><tt>8315468d8e4a25bdf865e444d5e94c6e26fcfd88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-cs-17.03.90.tar.xz">kde-l10n-cs-17.03.90</a></td>
   <td align="right">626kB</td>
   <td><tt>609464b3a7b9afa3cf86a12959c26a8f6c5ff171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-da-17.03.90.tar.xz">kde-l10n-da-17.03.90</a></td>
   <td align="right">1009kB</td>
   <td><tt>6080bd9187934e93b9304d34870f069cbd8f1be1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-de-17.03.90.tar.xz">kde-l10n-de-17.03.90</a></td>
   <td align="right">5.9MB</td>
   <td><tt>70ad4ba6db7b04e5091fb0f691d60af5d5d8b115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-el-17.03.90.tar.xz">kde-l10n-el-17.03.90</a></td>
   <td align="right">841kB</td>
   <td><tt>1f7d7d896f62b1b1c96127d58bb314999d4ee99a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-en_GB-17.03.90.tar.xz">kde-l10n-en_GB-17.03.90</a></td>
   <td align="right">584kB</td>
   <td><tt>1e4fdfd20340bc44db92eb39f6309610d2c0eda1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-eo-17.03.90.tar.xz">kde-l10n-eo-17.03.90</a></td>
   <td align="right">569kB</td>
   <td><tt>c632b240619bb201e6ac2a8882b6471cd6df5d8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-es-17.03.90.tar.xz">kde-l10n-es-17.03.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>4d5849d5e33508be1d7e296910aff4ce7aabfdda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-et-17.03.90.tar.xz">kde-l10n-et-17.03.90</a></td>
   <td align="right">995kB</td>
   <td><tt>99b4ab9826a026e019dca25bb9f9753a96291029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-eu-17.03.90.tar.xz">kde-l10n-eu-17.03.90</a></td>
   <td align="right">650kB</td>
   <td><tt>624d7ce2c1d303b38a68aff977b88826c0452689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-fa-17.03.90.tar.xz">kde-l10n-fa-17.03.90</a></td>
   <td align="right">588kB</td>
   <td><tt>a56aaa5dce89a812c43378a1c0129ce0395ddf56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-fi-17.03.90.tar.xz">kde-l10n-fi-17.03.90</a></td>
   <td align="right">713kB</td>
   <td><tt>e9f970477b9b83b3b2433b2dd15a66d291965b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-fr-17.03.90.tar.xz">kde-l10n-fr-17.03.90</a></td>
   <td align="right">6.2MB</td>
   <td><tt>fc2f3983d7b48e5ccd600e7b6a39785cc973032e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-ga-17.03.90.tar.xz">kde-l10n-ga-17.03.90</a></td>
   <td align="right">617kB</td>
   <td><tt>4d5e1806d91a6478f42b170123a3da842498062a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-gl-17.03.90.tar.xz">kde-l10n-gl-17.03.90</a></td>
   <td align="right">809kB</td>
   <td><tt>c61694c4a80476c88756237af63ae9eb45c8f326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-he-17.03.90.tar.xz">kde-l10n-he-17.03.90</a></td>
   <td align="right">492kB</td>
   <td><tt>cc35b5e66120e36c0766647faeacc71f7b812ec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-hi-17.03.90.tar.xz">kde-l10n-hi-17.03.90</a></td>
   <td align="right">542kB</td>
   <td><tt>164c84982590801b77356631280fe498494a2675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-hr-17.03.90.tar.xz">kde-l10n-hr-17.03.90</a></td>
   <td align="right">550kB</td>
   <td><tt>8b0af93e7dbf4ec6086e12d5a7e6225896aad285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-hu-17.03.90.tar.xz">kde-l10n-hu-17.03.90</a></td>
   <td align="right">706kB</td>
   <td><tt>de7005e66f60af94da4c5f63bb4892b034d49557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-ia-17.03.90.tar.xz">kde-l10n-ia-17.03.90</a></td>
   <td align="right">469kB</td>
   <td><tt>d3c34b8c9317cd05d37db96de4067748404010f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-id-17.03.90.tar.xz">kde-l10n-id-17.03.90</a></td>
   <td align="right">184kB</td>
   <td><tt>1bb3f8c5b1a51393f6b560c5f9984445526d79f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-is-17.03.90.tar.xz">kde-l10n-is-17.03.90</a></td>
   <td align="right">534kB</td>
   <td><tt>cd4f1478767633a0a2356a7009223ad11990258b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-it-17.03.90.tar.xz">kde-l10n-it-17.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4de42f93fa968e5952c1438011ec044d8576217c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-ja-17.03.90.tar.xz">kde-l10n-ja-17.03.90</a></td>
   <td align="right">605kB</td>
   <td><tt>33412d647b27d6b5df525c67562debcbbe176a20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-kk-17.03.90.tar.xz">kde-l10n-kk-17.03.90</a></td>
   <td align="right">700kB</td>
   <td><tt>817cbe0169f6997e598eb05fe010acbd5358c6da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-km-17.03.90.tar.xz">kde-l10n-km-17.03.90</a></td>
   <td align="right">641kB</td>
   <td><tt>93867ba58fe7f2b9dd934a0ca654fd12eb09a9ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-ko-17.03.90.tar.xz">kde-l10n-ko-17.03.90</a></td>
   <td align="right">533kB</td>
   <td><tt>dff831b1d04ac5fc8bb06f39b629194723156cdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-lt-17.03.90.tar.xz">kde-l10n-lt-17.03.90</a></td>
   <td align="right">600kB</td>
   <td><tt>f233990aa1b16df6412c5a6b419cb82b53c59022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-lv-17.03.90.tar.xz">kde-l10n-lv-17.03.90</a></td>
   <td align="right">625kB</td>
   <td><tt>a723104ce22ba455ea93589916d49a478ddca583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-mr-17.03.90.tar.xz">kde-l10n-mr-17.03.90</a></td>
   <td align="right">512kB</td>
   <td><tt>2f2c4493e0d08d6de178946434ea9eaf912bb0da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-nb-17.03.90.tar.xz">kde-l10n-nb-17.03.90</a></td>
   <td align="right">672kB</td>
   <td><tt>a5f1dd312bac6cea7007547b33ccc65e535e7822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-nds-17.03.90.tar.xz">kde-l10n-nds-17.03.90</a></td>
   <td align="right">733kB</td>
   <td><tt>1112d63b14076babba46ec9b3439efb4fcbbc2a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-nl-17.03.90.tar.xz">kde-l10n-nl-17.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>625796b9d777d7aec0d7f5ef856b224a1f990953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-nn-17.03.90.tar.xz">kde-l10n-nn-17.03.90</a></td>
   <td align="right">619kB</td>
   <td><tt>2a31e6497a2254b1c925e90f5d03615018bc9568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-pa-17.03.90.tar.xz">kde-l10n-pa-17.03.90</a></td>
   <td align="right">505kB</td>
   <td><tt>949bc61acda7764657147857cf8fe52b4200025c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-pl-17.03.90.tar.xz">kde-l10n-pl-17.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b8e507c642e486b05cbf4f3b6c05fcd2f9f97bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-pt-17.03.90.tar.xz">kde-l10n-pt-17.03.90</a></td>
   <td align="right">1016kB</td>
   <td><tt>c3edf6a3f52a45d2eddb59625b3e99532cb3bb15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-pt_BR-17.03.90.tar.xz">kde-l10n-pt_BR-17.03.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>24976c8248c5427adf447caec7738d30ee4b796e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-ro-17.03.90.tar.xz">kde-l10n-ro-17.03.90</a></td>
   <td align="right">696kB</td>
   <td><tt>c3c6d155f2cf3cdf4e0b4b03af91d6605d0fdc7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-ru-17.03.90.tar.xz">kde-l10n-ru-17.03.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9d5e13b4827b54cba26fda97672b434db83dd88d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-sk-17.03.90.tar.xz">kde-l10n-sk-17.03.90</a></td>
   <td align="right">661kB</td>
   <td><tt>ee06ab05c4733001e27d39279d0fd005835fa22b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-sl-17.03.90.tar.xz">kde-l10n-sl-17.03.90</a></td>
   <td align="right">710kB</td>
   <td><tt>237f1cb47c8a399559e330db44569cbab87d598c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-sr-17.03.90.tar.xz">kde-l10n-sr-17.03.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5fe5a166da551d5a5e9357efdcc54bf1cdd6395e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-sv-17.03.90.tar.xz">kde-l10n-sv-17.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>37b75be95887c7122fe49e3a0ebacc9027ae26f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-tr-17.03.90.tar.xz">kde-l10n-tr-17.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d583f7b554bb397bc00d2f777689423e7e06daae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-ug-17.03.90.tar.xz">kde-l10n-ug-17.03.90</a></td>
   <td align="right">529kB</td>
   <td><tt>fcf0923697f5d13471e8b29d3043c9c5858d53a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-uk-17.03.90.tar.xz">kde-l10n-uk-17.03.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>699ebaa44311b20d4fe179c686e0581863c695e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-wa-17.03.90.tar.xz">kde-l10n-wa-17.03.90</a></td>
   <td align="right">403kB</td>
   <td><tt>a8ceea7d3c6c523ae4bf2febfbfd652184cc5816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-zh_CN-17.03.90.tar.xz">kde-l10n-zh_CN-17.03.90</a></td>
   <td align="right">652kB</td>
   <td><tt>9be80fb53953ef514862ca89d6548bc833f2d0ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/17.03.90/src/kde-l10n/kde-l10n-zh_TW-17.03.90.tar.xz">kde-l10n-zh_TW-17.03.90</a></td>
   <td align="right">714kB</td>
   <td><tt>89f247556de909eeeeb5dc9073d96132661fcbf1</tt></td>
</tr>

</table>
