<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/accessibility-inspector-24.11.90.tar.xz">accessibility-inspector-24.11.90</a></td>
   <td align="right">84kB</td>
   <td><tt>db3805ecbf4ff5e9b10ffb3b5e2763ac0df6b2eeafbebf579844e6ca199113d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/akonadi-24.11.90.tar.xz">akonadi-24.11.90</a></td>
   <td align="right">1669kB</td>
   <td><tt>328980de43072a7845a217ce7ce427b52c298ef22b585c88d98fcb52c79034a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/akonadi-calendar-24.11.90.tar.xz">akonadi-calendar-24.11.90</a></td>
   <td align="right">512kB</td>
   <td><tt>6e19979b7c597147477a432e579c7a6bb92c6d0555f2db5c1ff31a9bdeb8be4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/akonadi-calendar-tools-24.11.90.tar.xz">akonadi-calendar-tools-24.11.90</a></td>
   <td align="right">263kB</td>
   <td><tt>301b3330ad70185408a77df7517b5a7a0e7927a9897a8f9d91d4be43fa4716a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/akonadiconsole-24.11.90.tar.xz">akonadiconsole-24.11.90</a></td>
   <td align="right">306kB</td>
   <td><tt>bef3e4d62a4d3de0da4d49d7641b4326d91441d47954a82c5eedf5352bec14c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/akonadi-contacts-24.11.90.tar.xz">akonadi-contacts-24.11.90</a></td>
   <td align="right">426kB</td>
   <td><tt>5fa12e15d31acac59508cf87a3fd5726ea784a4f5a549950e07698784212a6c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/akonadi-import-wizard-24.11.90.tar.xz">akonadi-import-wizard-24.11.90</a></td>
   <td align="right">480kB</td>
   <td><tt>9d5515abaebd8c3260e8c6250af45933b5592f56f7fe8067d0732ebdedc8e762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/akonadi-mime-24.11.90.tar.xz">akonadi-mime-24.11.90</a></td>
   <td align="right">171kB</td>
   <td><tt>62906faebe7fe66498d96ee6c0bfee2c937f8f29c7efb73361d4bd2a52ea65d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/akonadi-search-24.11.90.tar.xz">akonadi-search-24.11.90</a></td>
   <td align="right">110kB</td>
   <td><tt>d931581aa0b8ae9445ebcf5395b88b4b641d44a63510611aaf5112594e5e1210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/akregator-24.11.90.tar.xz">akregator-24.11.90</a></td>
   <td align="right">2083kB</td>
   <td><tt>44f9bdf2c84128c6e467f292db343b74ca1f5910f13bd9441d2d9eccc24e6e82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/alligator-24.11.90.tar.xz">alligator-24.11.90</a></td>
   <td align="right">191kB</td>
   <td><tt>9a5855b757b0b52a2449d7671bae7cd5ca1fdd11e26c131379a98404634513c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/analitza-24.11.90.tar.xz">analitza-24.11.90</a></td>
   <td align="right">351kB</td>
   <td><tt>cf1a87ee6b2d6b90d5b8e5fbe51db4a6275fc70e0e4f6ec7089e5980f256f461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/angelfish-24.11.90.tar.xz">angelfish-24.11.90</a></td>
   <td align="right">268kB</td>
   <td><tt>320dba658539562430229762212862a5740db08a54bbc52f4c2d932f8a2250f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/arianna-24.11.90.tar.xz">arianna-24.11.90</a></td>
   <td align="right">801kB</td>
   <td><tt>8d5550aad6d4ce9ea3c9eec1523aac020e7e93fb3cc890282e3a4254692b9607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ark-24.11.90.tar.xz">ark-24.11.90</a></td>
   <td align="right">2939kB</td>
   <td><tt>b177b477a108b0949c2c0939f73864f9db34e86986bae917688a71743c0cd7b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/artikulate-24.11.90.tar.xz">artikulate-24.11.90</a></td>
   <td align="right">1029kB</td>
   <td><tt>5821bfeed17bd250164dcb0df0fd185e60f38f14a8307d6e977fd00974a9468f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/audex-24.11.90.tar.xz">audex-24.11.90</a></td>
   <td align="right">697kB</td>
   <td><tt>8bda99c18dd0b5b5083f7dcbba5d961796fd9e33d9f33a9b1c242aacd7399a64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/audiocd-kio-24.11.90.tar.xz">audiocd-kio-24.11.90</a></td>
   <td align="right">566kB</td>
   <td><tt>ad306751c4bcdaabd0107d8bbb82f89a48eb945845961649279514e24345aeef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/audiotube-24.11.90.tar.xz">audiotube-24.11.90</a></td>
   <td align="right">152kB</td>
   <td><tt>575cc8abc6b1363c8865690e2b85b9d030d4b6efb7ac680767a3c2fb46b6fe16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/baloo-widgets-24.11.90.tar.xz">baloo-widgets-24.11.90</a></td>
   <td align="right">271kB</td>
   <td><tt>b22519c35aefe4179d30f43286aab23b76f8bc5da49dbe36114dafbcda3bb825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/blinken-24.11.90.tar.xz">blinken-24.11.90</a></td>
   <td align="right">2613kB</td>
   <td><tt>0e24fc1b0b761d3329054a30c7b162133e80b3fc4dddf4e2cfd901cda1fb2c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/bomber-24.11.90.tar.xz">bomber-24.11.90</a></td>
   <td align="right">819kB</td>
   <td><tt>2ea442c243bda80d13feabfaa3edaf3a680dbe8a45e6f6781b9b3ce1da57c3b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/bovo-24.11.90.tar.xz">bovo-24.11.90</a></td>
   <td align="right">215kB</td>
   <td><tt>3eba5e614edc81737d699ff72a6c0c06746a6c6ede9b5d84dac6eac61e740e0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/calendarsupport-24.11.90.tar.xz">calendarsupport-24.11.90</a></td>
   <td align="right">974kB</td>
   <td><tt>6def85c94a91fa8922023b0cfd4374ffb6375aa4834b2267f4bae8ff913fea7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/calindori-24.11.90.tar.xz">calindori-24.11.90</a></td>
   <td align="right">387kB</td>
   <td><tt>4c4ab4d0bc56caeadfa9c4758d5fb7354bbb2f9b4a442ef0ab191025736a26da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/calligra-24.11.90.tar.xz">calligra-24.11.90</a></td>
   <td align="right">56545kB</td>
   <td><tt>6ec15dc5313f9aa76c52ff4f176ce6966cae1f2f5f620a8ffbee7b73e9e07cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/cantor-24.11.90.tar.xz">cantor-24.11.90</a></td>
   <td align="right">10610kB</td>
   <td><tt>6e4625bbcca37ebebfa0d5d23c9302ede681173781f82b48d63f74e665ac4812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/cervisia-24.11.90.tar.xz">cervisia-24.11.90</a></td>
   <td align="right">1767kB</td>
   <td><tt>99f548354c71fb92cf5484925eb2195606a86b9aca393f738c6131454c2860e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/colord-kde-24.11.90.tar.xz">colord-kde-24.11.90</a></td>
   <td align="right">115kB</td>
   <td><tt>236914db860ffa345e9128d721300eece9115a395e85a84f3f8381023ea99f05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/dolphin-24.11.90.tar.xz">dolphin-24.11.90</a></td>
   <td align="right">5546kB</td>
   <td><tt>7ab1c053f26dac7b02692f23e8a55c86fdfec1dc47dd1f16979ecd5f3eafa92b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/dolphin-plugins-24.11.90.tar.xz">dolphin-plugins-24.11.90</a></td>
   <td align="right">311kB</td>
   <td><tt>20d9e25814710f16b4858ac79ff3d263e92dcd77d37fa89c6c764b4f8bd8190f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/dragon-24.11.90.tar.xz">dragon-24.11.90</a></td>
   <td align="right">1787kB</td>
   <td><tt>d9d66515bafd9de09f6c5df52bf38b2c82f791810f02947476437ed06fba13b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/elisa-24.11.90.tar.xz">elisa-24.11.90</a></td>
   <td align="right">1879kB</td>
   <td><tt>2a9c428af2a8a0598578bf26cccf058ebaa2a45007814b00a1af683ab7546f42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/eventviews-24.11.90.tar.xz">eventviews-24.11.90</a></td>
   <td align="right">485kB</td>
   <td><tt>46098d43780fb5367d3705a7f476fd7d2f52f52ce6f4e408cbe2f9081c108dc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/falkon-24.11.90.tar.xz">falkon-24.11.90</a></td>
   <td align="right">2589kB</td>
   <td><tt>9816cb72a38e0537d9d5dd2ad75d423a5882959295523017f41f35dbfb7a0c64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ffmpegthumbs-24.11.90.tar.xz">ffmpegthumbs-24.11.90</a></td>
   <td align="right">32kB</td>
   <td><tt>7a4e93b150d4d38f5cadb1a7a01e24967a34c94842d4b8eb788d554652c55704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/filelight-24.11.90.tar.xz">filelight-24.11.90</a></td>
   <td align="right">670kB</td>
   <td><tt>a9d335b437c5b4bf3e74992847cee1d761ab0da7d4981f56be925587549389a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/francis-24.11.90.tar.xz">francis-24.11.90</a></td>
   <td align="right">111kB</td>
   <td><tt>928e6b3737075aa3fc08f307dce0cd87f700f5f58bed2ea20306172dcd68eebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ghostwriter-24.11.90.tar.xz">ghostwriter-24.11.90</a></td>
   <td align="right">2645kB</td>
   <td><tt>a24573abfaabd55ceda53729b9341b1d536382b404bdfb56abc8554aec37f898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/granatier-24.11.90.tar.xz">granatier-24.11.90</a></td>
   <td align="right">1966kB</td>
   <td><tt>35dbee71f025802b70dcfe0151217ee4e978d385ddc1e593c5f8ec90bee665b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/grantlee-editor-24.11.90.tar.xz">grantlee-editor-24.11.90</a></td>
   <td align="right">121kB</td>
   <td><tt>4b0a6b7923e99767e51490f31e84b35b183d5d90e1ee7426310c3bbef78d3637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/grantleetheme-24.11.90.tar.xz">grantleetheme-24.11.90</a></td>
   <td align="right">62kB</td>
   <td><tt>2270a37690f99777db315ccc08fc7425ccfda4673b87c6987be07832676aee32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/gwenview-24.11.90.tar.xz">gwenview-24.11.90</a></td>
   <td align="right">6372kB</td>
   <td><tt>a3dd2f8db5dcb0d60608664a30752675a1a6617159697a411f108afd5b756730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/incidenceeditor-24.11.90.tar.xz">incidenceeditor-24.11.90</a></td>
   <td align="right">574kB</td>
   <td><tt>6b901b1bde2f1fdbd55ccfc666834bfc5b06868ffb442266c34ac0e1d0fe7c2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/isoimagewriter-24.11.90.tar.xz">isoimagewriter-24.11.90</a></td>
   <td align="right">457kB</td>
   <td><tt>3492518c836451f88bbf25222cb6989019cd68cd6d9bd9bb470139758216a9ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/itinerary-24.11.90.tar.xz">itinerary-24.11.90</a></td>
   <td align="right">749kB</td>
   <td><tt>052db9abd5235b33c96953b093a3999572b2f7d98cba0515f872a6e14134ab6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/juk-24.11.90.tar.xz">juk-24.11.90</a></td>
   <td align="right">1865kB</td>
   <td><tt>9f1f8de1afbe3cdc17724e63ae9908daa631694a21236dd0f3d8b8737bcd8504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/k3b-24.11.90.tar.xz">k3b-24.11.90</a></td>
   <td align="right">10446kB</td>
   <td><tt>7b3c44a94c20dd9e4ae827987d8dee9f6855cf81e678fe81f3ed4c555ae8fd79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kaccounts-integration-24.11.90.tar.xz">kaccounts-integration-24.11.90</a></td>
   <td align="right">91kB</td>
   <td><tt>5ee479410c5d1c97a4c62af78f4ae631688d7ac1d5632912d70ef3e5a32a8724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kaccounts-providers-24.11.90.tar.xz">kaccounts-providers-24.11.90</a></td>
   <td align="right">67kB</td>
   <td><tt>897c0f04c549f623c7b72ad5e356bd4f34ce98fbde1e89963134e1650e7c70ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kaddressbook-24.11.90.tar.xz">kaddressbook-24.11.90</a></td>
   <td align="right">3349kB</td>
   <td><tt>2803207d979e8eb1d7a999ca547456e06690a9761dd85ee35d1daca7ad6be7b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kajongg-24.11.90.tar.xz">kajongg-24.11.90</a></td>
   <td align="right">4510kB</td>
   <td><tt>498c90a46b2d1a7be78f70879fa0f91a0ead93913eb84c21760ffb34caf8c3ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kalarm-24.11.90.tar.xz">kalarm-24.11.90</a></td>
   <td align="right">2573kB</td>
   <td><tt>416031c618d6dbf97bb0990a412f0b33ddae797c85e67e15148bd88376b5527f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kalgebra-24.11.90.tar.xz">kalgebra-24.11.90</a></td>
   <td align="right">926kB</td>
   <td><tt>9eaa92bbe99b9e1fe458d7f0056bace79a96b3062cb3f5ebd9eea92f8c649495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kalk-24.11.90.tar.xz">kalk-24.11.90</a></td>
   <td align="right">75kB</td>
   <td><tt>399f3a0bf580c36e4bcf1db3582fc910e238b48e120d7c70c105896776f64688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kalm-24.11.90.tar.xz">kalm-24.11.90</a></td>
   <td align="right">88kB</td>
   <td><tt>f989c61812198a170b0c2302f6a63035d195e7b2a26424faa0552a59bcda2678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kalzium-24.11.90.tar.xz">kalzium-24.11.90</a></td>
   <td align="right">22150kB</td>
   <td><tt>e5038173bf5a3e6a425aa46123db2dbe4f7bf1f1876160c36b1c53483818fe76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kamera-24.11.90.tar.xz">kamera-24.11.90</a></td>
   <td align="right">128kB</td>
   <td><tt>6c511536ffdb5753f545c33d14eb0f1c112fcb66758bde97c59e9823a4f1b58b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kamoso-24.11.90.tar.xz">kamoso-24.11.90</a></td>
   <td align="right">229kB</td>
   <td><tt>fe9c6722f67e922b1c8d3c2c925fcebfe8b5bb527a443cfdb542bbea3f0b9da2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kanagram-24.11.90.tar.xz">kanagram-24.11.90</a></td>
   <td align="right">7601kB</td>
   <td><tt>20f6985930d153a6305dcf9a4a63aa532f90be81cecc16955182054d1c8d96e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kapman-24.11.90.tar.xz">kapman-24.11.90</a></td>
   <td align="right">2098kB</td>
   <td><tt>1a15d8ae667ad514dffe69d5becdee413f8a3fc187b57585155f26cb5d90cfe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kapptemplate-24.11.90.tar.xz">kapptemplate-24.11.90</a></td>
   <td align="right">464kB</td>
   <td><tt>7e9405c5c574606b3b9791a39a28bd002ba3b0d67b00b6fcb5a38e2072e00654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kasts-24.11.90.tar.xz">kasts-24.11.90</a></td>
   <td align="right">611kB</td>
   <td><tt>259ef1432e309e30cd28fc6e90c1f5b66ff756a7082636dd6a28992e793c5ed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kate-24.11.90.tar.xz">kate-24.11.90</a></td>
   <td align="right">8105kB</td>
   <td><tt>68c4607384967444a77f6f132d1baa6a3fa936a7ac143a746043479761788f38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/katomic-24.11.90.tar.xz">katomic-24.11.90</a></td>
   <td align="right">1414kB</td>
   <td><tt>f6a71e9f4628222344bdfce9b66eb99c5c520ef2dd86e31d153ddbdce74198e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kbackup-24.11.90.tar.xz">kbackup-24.11.90</a></td>
   <td align="right">379kB</td>
   <td><tt>63442fd332ae893df67d9ea0c1689d2c6b07fbeeeb038f45b3cc30184e76583c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kblackbox-24.11.90.tar.xz">kblackbox-24.11.90</a></td>
   <td align="right">538kB</td>
   <td><tt>600953010bc85017f4b3fa8a3a571330bc368abae64a7656de2564fb380a89b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kblocks-24.11.90.tar.xz">kblocks-24.11.90</a></td>
   <td align="right">2053kB</td>
   <td><tt>2f43b03d52e046f07b53271b5d2eef8d667ef7a84bea15467b72841a3f183786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kbounce-24.11.90.tar.xz">kbounce-24.11.90</a></td>
   <td align="right">3245kB</td>
   <td><tt>be10d63a79d57190ba24582cf54c18531315c5b7f519405802436d0041428d9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kbreakout-24.11.90.tar.xz">kbreakout-24.11.90</a></td>
   <td align="right">2496kB</td>
   <td><tt>f29daf6b867f4b442ffcee1a2175cffc4fe8768c69b5ca10956321c6684a4200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kbruch-24.11.90.tar.xz">kbruch-24.11.90</a></td>
   <td align="right">5036kB</td>
   <td><tt>ef1b59834f4f7b49e27e601cd109fc177bbfb7992bdb649178de4375f2c69fd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kcachegrind-24.11.90.tar.xz">kcachegrind-24.11.90</a></td>
   <td align="right">953kB</td>
   <td><tt>c98f1739108b0d0c400fb322948d6d47dcbc8eca6bdd3d2bfa37dcb3f732ed3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kcalc-24.11.90.tar.xz">kcalc-24.11.90</a></td>
   <td align="right">459kB</td>
   <td><tt>24221105bc8f1ef0c3695def9e1f14145035f9c7ad6d9387b5f92dd72e2001cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kcalutils-24.11.90.tar.xz">kcalutils-24.11.90</a></td>
   <td align="right">346kB</td>
   <td><tt>b179cd2371a5c2a3ed7874db3a01c366be14e864b2680ccc5cfdbd1b2a8c3287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kcharselect-24.11.90.tar.xz">kcharselect-24.11.90</a></td>
   <td align="right">465kB</td>
   <td><tt>232dfb00c78898025c1b2e437de1ef7c25a37069c804ecd31b16d7b9a06b724a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kclock-24.11.90.tar.xz">kclock-24.11.90</a></td>
   <td align="right">646kB</td>
   <td><tt>75447e61190490270ddf7d461452f8a0a683d48400a4de9329c44e0c1d119277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kcolorchooser-24.11.90.tar.xz">kcolorchooser-24.11.90</a></td>
   <td align="right">35kB</td>
   <td><tt>25f82da2376a71a28949a67478f332f4e24932d714b7ae0db324f1708b6e5612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kcron-24.11.90.tar.xz">kcron-24.11.90</a></td>
   <td align="right">875kB</td>
   <td><tt>5bf8037aa7de0ac0547c53e45b9e544826d1239e358641e3537b5fa6017fa027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdebugsettings-24.11.90.tar.xz">kdebugsettings-24.11.90</a></td>
   <td align="right">114kB</td>
   <td><tt>9d0bdee6a954c1c2a9bd72ec99654ea504db62ef1a01363c6a828fef39cdb7ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdeconnect-kde-24.11.90.tar.xz">kdeconnect-kde-24.11.90</a></td>
   <td align="right">697kB</td>
   <td><tt>f9dc368419d2c914e07ebeeb60d1c4abaf2b6c7674ce16c8e9fdf40a6bee49c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kde-dev-scripts-24.11.90.tar.xz">kde-dev-scripts-24.11.90</a></td>
   <td align="right">367kB</td>
   <td><tt>1650f4eade30b6572bf852935d099d16f60d5cc8b01c22c32b21a256f39a0c6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kde-dev-utils-24.11.90.tar.xz">kde-dev-utils-24.11.90</a></td>
   <td align="right">73kB</td>
   <td><tt>733f1637126a95448d80221c9f0adb174d57a215e23c8f98a0538a66c253721b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdeedu-data-24.11.90.tar.xz">kdeedu-data-24.11.90</a></td>
   <td align="right">330kB</td>
   <td><tt>963a6181afbd0b3e792f370488f92e10243926520b333c0d2ffb13af381d2408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdegraphics-mobipocket-24.11.90.tar.xz">kdegraphics-mobipocket-24.11.90</a></td>
   <td align="right">12kB</td>
   <td><tt>d2836b002dcbbf3c6e7f7095bb987535bead06e11989a0c3121aff6ac7f1978b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdegraphics-thumbnailers-24.11.90.tar.xz">kdegraphics-thumbnailers-24.11.90</a></td>
   <td align="right">48kB</td>
   <td><tt>886cd850dcf692bea4877442590795f17f2a1eaac7d9dbb37fb46e89d2bde7e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kde-inotify-survey-24.11.90.tar.xz">kde-inotify-survey-24.11.90</a></td>
   <td align="right">230kB</td>
   <td><tt>186bf7717a3953463790e0fbfd0f7ccba194c32a5e298505a63ded0c4e541715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdenetwork-filesharing-24.11.90.tar.xz">kdenetwork-filesharing-24.11.90</a></td>
   <td align="right">488kB</td>
   <td><tt>f8260bfc948d5e98abc1f86cde20754c99e23d75373fd1643da79be656fa1839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdenlive-24.11.90.tar.xz">kdenlive-24.11.90</a></td>
   <td align="right">12821kB</td>
   <td><tt>586e464cfff21abb1076d3d92f546dfd8b367c5c38775715b6b4f89a2d6ad873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdepim-addons-24.11.90.tar.xz">kdepim-addons-24.11.90</a></td>
   <td align="right">2556kB</td>
   <td><tt>0d3ce41af12efa294a2bb052c997642578d3b96c5b21bbc5f2f310be91958514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdepim-runtime-24.11.90.tar.xz">kdepim-runtime-24.11.90</a></td>
   <td align="right">1625kB</td>
   <td><tt>75f2f553ff94eb75516d1ff605f6c8d4dc79448f1de843e37022e52f72dde92a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdesdk-kio-24.11.90.tar.xz">kdesdk-kio-24.11.90</a></td>
   <td align="right">40kB</td>
   <td><tt>0c8a861adfb2592f2d82ea6580f0df2a3542cee01e92e7d1befd27b7deda01c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdesdk-thumbnailers-24.11.90.tar.xz">kdesdk-thumbnailers-24.11.90</a></td>
   <td align="right">26kB</td>
   <td><tt>dfb270489ad45c6472101f7c3c0f08de5c5c4797b8dbfe9b1ebcb89a9e28a437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdevelop-24.11.90.tar.xz">kdevelop-24.11.90</a></td>
   <td align="right">8623kB</td>
   <td><tt>871b5f9d607b16368e5b5b3651a79c017baef02a5bd7b34cecaf9c2b71b85b56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdev-php-24.11.90.tar.xz">kdev-php-24.11.90</a></td>
   <td align="right">1068kB</td>
   <td><tt>a13d59320a3e003a8758c09a3842e03fcaff9593b8cd6deec8674a1ba6458ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdev-python-24.11.90.tar.xz">kdev-python-24.11.90</a></td>
   <td align="right">1077kB</td>
   <td><tt>7718a6c58b3c1588dfbcf2d2c31ea6246620d15efb1f50a1af3f105517413f1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdf-24.11.90.tar.xz">kdf-24.11.90</a></td>
   <td align="right">468kB</td>
   <td><tt>a2673f1760df216683b4d7c1bedd75f15784a2d0403246e7096b28c8d8ab3eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdialog-24.11.90.tar.xz">kdialog-24.11.90</a></td>
   <td align="right">143kB</td>
   <td><tt>938bd603df96b735b3c74c68cd3c97ed38c44e2674927ce2642e9fdf09bc9df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kdiamond-24.11.90.tar.xz">kdiamond-24.11.90</a></td>
   <td align="right">4563kB</td>
   <td><tt>c8f794814dae6c517383a850024c2f2bd98c99488b793dfaf03ecbec11760ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/keditbookmarks-24.11.90.tar.xz">keditbookmarks-24.11.90</a></td>
   <td align="right">254kB</td>
   <td><tt>30c93c02bcfcbc2872df067206112c619fbc5373e11eda13ccc75ef5fdd7b0ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/keysmith-24.11.90.tar.xz">keysmith-24.11.90</a></td>
   <td align="right">168kB</td>
   <td><tt>21a52680769c20e0f640e851513ebd3acf238d10d095f7d5092b4eca6a284ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kfind-24.11.90.tar.xz">kfind-24.11.90</a></td>
   <td align="right">322kB</td>
   <td><tt>4a9160836fafd4155af2a8b59888d0b3007893138a713aa3fe96779722d373ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kfourinline-24.11.90.tar.xz">kfourinline-24.11.90</a></td>
   <td align="right">728kB</td>
   <td><tt>a59d3ba603cc824966ce78db8309f3b9bea9a38ee5919f681a285c8af072e25e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kgeography-24.11.90.tar.xz">kgeography-24.11.90</a></td>
   <td align="right">12133kB</td>
   <td><tt>a0211542bb1caa939ba470220e525c98c1b8eb91f48127064cd166c05d946c32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kget-24.11.90.tar.xz">kget-24.11.90</a></td>
   <td align="right">4798kB</td>
   <td><tt>5d83514144f9830d8307affc24e52b5d8d8583d544e0c4a5f42531c87ed7ce8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kgoldrunner-24.11.90.tar.xz">kgoldrunner-24.11.90</a></td>
   <td align="right">4241kB</td>
   <td><tt>79b9bcac2b0c5a7c13282c9a0f1bc83c9fb61d1421c29013d904ba6ee82fd6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kgpg-24.11.90.tar.xz">kgpg-24.11.90</a></td>
   <td align="right">2961kB</td>
   <td><tt>f2add7a938e47bd485011f8df198c73ce2efdae4111f669fbf953e4c65284230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kgraphviewer-24.11.90.tar.xz">kgraphviewer-24.11.90</a></td>
   <td align="right">1553kB</td>
   <td><tt>bbd99fe2198549601d5ee3afb2e342595ed09df647a212ec4fa2e9a33611aa7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/khangman-24.11.90.tar.xz">khangman-24.11.90</a></td>
   <td align="right">6857kB</td>
   <td><tt>34c9129cd2b24d863fef14a4ab8bdf875453f3a2f4723bfa7fcec00feb3f6eb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/khealthcertificate-24.11.90.tar.xz">khealthcertificate-24.11.90</a></td>
   <td align="right">502kB</td>
   <td><tt>5032127a7a679b441e963313e26283758eb4f22879ddcb819510e1e60070135c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/khelpcenter-24.11.90.tar.xz">khelpcenter-24.11.90</a></td>
   <td align="right">4139kB</td>
   <td><tt>f1032960e131417df936dae5bf15ea137c4a66cec1876f2d06ebc78987cf47b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kidentitymanagement-24.11.90.tar.xz">kidentitymanagement-24.11.90</a></td>
   <td align="right">192kB</td>
   <td><tt>ed5a408232e023433c3c0c6d92d982819aeab1170243de36fff734dcf652bcd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kig-24.11.90.tar.xz">kig-24.11.90</a></td>
   <td align="right">3170kB</td>
   <td><tt>eba1db867281740cea75a0f9ea6820a17d9c0e6bc5a85572dfc016c5e275e3e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kigo-24.11.90.tar.xz">kigo-24.11.90</a></td>
   <td align="right">4719kB</td>
   <td><tt>b9a01aac598196a157dbeeead9db3d6432dc76b4540adce76cd5f407942c77de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/killbots-24.11.90.tar.xz">killbots-24.11.90</a></td>
   <td align="right">1145kB</td>
   <td><tt>e7a34788a80343ae9ef153b0f79f327469d366d3d24f2fe4100e7ad88bfda85b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kimagemapeditor-24.11.90.tar.xz">kimagemapeditor-24.11.90</a></td>
   <td align="right">1049kB</td>
   <td><tt>f2f60d454e3e717f391b07cf32841ba1e7d772489933e71e0fe1431f09b8fea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kimap-24.11.90.tar.xz">kimap-24.11.90</a></td>
   <td align="right">129kB</td>
   <td><tt>b2194443b55eee38a514a8649357a93183419e5525b89d18f6b5804c4eb754f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kio-admin-24.11.90.tar.xz">kio-admin-24.11.90</a></td>
   <td align="right">38kB</td>
   <td><tt>7a766c4d76b91def27f610fc8279dbed5fb3c2b9e17ae2dafe180847bc8247dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kio-extras-24.11.90.tar.xz">kio-extras-24.11.90</a></td>
   <td align="right">3431kB</td>
   <td><tt>9d5da036f84da932ed2209483db3f940a64cfdb1996d8831da7816081d7ecf13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kio-gdrive-24.11.90.tar.xz">kio-gdrive-24.11.90</a></td>
   <td align="right">78kB</td>
   <td><tt>ee26851229a946ccb368413d4408acf31448a1f8b3318da1d65829753b1816d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kio-zeroconf-24.11.90.tar.xz">kio-zeroconf-24.11.90</a></td>
   <td align="right">43kB</td>
   <td><tt>273ff72bf6d8013976b208a47b05786c874d7874e7ae8ee7f95461dae79a4c5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kirigami-gallery-24.11.90.tar.xz">kirigami-gallery-24.11.90</a></td>
   <td align="right">361kB</td>
   <td><tt>d7b4c1c5c0534c28d57f15e470ddeaf3f670c70a7ed03361e7487889c46b399d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kiriki-24.11.90.tar.xz">kiriki-24.11.90</a></td>
   <td align="right">365kB</td>
   <td><tt>0efb3e5688a8a72973a2d00f88229ea7081c61e9296ce01069e1e4c3b82708f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kiten-24.11.90.tar.xz">kiten-24.11.90</a></td>
   <td align="right">11048kB</td>
   <td><tt>69a8f084bea242e64252cb025c038c5e40e2f9030123e63c1caf43a9563dd672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kitinerary-24.11.90.tar.xz">kitinerary-24.11.90</a></td>
   <td align="right">1946kB</td>
   <td><tt>66190979be09d16227ce1f2b7573b17d6777aefcd1eef53f903c12beb086fdc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kjournald-24.11.90.tar.xz">kjournald-24.11.90</a></td>
   <td align="right">509kB</td>
   <td><tt>db092ea7f9ef22dae8266261d63f1af690690bb92f412325eb000e718e8de6bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kjumpingcube-24.11.90.tar.xz">kjumpingcube-24.11.90</a></td>
   <td align="right">338kB</td>
   <td><tt>27f8732772dd7777fbbc4091682b64310a9529d4d32f5bc6c96b19db9a33e2b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kldap-24.11.90.tar.xz">kldap-24.11.90</a></td>
   <td align="right">185kB</td>
   <td><tt>6e6449cb335c3e84dea4bdef8bbe3e7508b457dd14fe6d3b08f6019a3b7d91c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kleopatra-24.11.90.tar.xz">kleopatra-24.11.90</a></td>
   <td align="right">2717kB</td>
   <td><tt>01888d15e047215056a97c9829c9574ffa5b1a9d2b49f658a21a16c451c47ae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/klettres-24.11.90.tar.xz">klettres-24.11.90</a></td>
   <td align="right">46080kB</td>
   <td><tt>136f9cadfaf1282dfce488e2ff4bcc03ca8d21291593aed1347e460f18e70dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/klickety-24.11.90.tar.xz">klickety-24.11.90</a></td>
   <td align="right">1354kB</td>
   <td><tt>1ae09da411f0c95acb27b9fe01b191d052c08f0446d96f2969c7aa5f7874de67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/klines-24.11.90.tar.xz">klines-24.11.90</a></td>
   <td align="right">1634kB</td>
   <td><tt>aa56944c4741c6873a667e5c7b445d7c2da1559be98bbc313de837b5539930bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmag-24.11.90.tar.xz">kmag-24.11.90</a></td>
   <td align="right">661kB</td>
   <td><tt>8f63ce6daa3116932b76424e3ebab243ba152c70015d4f061dcd2e188f793b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmahjongg-24.11.90.tar.xz">kmahjongg-24.11.90</a></td>
   <td align="right">3632kB</td>
   <td><tt>fe24464b94e1bd5a374e1692b383b001b09598f7a7b911aad543d9fc63c8314b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmail-24.11.90.tar.xz">kmail-24.11.90</a></td>
   <td align="right">7588kB</td>
   <td><tt>a7412ea368fc354681acad1fb324f0553f4cd53841a56bef932baaf7553abef8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmail-account-wizard-24.11.90.tar.xz">kmail-account-wizard-24.11.90</a></td>
   <td align="right">163kB</td>
   <td><tt>c25e786efef0eef9100721c721a6993deb3689db428b2b3c991bae808a96f51f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmailtransport-24.11.90.tar.xz">kmailtransport-24.11.90</a></td>
   <td align="right">184kB</td>
   <td><tt>a0ae59255d14b57b1f35379ebda59350301671570767985b48d98256ea3072a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmbox-24.11.90.tar.xz">kmbox-24.11.90</a></td>
   <td align="right">28kB</td>
   <td><tt>2059eb58b073d21ce0b1ea71d63cb633a52843de40e30e969a039393b5878b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmime-24.11.90.tar.xz">kmime-24.11.90</a></td>
   <td align="right">161kB</td>
   <td><tt>f998c96a5dcaf5fbbe6f500d38589ff27a42b6ee4eb1e4af4f5d2ab006639ca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmines-24.11.90.tar.xz">kmines-24.11.90</a></td>
   <td align="right">926kB</td>
   <td><tt>c5b70086b21ed98a6efb07e445ed1399eddb4745b9e8a50bb07c3cca8ebcde60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmix-24.11.90.tar.xz">kmix-24.11.90</a></td>
   <td align="right">1139kB</td>
   <td><tt>9b1e13fc48880c9be8f302d05da5ad1dc16697c312ec0b08137b67c00991d24b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmousetool-24.11.90.tar.xz">kmousetool-24.11.90</a></td>
   <td align="right">131kB</td>
   <td><tt>3dd69a59f71cbcc0ad1c0254db8b5279532a03c7248f2ad8d5ed56526986ac26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmouth-24.11.90.tar.xz">kmouth-24.11.90</a></td>
   <td align="right">1894kB</td>
   <td><tt>9d9933ae40ffc6caf3902d037b99209e78ceeec25cffe1e75be67fedcdf8d5dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kmplot-24.11.90.tar.xz">kmplot-24.11.90</a></td>
   <td align="right">2951kB</td>
   <td><tt>fe97791456777dbdb21cba6785c60a076595f4a099da0f371b8896d4c10d50de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/knavalbattle-24.11.90.tar.xz">knavalbattle-24.11.90</a></td>
   <td align="right">1023kB</td>
   <td><tt>b0a361086154580db14c6ca99219f34854e861f77538fb05fcef5571981fcdae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/knetwalk-24.11.90.tar.xz">knetwalk-24.11.90</a></td>
   <td align="right">986kB</td>
   <td><tt>8fc753de7a31d03aced7b119c67864d5e6cbc1c716800a68b40a73f40c77c10a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/knights-24.11.90.tar.xz">knights-24.11.90</a></td>
   <td align="right">2433kB</td>
   <td><tt>23664229d034aaab42f60181304b121cf6e4d2994f84eb943d5318ba1214051b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/koko-24.11.90.tar.xz">koko-24.11.90</a></td>
   <td align="right">8336kB</td>
   <td><tt>5b3e15905881365b223125fcb9286d1b072ed248f61e7113699a8cfd2531a3a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kolf-24.11.90.tar.xz">kolf-24.11.90</a></td>
   <td align="right">1055kB</td>
   <td><tt>a0960c4ab3cd1ee061fe9da7648780fa9c54bb4cb52ab6c0787ba7dac170c215</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kollision-24.11.90.tar.xz">kollision-24.11.90</a></td>
   <td align="right">304kB</td>
   <td><tt>c2fd741b6a34d46588ba0daee402abc593bf49bb7d33e1074017542382d19732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kolourpaint-24.11.90.tar.xz">kolourpaint-24.11.90</a></td>
   <td align="right">5185kB</td>
   <td><tt>4ad8e37cc59fa1e1a86fa5f207316097a49770d4abf608d27601228bf8f3845b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kompare-24.11.90.tar.xz">kompare-24.11.90</a></td>
   <td align="right">935kB</td>
   <td><tt>8fe2b8f3a627846c26acccf4eb8278094760f62909510ae7f61b993275065926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kongress-24.11.90.tar.xz">kongress-24.11.90</a></td>
   <td align="right">152kB</td>
   <td><tt>745c0c1be7bdf351497c45b890f64689f6a111b7f55e8dd86a49b793f069e800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/konqueror-24.11.90.tar.xz">konqueror-24.11.90</a></td>
   <td align="right">9518kB</td>
   <td><tt>58096b980a4bad30fa9bf206c4b27eab7262d1578a9e1e64d3df647ecdb4acc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/konquest-24.11.90.tar.xz">konquest-24.11.90</a></td>
   <td align="right">841kB</td>
   <td><tt>58d45a03e23b98c38c2d894e29b2b4323b7b9673d5b5140fedb58c5dc6713d19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/konsole-24.11.90.tar.xz">konsole-24.11.90</a></td>
   <td align="right">1775kB</td>
   <td><tt>16e8879cdc37e68257fdb6f31ce43c6edf18e06e3d61dcc526062295d72bd910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kontact-24.11.90.tar.xz">kontact-24.11.90</a></td>
   <td align="right">848kB</td>
   <td><tt>b5ea9a96786d379344fb69f81318a9de8a332a068a988c7d6a343b66aa8b3a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kontactinterface-24.11.90.tar.xz">kontactinterface-24.11.90</a></td>
   <td align="right">39kB</td>
   <td><tt>ff194e1056c953531ab1938f2dceb8b391448e27878f7b3ec006631cda16305d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kontrast-24.11.90.tar.xz">kontrast-24.11.90</a></td>
   <td align="right">212kB</td>
   <td><tt>32ccd7dd17e35b8c392291b860dabd944473464ec54da6da6768744afb852908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/konversation-24.11.90.tar.xz">konversation-24.11.90</a></td>
   <td align="right">4311kB</td>
   <td><tt>0a495458532312b810e51a71661024e88cb9d26bde6d0b4cebbafcaccd3b5428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kopeninghours-24.11.90.tar.xz">kopeninghours-24.11.90</a></td>
   <td align="right">73kB</td>
   <td><tt>6ba9df105a2aa9218956d520dfd13c37985ab79a47768d565bea359ac002b322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/korganizer-24.11.90.tar.xz">korganizer-24.11.90</a></td>
   <td align="right">2870kB</td>
   <td><tt>cdbcd02995ea10dd40a64437e090fe85b75614f4b1f7d9b5db11fa79c3062603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kosmindoormap-24.11.90.tar.xz">kosmindoormap-24.11.90</a></td>
   <td align="right">676kB</td>
   <td><tt>c3babb06c60ff2955bef342f227497b2c8a40fe177b22295cf87695cb8703533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kpat-24.11.90.tar.xz">kpat-24.11.90</a></td>
   <td align="right">3647kB</td>
   <td><tt>e1bad5436a98475dbdf332e3dfe1ca7988a6cf475b3be93b2654b22a5bcd5a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kpimtextedit-24.11.90.tar.xz">kpimtextedit-24.11.90</a></td>
   <td align="right">172kB</td>
   <td><tt>8793a7df5a0906bcc68aea11c508f41dfbdd893443ce0a90759245674cc899ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kpkpass-24.11.90.tar.xz">kpkpass-24.11.90</a></td>
   <td align="right">28kB</td>
   <td><tt>f6741e19db73131d5fde3d4be930b3fe981e14966aa755a7c4e6899a3aedc6d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kpmcore-24.11.90.tar.xz">kpmcore-24.11.90</a></td>
   <td align="right">631kB</td>
   <td><tt>c53cb3a22522c4142ac955eb7a7075bba70b0755598fab781203c51347d16bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kpublictransport-24.11.90.tar.xz">kpublictransport-24.11.90</a></td>
   <td align="right">738kB</td>
   <td><tt>3a75a69067bb3f9fd0a92c3a716a1097a1321d00cd4cf96311aaff9496070b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kqtquickcharts-24.11.90.tar.xz">kqtquickcharts-24.11.90</a></td>
   <td align="right">30kB</td>
   <td><tt>ac032e3a96a8ec82561300214f0f573e0cc72f528b6160f44a936175bf63c838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/krdc-24.11.90.tar.xz">krdc-24.11.90</a></td>
   <td align="right">1521kB</td>
   <td><tt>42055db1c414a508e8811bd62e8fb2b05d282e38cfcdb99693a801c3d5bbd459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/krecorder-24.11.90.tar.xz">krecorder-24.11.90</a></td>
   <td align="right">164kB</td>
   <td><tt>4b478f1081e1612eabf659a78d5ecf29ab08639e26969b7f85e46c82db30bf07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kreversi-24.11.90.tar.xz">kreversi-24.11.90</a></td>
   <td align="right">1009kB</td>
   <td><tt>ddc5eeff41d08080cdbddf6bae94fb3af1fc78e73298d28f1e8a1c7355a4595a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/krfb-24.11.90.tar.xz">krfb-24.11.90</a></td>
   <td align="right">1189kB</td>
   <td><tt>d4390bdc8879690bc7f0daae1f3cc153b98fc575ff9c5d610c2de7e87672746c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kross-interpreters-24.11.90.tar.xz">kross-interpreters-24.11.90</a></td>
   <td align="right">148kB</td>
   <td><tt>9be345621404be27c81bd1f65cd469bc3d9e241e16e35fc34365a997bc7a6ee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kruler-24.11.90.tar.xz">kruler-24.11.90</a></td>
   <td align="right">279kB</td>
   <td><tt>94e668889c5efaec75a87c34efeb9d0c1391cd0d01e00a98eaf893a7651dfebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ksanecore-24.11.90.tar.xz">ksanecore-24.11.90</a></td>
   <td align="right">53kB</td>
   <td><tt>b298b9d543edfb514f1098fdccadf36d81f0ffdae3166ad3ce84a4f4c6afbd66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kshisen-24.11.90.tar.xz">kshisen-24.11.90</a></td>
   <td align="right">949kB</td>
   <td><tt>7d177be185ba62835c55961fc10fa7515273e18f1d7c9a0bf824b0eaa7078ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ksirk-24.11.90.tar.xz">ksirk-24.11.90</a></td>
   <td align="right">6547kB</td>
   <td><tt>0f213eb5d69f525caca1628a0a73e2a822f93b08e69ca224c4101f89c70a53ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ksmtp-24.11.90.tar.xz">ksmtp-24.11.90</a></td>
   <td align="right">51kB</td>
   <td><tt>f1e8d725a90295ca4cedc41e191f19e8f014cabced94f3404e3054b58ee00e68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ksnakeduel-24.11.90.tar.xz">ksnakeduel-24.11.90</a></td>
   <td align="right">564kB</td>
   <td><tt>fc84ac9d8e98aaf7fdfe22ac692cf3f0614f5780f770714e51f66a111fe34783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kspaceduel-24.11.90.tar.xz">kspaceduel-24.11.90</a></td>
   <td align="right">620kB</td>
   <td><tt>87eca30a264082b00a8d1bd89d8613f13abc181fd021819bdc93fe5b3db6ea44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ksquares-24.11.90.tar.xz">ksquares-24.11.90</a></td>
   <td align="right">314kB</td>
   <td><tt>2bd77e7d060edee22efe63921502a31818d25f154362c85b3e7a0ef23d5ed05a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ksudoku-24.11.90.tar.xz">ksudoku-24.11.90</a></td>
   <td align="right">1688kB</td>
   <td><tt>20691f47ccc3f66e34cc9c6e783f8e9fcb90600e89dffb066ff11ee67ffd452a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ksystemlog-24.11.90.tar.xz">ksystemlog-24.11.90</a></td>
   <td align="right">1814kB</td>
   <td><tt>fb26202948925560500ad3ef82b60420ba53c805c23bfae294535dae5364a30a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kteatime-24.11.90.tar.xz">kteatime-24.11.90</a></td>
   <td align="right">302kB</td>
   <td><tt>e8b586afd0686dfd68d1f1acff52628884bb95bf9157b28130f920fd81ea0de8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ktimer-24.11.90.tar.xz">ktimer-24.11.90</a></td>
   <td align="right">442kB</td>
   <td><tt>3d9d4d803003d58c0abff888a4977467b23eab8e119c61b2f059ae4079aa7a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ktnef-24.11.90.tar.xz">ktnef-24.11.90</a></td>
   <td align="right">306kB</td>
   <td><tt>aff12baa6a740ad88594008c8683735ab98ef35f6ffb58ab6e3e18e46986ed9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ktorrent-24.11.90.tar.xz">ktorrent-24.11.90</a></td>
   <td align="right">2138kB</td>
   <td><tt>456c31f4968a6be4eefcd4264ae4fac47f1edb79de6b7cf719a356be15d9b6d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ktouch-24.11.90.tar.xz">ktouch-24.11.90</a></td>
   <td align="right">4673kB</td>
   <td><tt>1cdce2636b5c937b491daddcf6e0f827665674f3c40a8dd86c368f689939e8cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ktrip-24.11.90.tar.xz">ktrip-24.11.90</a></td>
   <td align="right">1014kB</td>
   <td><tt>eb3f45703529140b1b619c837be41957ff4387cb5e885b4f9d4d9f776becd1ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/ktuberling-24.11.90.tar.xz">ktuberling-24.11.90</a></td>
   <td align="right">69893kB</td>
   <td><tt>af4e7dd9c936ecd5ad09ac631b4875c15e403a75873aa3457b917cc4c6dd7eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kturtle-24.11.90.tar.xz">kturtle-24.11.90</a></td>
   <td align="right">2046kB</td>
   <td><tt>a759e58a8ff1965e2e9c379367be68e4f4d57246fcf96ce7321bfb3da03ba4e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kubrick-24.11.90.tar.xz">kubrick-24.11.90</a></td>
   <td align="right">366kB</td>
   <td><tt>0857b5a627722774a61411779380290c98e748b99e3d26709469badc28acf101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kunifiedpush-24.11.90.tar.xz">kunifiedpush-24.11.90</a></td>
   <td align="right">52kB</td>
   <td><tt>baa6d912b28df2b7f29b774224ae6dac38e900d1ec4fd8e81728dae487587cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kwalletmanager-24.11.90.tar.xz">kwalletmanager-24.11.90</a></td>
   <td align="right">1024kB</td>
   <td><tt>e2de11a2a62fd0fb64af613bbe532ac26df61090d0b53aba50dccdc03a447d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kwave-24.11.90.tar.xz">kwave-24.11.90</a></td>
   <td align="right">6316kB</td>
   <td><tt>efb60437bc513aeb776b52161c1e86f6aa3d7e2393d25a72b30b27be19eaf2cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kweather-24.11.90.tar.xz">kweather-24.11.90</a></td>
   <td align="right">353kB</td>
   <td><tt>a0d65b0871766d07fb76765e76a3cda275b92a16002bb6a7bcbf7b54b0f27b81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kweathercore-24.11.90.tar.xz">kweathercore-24.11.90</a></td>
   <td align="right">74kB</td>
   <td><tt>baf57641af955c41b021ba6165ef1b4fe4b51038861389478ebc23753e65e48c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/kwordquiz-24.11.90.tar.xz">kwordquiz-24.11.90</a></td>
   <td align="right">3688kB</td>
   <td><tt>16c9aa7604518b58e755231f5c44963fead99532ded6b109a8c334e9ae1dd2c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libgravatar-24.11.90.tar.xz">libgravatar-24.11.90</a></td>
   <td align="right">37kB</td>
   <td><tt>001d95b816b4ec08905bf39d35be5b2fb555ecdc32aa31c6ae6af635645b889e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libkcddb-24.11.90.tar.xz">libkcddb-24.11.90</a></td>
   <td align="right">439kB</td>
   <td><tt>7749f977239c5ad90de4baf1753ab1674007436f94eb57f447203608fbc2a58d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libkcompactdisc-24.11.90.tar.xz">libkcompactdisc-24.11.90</a></td>
   <td align="right">98kB</td>
   <td><tt>b2c661e8f27dde711b77de78d4fa9b5aad5f5f7a66619c081f0e7b204ad5bb18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libkdcraw-24.11.90.tar.xz">libkdcraw-24.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>2d32d36b5bd636b05fe6a09878e9c7088328edd9720abdeb7e0933da114663ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libkdegames-24.11.90.tar.xz">libkdegames-24.11.90</a></td>
   <td align="right">5855kB</td>
   <td><tt>a43cb8dae0257c46126d93dc953afe9f37b98e8fb495483e5f06ef7d0b4299bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libkdepim-24.11.90.tar.xz">libkdepim-24.11.90</a></td>
   <td align="right">276kB</td>
   <td><tt>b4d48c77d3e2fff529b892ca778208a188543b4de9491eccf1db56e3a60fe89b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libkeduvocdocument-24.11.90.tar.xz">libkeduvocdocument-24.11.90</a></td>
   <td align="right">223kB</td>
   <td><tt>27a9d36fc239447d7a127b69f9734855a7501c9a2032e79ea54caa060fff3506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libkexiv2-24.11.90.tar.xz">libkexiv2-24.11.90</a></td>
   <td align="right">59kB</td>
   <td><tt>c9a5c4db5b4e8c8eb4070164acb4e3195b831e250560e832f1e3c5d75f7a1384</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libkgapi-24.11.90.tar.xz">libkgapi-24.11.90</a></td>
   <td align="right">331kB</td>
   <td><tt>ffc41fe393e40a5c660f8a1bb9c02e537f983386855988ba7769d55f1db9c017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libkleo-24.11.90.tar.xz">libkleo-24.11.90</a></td>
   <td align="right">620kB</td>
   <td><tt>2c69ec74b074a338b8d34e69291e41e72174d74b345a857933d103081d8c19c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libkmahjongg-24.11.90.tar.xz">libkmahjongg-24.11.90</a></td>
   <td align="right">1654kB</td>
   <td><tt>7bbb7adf81b4297f11832775c6c3c9664b80558a4431316ac43081ece8828287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libkomparediff2-24.11.90.tar.xz">libkomparediff2-24.11.90</a></td>
   <td align="right">183kB</td>
   <td><tt>a775bd0a0ed7d3b2054691f21802c9e4124704f476029f17e646766c9a65807e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libksane-24.11.90.tar.xz">libksane-24.11.90</a></td>
   <td align="right">151kB</td>
   <td><tt>ff304905a6f22ebcdda81f7ce82c822bd73eef599132ddf63144cb37238ceefc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libksieve-24.11.90.tar.xz">libksieve-24.11.90</a></td>
   <td align="right">589kB</td>
   <td><tt>0dabb58c8baa152f9f940d8ff35e9b6f848dabf1364f34ee224c5a4f4f80ab5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/libktorrent-24.11.90.tar.xz">libktorrent-24.11.90</a></td>
   <td align="right">590kB</td>
   <td><tt>1a7be32ecc0a19b68130d2d46868bfbcc890c7280716718e153703dc08cf3f32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/lokalize-24.11.90.tar.xz">lokalize-24.11.90</a></td>
   <td align="right">2011kB</td>
   <td><tt>8074c31834accbe19ded50378672d24aa1f702447029ba80e84b4a90be9f2ac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/lskat-24.11.90.tar.xz">lskat-24.11.90</a></td>
   <td align="right">1198kB</td>
   <td><tt>4e331b288b002c9539d97c998f53cf8081ab7b4b758fabb902a93f5de47b1297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/mailcommon-24.11.90.tar.xz">mailcommon-24.11.90</a></td>
   <td align="right">771kB</td>
   <td><tt>f280617929bebd9d5d27888d7e6480d94fc00e976410c5ac692a792e41756852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/mailimporter-24.11.90.tar.xz">mailimporter-24.11.90</a></td>
   <td align="right">582kB</td>
   <td><tt>365fb4dce127f6d39ef5000e83bec7d8add8c08506fd3a47db5ae3ee064211cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/marble-24.11.90.tar.xz">marble-24.11.90</a></td>
   <td align="right">52373kB</td>
   <td><tt>afbb382d1e9feed83eaf9977fa2c4d4e3bfc684b77d3f6b6f5893d4346ace3c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/markdownpart-24.11.90.tar.xz">markdownpart-24.11.90</a></td>
   <td align="right">33kB</td>
   <td><tt>484d48041bb98647109e0273f38b053c542bececc8c27be7e9560d70eed13587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/massif-visualizer-24.11.90.tar.xz">massif-visualizer-24.11.90</a></td>
   <td align="right">272kB</td>
   <td><tt>3494229f4f9a989bef6045fa65cb6f0441ed8d7b5e886d8c445ce859a22eaa90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/mbox-importer-24.11.90.tar.xz">mbox-importer-24.11.90</a></td>
   <td align="right">31kB</td>
   <td><tt>a2d127c8e59b32ef1a4ed4394f0bbe0eb4e2f6ccc9fafdb583771c082b6bb9f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/merkuro-24.11.90.tar.xz">merkuro-24.11.90</a></td>
   <td align="right">773kB</td>
   <td><tt>4549f9414419efc68828ef5065f005b1ba3458c9e663e5dd76644707a04b202a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/messagelib-24.11.90.tar.xz">messagelib-24.11.90</a></td>
   <td align="right">7220kB</td>
   <td><tt>193dda947f9244ea6d2c21a11924ca756ea434cf97927dca6e3420f2041e7170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/mimetreeparser-24.11.90.tar.xz">mimetreeparser-24.11.90</a></td>
   <td align="right">631kB</td>
   <td><tt>eebb51810b796a1e71cf3e36abff2e4895dd2242deb4d0f3775860e3fc4d913e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/minuet-24.11.90.tar.xz">minuet-24.11.90</a></td>
   <td align="right">27048kB</td>
   <td><tt>e10cfc366142554702e58a57d2b7477bc34f7f20ab804aa615ec164a9fb3bd1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/neochat-24.11.90.tar.xz">neochat-24.11.90</a></td>
   <td align="right">1037kB</td>
   <td><tt>6779a3e5ced11d0fffe7f231f15542ebba790da204b86859066c1f4c51673b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/okular-24.11.90.tar.xz">okular-24.11.90</a></td>
   <td align="right">7867kB</td>
   <td><tt>9eeda79d076d9daff16ab51a96ab4678a0055d6c01e457adf41707421d251b73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/palapeli-24.11.90.tar.xz">palapeli-24.11.90</a></td>
   <td align="right">2072kB</td>
   <td><tt>b1d0267f9438ed77c93d1814288b77f100e4420b3b51770b9decdd88417fb2da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/parley-24.11.90.tar.xz">parley-24.11.90</a></td>
   <td align="right">8236kB</td>
   <td><tt>1bcdc1f984bfaa49d53a45735bd347d7cd089db2623206d185260b7afd41433a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/partitionmanager-24.11.90.tar.xz">partitionmanager-24.11.90</a></td>
   <td align="right">2268kB</td>
   <td><tt>641ef0becbae2912ef14ac36fded338a838efcf752afb99dc07905e6cbb9ba55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/picmi-24.11.90.tar.xz">picmi-24.11.90</a></td>
   <td align="right">1483kB</td>
   <td><tt>03d7f93ac5dbfab1eaaee715c9bc058d90248b7b5e65e3c29b8852273075dcc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/pimcommon-24.11.90.tar.xz">pimcommon-24.11.90</a></td>
   <td align="right">356kB</td>
   <td><tt>a2b9e1fd68e237b1ad4f8d112ac65d4fddf370e904935ed14252b1972e74acb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/pim-data-exporter-24.11.90.tar.xz">pim-data-exporter-24.11.90</a></td>
   <td align="right">411kB</td>
   <td><tt>95dc84c781079baa7eb01d77f8d6edb1d8cf38dd4f34de81d1bca26fd8855090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/pim-sieve-editor-24.11.90.tar.xz">pim-sieve-editor-24.11.90</a></td>
   <td align="right">459kB</td>
   <td><tt>6fc598020803de30fb5c49e85636d0de82aee36d5ec2eecf7d442f79e132a1fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/plasmatube-24.11.90.tar.xz">plasmatube-24.11.90</a></td>
   <td align="right">210kB</td>
   <td><tt>7dcfaa6ef5884ce64a775cb2510a20164da82b8e62ce9de5db0d5aeab44406bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/poxml-24.11.90.tar.xz">poxml-24.11.90</a></td>
   <td align="right">44kB</td>
   <td><tt>157977185ae6733e46199fd858d45123a18cafb46fd88a61a7876216f3cfec17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/qmlkonsole-24.11.90.tar.xz">qmlkonsole-24.11.90</a></td>
   <td align="right">193kB</td>
   <td><tt>81bbd747fcbc29c76615708c74db7144622e6ea3366e34fdeaee4d5ca34fb1f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/rocs-24.11.90.tar.xz">rocs-24.11.90</a></td>
   <td align="right">1530kB</td>
   <td><tt>88c67b460ee6573637a4049646f386474a9a9aa704e7864e29c4b031bfa74f99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/signon-kwallet-extension-24.11.90.tar.xz">signon-kwallet-extension-24.11.90</a></td>
   <td align="right">11kB</td>
   <td><tt>f68609b1311e0888f8eaf451c7ab1042f76257c8d0c0574e93f4e1ced372bad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/skanlite-24.11.90.tar.xz">skanlite-24.11.90</a></td>
   <td align="right">2334kB</td>
   <td><tt>a1fe8d1ff121f36c15525d866f2051ad40dc940c8f5b3698bd9eb9fb41ac76a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/skanpage-24.11.90.tar.xz">skanpage-24.11.90</a></td>
   <td align="right">1306kB</td>
   <td><tt>6755579894cd4bec7429148b346cc2ac0b82a3f34c07afea10e1894e062f9e79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/skladnik-24.11.90.tar.xz">skladnik-24.11.90</a></td>
   <td align="right">403kB</td>
   <td><tt>a39dde2c081c7cca35903b626bea23056c92a5d80172ba333e7b597f2a7e64e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/spectacle-24.11.90.tar.xz">spectacle-24.11.90</a></td>
   <td align="right">1524kB</td>
   <td><tt>d60eaaa984447fb2ed9191eeb7e69b7532dc224a2e631036d9c0d986608221b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/step-24.11.90.tar.xz">step-24.11.90</a></td>
   <td align="right">965kB</td>
   <td><tt>67225fd2935d726aa296818fedfb0cc42568c8ef5866abf4350804e6a5660f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/svgpart-24.11.90.tar.xz">svgpart-24.11.90</a></td>
   <td align="right">29kB</td>
   <td><tt>12dc124c9a3addbdff3278b7d7931b1907a3fbe2b40ae42357907cbe76ee0f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/sweeper-24.11.90.tar.xz">sweeper-24.11.90</a></td>
   <td align="right">375kB</td>
   <td><tt>1180c1f4c82d0d15a1137ad5a6e652d3659c8e7afbadd458db747d65b2be29ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/telly-skout-24.11.90.tar.xz">telly-skout-24.11.90</a></td>
   <td align="right">103kB</td>
   <td><tt>1aef4f340eca51e58e0b2a1da5fa48006e82fe1070a63f1d2f3b13b61e65549e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/tokodon-24.11.90.tar.xz">tokodon-24.11.90</a></td>
   <td align="right">636kB</td>
   <td><tt>d1ea7fc48e3b78045e55b01f27b937351942fa6423c84ab25b82bb5181e7215e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/umbrello-24.11.90.tar.xz">umbrello-24.11.90</a></td>
   <td align="right">5486kB</td>
   <td><tt>8c493a9800e54fb5d1966a250c447afc93634e66f3bea8a2428769e94a121a43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/yakuake-24.11.90.tar.xz">yakuake-24.11.90</a></td>
   <td align="right">381kB</td>
   <td><tt>f99be79d6dffb5cd80ad94f798cb7af6afcc4e196dc457a3a3dea1c79a94e4c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.11.90/src/zanshin-24.11.90.tar.xz">zanshin-24.11.90</a></td>
   <td align="right">368kB</td>
   <td><tt>46a96a1c03a8b2a1f7e46c92f495d165b0cb5c28d4d07661d2143b27e021b047</tt></td>
</tr>

</table>
